@mixin content-section() {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  @media (max-width: 1000px) {
    width: 800px;
  }
  @media (max-width: 820px) {
    width: auto;
    padding: 0 10px;
  }
}

$ANIMATION-EASING: cubic-bezier(.25,.46,.45,.94);
$ANIMATION-WIDTH: 20px;
$ANIMATION-DURATION: .5s;

$MIN-ANIMATION-WIDTH: 1000px;

$MIDDLE-INTERFACE-WIDTH: 800px;
$MOBILE-INTERFACE-WIDTH: 600px;
