.feature-container.clearfix
  .animation(data-js-animation)
  .description
    a.h3(href='/docs/Auto-Analysis-of-launches' target='_blank') Delegate a part of analytics work to Artificial Intelegence
    p.text Reduce time cost and analyze the failure reasons by Auto-Analyzer based on Machine Learning.

