.feature-container.clearfix
  .animation(data-js-animation)
  .description
    a.h3(href='https://reportportal.io/docs/analysis/AutoAnalysisOfLaunches' target='_blank') Delegate a part of analytics work to Artificial Intelligence
    p.text Reduce time cost and analyze the failure reasons by Auto-Analyzer based on Machine Learning.

