.features-page_tester__analysis{
  box-shadow: inset 0 -1px 0 0 rgba(189, 199, 204, 0.2);
  .description{
    padding: 140px 150px 140px 28px;
    @media (max-width: 1280px) {
      padding-right: 50px;
    }
    @media(max-width: $SCREEN_SM_MAX){
      display: block;
      padding: 70px 0 0 0;
    }
    @media(max-width: $SCREEN_XS_MAX){
      padding: 20px 0 10px 0;
    }
  }
  .animation{
    display: block;
    height: 400px;
    width: 640px;
    @media(max-width: $SCREEN_XS_MAX){
      width: 100%;
      margin-bottom: 20px;
      height: 180px;
      background-size: contain;
    }
    &.ie-animate-analysis{
      animation: analysis-ie 6.5s step-start infinite;
    }
    @keyframes analysis-ie {
      0%, 11% {background-position: 0px 0px}
      11.1%,22.1% {background-position: -640px 0px}
      22.2%,33.2% {background-position: -1280px 0px}
      33.3%,44.3% {background-position: -1920px 0}
      44.5%,55.4% {background-position: -2560px 0 }
      55.5%,66.5% {background-position: -3200px 0}
      66.6%,77.6% {background-position: -3840px 0}
      77.7%,88.7% {background-position: -4480px 0}
      88.8%,100% {background-position: -5120px 0}
    }
    &.animate-analysis {
      animation: analysis 8.5s ease-in-out infinite;
    }
    @keyframes analysis {
      0%, 9% { background-image: url('./img/1.png')}
      11.1%,20.1% { background-image: url('./img/2.png')}
      22.2%,31.2% { background-image: url('./img/3.png')}
      33.3%,42.3% { background-image: url('./img/4.png')}
      44.5%,53.4% { background-image: url('./img/5.png') }
      55.5%,64.5% { background-image: url('./img/6.png')}
      66.6%,75.6% { background-image: url('./img/7.png')}
      77.7%,86.7% { background-image: url('./img/8.png')}
      88.8%,100% { background-image: url('./img/9.png')}
    }
  }
  &.ie-animation{
    .animation{
      background-image: url('./img/analysis.png');
      @media(max-width: $SCREEN_XS_MAX){
        background-image: url('./img/6.png');
      }
    }
  }
  &.default-animation{
    .animation{
      background-image: url('./img/1.png'),url('./img/2.png'),url('./img/3.png'),url('./img/4.png'),url('./img/5.png'),url('./img/6.png'),url('./img/7.png'), url('./img/8.png'),url('./img/9.png');
      @media(max-width: $SCREEN_XS_MAX){
        background-image: url('./img/6.png');
      }
    }
  }
}
