.feature-container.clearfix
  .animation
    img(src=require("./img/analysis.png"), alt="Delegate a part of analytics work to Artificial Intelegence")
  .description
    a.h3(href='/docs/Auto-Analysis-of-launches' target='blank') Delegate a part of analytics work to Artificial Intelegence
    p.text Reduce a time costs and analyze the failure reasons by Auto-Analyzer based on Machine Learning.

