@import '../../pageSectionMixin';

@media (min-width: $MIN-ANIMATION-WIDTH) {
  html.csstransforms {
    .features-page_tester__release {
      .h3, .text, ul {
        transform: translate(0, $ANIMATION-WIDTH);
        opacity: 0;
      }
      .animation{
        transform: translate(-$ANIMATION-WIDTH, 0);
        opacity: 0;
        transition: transform 1s $ANIMATION-EASING, opacity .5s $ANIMATION-EASING;
      }
      .h3 {
        transition: transform $ANIMATION-DURATION $ANIMATION-EASING, opacity $ANIMATION-DURATION $ANIMATION-EASING;
      }
      .text {
        transition: transform $ANIMATION-DURATION $ANIMATION-EASING .2s, opacity $ANIMATION-DURATION $ANIMATION-EASING .2s;
      }
      &.animate {
        .h3, .text, .animation {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  }
}
