.feature-container.clearfix
  .animation(data-js-animation)
  .description
    a.h3(href='/docs/Widget-Creation' target='_blank') Track release readiness
    p.text Use widget for creating the report about a product status, effectiveness of automation and a readiness to the Release.

