$COLOR-TOPAZ-DARK: #187083;
$COLOR-TOPAZ-TWO: #1b9ab0;
$COLOR-GRAY-80: #cccccc;
$COLOR-CHARCOAL-GREY: #464547;
$COLOR-GRAY-47: #777777;
$COLOR-GRAY-60: #999999;
$COLOR-GRAY-91: #e9e9e9;
$COLOR--white: #f5f5f5;
$COLOR-WHITE_TWO: #ffffff;
$COLOR-STEEL-GREY: #6f898d;
$COLOR-TOPAZ: #1a9cb0;
$COLOR-TOPAZ-BUTTON-SHADOW: #c6e6eb;
$COLOR-TEALISH: #39c2d7;
$COLOR-WHITE-TEXT: #F9F9F9;
$COLOR--khaki-green: #7F993A;
$COLOR--booger: #A3C644;
$COLOR--orangish: #FB7848;
$COLOR--pale-grey: #f2f5f5;
$COLOR--light-blue-grey: #D9F2F4;
$COLOR--tealish-hover: #d6f3f7;
$COLOR--brownish-grey: #666;
$COLOR--greyish: #A8A8A8;
$COLOR--dusty-orange: #E6532E;
$COLOR--dark-pastel-green: #5CB755;
$COLOR--skipped: #bdc7cc;
$COLOR--error-red: #EC3900;
$COLOR-WHITE-CARD-SHADOW: #eaeced;
$COLOR-WHITE-CARD-SHADOW-WITH-OPACITY: #eaeced90;
$COLOR-GREEN-MOST-POPULAR: #77D090;
$COLOR-TEXT-INFO: #BCBABA;
$COLOR-BACKGROUND-POPUP: #FAFFFF;
$COLOR-SHADOW-POPUP: #115454;
$COLOR-BACKGROUND-MODAL: #6F898D60;
