$SCREEN_XS_MIN: 320px;
$SCREEN_XS_MAX: 767px;

$SCREEN_SM_MIN: 768px;
$SCREEN_SM_MAX: 991px;

$SCREEN_MD_MIN: 992px;
$SCREEN_MD_MAX: 1199px;

$SCREEN_LG_MIN: 1200px;

$MOBILE_MIN: 320px;
$MOBILE_MAX: 640px;
$TABLET_MIN: 641px;
$TABLET_MAX: 1024px;
$DESKTOP_MIN: 1025px;
