@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.menu-dialog {
  border-radius: 0 0 16px 16px;

  .is-desktop & {
    position: absolute;
    left: 50%;
    z-index: var(--z-index);
    transform: translate(-50%, 0);
    border-top: 1px solid var(--purple-grey);
    box-shadow: 0 8px 24px rgb(34 61 69 / 0.08);
    background: var(--white);
    overflow: hidden;
  }

  &__body-row {
    display: flex;
  }

  &__body-col--lf {
    padding: 32px;
  }

  &__body-col--rt {
    border-left: 1px solid var(--purple-grey);
    background: var(--bg-light-grey);
    padding: 32px 32px 32px 24px;
  }

  &__body-col--flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__body-col--card {
    padding: 32px 32px 40px;
  }

  &__footer {
    border-top: 1px solid var(--purple-grey);

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 32px;
      min-width: 576px;

      .menu-dialog-community & {
        width: min-content;
      }
    }
  }

  &__btn-group {
    display: inline-flex;
    gap: 16px;
  }

  .btn {
    padding: 10px 21px;

    &--outline {
      padding: 8px 14px;
    }
  }

  &__btn-text {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(base);

    position: relative;
    border: none;
    background: transparent;
    padding: 10px 8px 10px 40px;
    color: var(--text-primary);
    cursor: pointer;

    & svg {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    &:hover {
      color: var(--color-primary-500);
    }

    &:active {
      color: var(--color-primary-700);
    }

    &:disabled {
      opacity: 0.3;
      color: var(--color-primary-600);
      cursor: auto;
    }
  }
}

.features-list__title {
  margin-bottom: 16px;
}

.is-desktop .services-list {
  margin-top: 0;
}

.is-desktop {
  .resources-list__col,
  .contribution-card {
    width: 256px;
  }
}
