@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.cases-page {
  position: relative;
  z-index: 20;
  margin-top: calc(-1 * var(--header-height));
  background: var(--color-primary-600);
  background-image: url('../../svg/headBg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: calc(72px + var(--header-height)) 16px 88px;
  color: var(--white);

  &__title {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(large);

    margin: 0;
    text-align: center;

    @include m.breakpoint(v.$tablet-sm-exact) {
      @include m.font-scale(x3-large);
    }

    @include m.breakpoint(v.$desktop-sm) {
      @include m.font-scale(x4-large);
    }
  }

  &__subtitle {
    @include m.font-noto-sans();
    @include m.font-scale(x2-medium);

    margin-top: 16px;
    margin-bottom: 48px;
    text-align: center;
  }
}

.cases-page__cases-list {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-template-columns: minmax(min-content, 348px);
  grid-gap: 24px;
  padding-top: 72px;
  padding-bottom: 48px;

  @include m.breakpoint(v.$tablet-sm-exact) {
    grid-template-columns: repeat(2, 348px);
  }

  @include m.breakpoint(v.$desktop-sm) {
    grid-template-columns: repeat(4, 282px);
  }

  &-item-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 24px;
    border-radius: 16px;
    box-shadow: 0 8px 16px 0 rgb(0 45 55 / 0.12);
    background-size: cover;
    padding: 24px;

    &:hover {
      box-shadow: 0 8px 32px 0 rgb(0 45 55 / 0.12);
    }

    @include m.breakpoint(v.$desktop-sm) {
      width: 100%;
    }
  }

  &-item {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    gap: 20px;
    height: 280px;

    &-trailing {
      position: absolute;
      top: 166px;

      p {
        @include m.font-poppins(v.$fw-semi-bold);
        @include m.font-scale(medium);

        color: var(--white);
      }
    }

    &-leading {
      p {
        @include m.font-poppins(v.$fw-semi-bold);
        @include m.font-scale(small);

        margin-top: 0;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--white);
      }
    }

    &-icon {
      position: absolute;
      top: 58px;
      flex-shrink: 0;
      width: 96px;
      height: 96px;
      opacity: 0.7;
    }
  }
}

.cases-page__no-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;

  > p {
    color: var(--text-light-grey);
  }

  @include m.breakpoint(v.$tablet-sm-exact) {
    margin-bottom: 200px;
  }
}

.cases-page__load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;

  @include m.breakpoint(v.$tablet-sm-exact) {
    margin-bottom: 200px;
  }
}

.cases-page__download {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  height: 56px;
}
