.installation-page {
  .hide{
    display: none;
  }
  .section-container {
    position: relative;
    width: 980px;
    margin: 0 auto;
    @media (max-width: $SCREEN_SM_MAX){
      box-sizing: border-box;
      width: 770px;
      padding: 0 10px 0 15px;
    }
    @media (max-width: $SCREEN_XS_MAX){
      width: 100%;
      padding: 0 10px;
    }
  }
  .fixed-controls{
    position: fixed;
    top:60px;
    left:0;
    width: 100%;
  }
  h2{
    color: $COLOR-STEEL-GREY;
    font-family: $FONT-LIGHT;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.45;
    @media (max-width: $SCREEN_XS_MAX) {
      font-size: 20px;
    }
    .note{
      margin-left: 10px;
      color: $COLOR-STEEL-GREY;
      font-family: $FONT-REGULAR;
      font-size: 15px;
      line-height: 1.47;
      text-align: left;
      letter-spacing: normal;
      @media (max-width: $SCREEN_XS_MAX) {
        display: none;
      }
    }
  }
  .text-margins{
    margin: 17px 0 17px 0;
  }
  .text{
    padding-left: 20px;
    color: $COLOR-CHARCOAL-GREY;
    font-family: $FONT-REGULAR;
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
    @media (max-width: $SCREEN_XS_MAX) {
      padding: 0;
      font-size: 15px;
    }
    a{
      color: $COLOR-TEALISH;
      font-family: $FONT-REGULAR;
      font-size: 15px;
      text-align: left;
      text-decoration: none;
      &::after{
        display: inline-block;
        height: 6px;
        width: 6px;
        margin-left: 5px;
        margin-bottom: 2px;
        border-top: 1.5px solid $COLOR-TEALISH;
        border-right: 1.5px solid $COLOR-TEALISH;
        content: '';
        transform: rotate(45deg);
      }
      &:hover {
        color: $COLOR-TOPAZ;
        &::after {
          border-top: 1.5px solid $COLOR-TOPAZ;
          border-right: 1.5px solid $COLOR-TOPAZ;
        }
      }
      @media (max-width: $SCREEN_XS_MAX) {
        display: block;
      }
    }

    a.btn{
      display: inline-block;
      box-sizing: border-box;
      width: 240px;
      margin: 20px 0 0 0;
      border: solid 1px $COLOR-TEALISH;
      padding: 13px 15px;
      cursor: pointer;
      text-align: center;
      &:hover{
        border: solid 1px $COLOR-TOPAZ;
        path{
          fill: $COLOR-TOPAZ
        }
      }
      &:first-child{
        margin-right: 80px;
        @media (max-width: $SCREEN_SM_MAX) {
          margin-right: 10px;
        }
      }
      svg{
        width: 25px;
        height: 25px;
        vertical-align: sub;
        margin-right: 10px;
      }
      &::after{
        display: none;
      }
    }
  }
  .text-container{
    box-sizing: border-box;
    width: 700px;
    @media (max-width: $SCREEN_SM_MAX) {
      width: 550px;
    }
    @media (max-width: $SCREEN_XS_MAX) {
      width: 100%;
    }
  }
  .with-note{
    display: flex;
    @media (max-width: $SCREEN_XS_MAX) {
      flex-direction: column;
    }
    .description{
      width: 700px;
      @media (max-width: $SCREEN_SM_MAX) {
        width: 550px;
      }
      @media (max-width: $SCREEN_XS_MAX) {
        width: 100%;
      }
      .text:not(:first-child){
        margin-top: 17px;
        @media (max-width: $SCREEN_XS_MAX) {
          margin-top: 10px;
        }
      }
    }
  }
  .note{
    box-sizing: border-box;
    width: 280px;
    padding-left: 20px;
    @media (max-width: $SCREEN_SM_MAX) {
      width: 220px;
    }
    @media (max-width: $SCREEN_XS_MAX) {
      width: 100%;
      padding-left: 0;
    }
    .line{
      padding: 2px 40px 2px 15px;
      @media (max-width: $SCREEN_SM_MAX) {
        padding: 2px 0 2px 15px;
      }
    }
    p {
      color: $COLOR-GRAY-47;
      font-size: 12px;
      line-height: 1.83;
      text-align: left;
      @media (max-width: $SCREEN_SM_MAX) {
        padding: 2px 0 2px 15px;
      }
    }
    &.recommend {
      .line{
        border-left: 1px solid $COLOR--booger;
        color: $COLOR--khaki-green;
      }
    }
    &.default{
      .line{
        border-left: 1px solid lighten($COLOR-STEEL-GREY, 30%);
        color: $COLOR-GRAY-47;
      }
      @media (max-width: $SCREEN_XS_MAX) {
        margin-top: 10px;
      }
    }
  }
  .warning{
    color: $COLOR--dusty-orange;
    p{
      margin-left: 20px;
      border-left: 4px lighten($COLOR--dusty-orange, 20%) solid;
      padding: 5px 0 5px 20px;
      line-height: 25px;
      @media (max-width: $SCREEN_XS_MAX) {
        margin: 0;
        font-size: 14px;
      }
      strong{
        font-family: $FONT-HEADER;
      }
    }
  }
  .h3{
    color: $COLOR-STEEL-GREY;
    font-family: $FONT-REGULAR;
    font-size: 14px;
    line-height: 2.29;
    text-align: left;
    text-transform: uppercase;
  }
  .mobile{
    display: none;
    @media (max-width: $SCREEN_XS_MAX) {
      display: block;
    }
  }
  .desktop{
    @media (max-width: $SCREEN_XS_MAX) {
      display: none;
    }
  }
}
