- var isNewYear = new Date() >= new Date(2018, 11, 21) && new Date() <= new Date(2019, 0, 13)
- if (isNewYear) {
  .bg-page-new-year(data-js-new-year)
- } else {
  .bg-page-wave-1(data-js-wave-1)
  .bg-page-wave-2(data-js-wave-2)
  .bg-page-lines(data-js-wave-3)
- }
.bg-page-desk
.section-container
  h1 AI-powered Test Automation Dashboard
  h2 acquire, aggregate and analyze test reports <br> to ascertain release health
  a.try-demo(href='http://web.demo.reportportal.io' target="_blank") Try demo
  .points
    .point
      .point-img.real-time
      .point-text-center
        p Real-time analytics
    .point
      .point-img.visualization
      .point-text-center
        p Visualization of auto test results
    .point
      .point-img.ml
      .point-text-center
        p Machine Learning
    .point
      .point-img.open-source
      .point-text-center
        p Open source
.noutebook
  .screen
    img(src=require("./img/site.png"), class="site", alt="Report Portal: Full-featured result management tool")
  .keyboard
