.bg-page-wave-1(data-js-wave-1)
.bg-page-wave-2(data-js-wave-2)
.bg-page-lines(data-js-wave-3)
.bg-page-desk
.section-container
  h1 Full-featured report management tool
  h2 for Clients, Managers and Test Automation Engineers
  .points
    .point
      .point-img.real-time
      .point-text-center
        p Real-time Analytics
    .point
      .point-img.visualization
      .point-text-center
        p Visualization of auto test results
    .point
      .point-img.open-source
      .point-text-center
        p OpenSource
.noutebook
  .screen
    .site
  .keyboard
