.bg-page-wave-1(data-js-wave-1)
.bg-page-wave-2(data-js-wave-2)
.bg-page-lines(data-js-wave-3)
.bg-page-desk
.section-container
  h1 Full-featured result management tool
  h2 for clients, managers & test automation engineers
  .points
    .point
      .point-img.real-time
      .point-text-center
        p Real-time Analytics
    .point
      .point-img.visualization
      .point-text-center
        p Automated test results visualization
    .point
      .point-img.open-source
      .point-text-center
        p Open source
.noutebook
  .screen
    img(src=require("./img/site.png"), class="site", alt="Report Portal: Full-featured result management tool")
  .keyboard
