@import '../index-page_mixin';
$COLOR-BOOk-GREY: #ececec;

.index-page_welcome {
  position: relative;
  width: 100%;
  padding-bottom: 50px;
  overflow: hidden;
  .bg-page-wave-1, .bg-page-wave-2, .bg-page-lines {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  .bg-page-wave-1 {
    background-image: url(./img/wave1.svg);
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 100%;
      left: 0;
      background: #79D6D9;
      opacity: .3;
    }
  }
  .bg-page-wave-2 {
    background-image: url(./img/wave2.svg);
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 100%;
      left: 0;
      background: #79D6D9;
      opacity: .3;
    }
  }
  .bg-page-lines {
    background-image: url(./img/lines&circles.svg);
  }
  .bg-page-desk {
    height: 200px;
    position: absolute;
    background: #A9E4E9;
    width: 100%;
    bottom: 0;
    opacity: 1;
  }
  .section-container {
    @include content-section;
  }
  h1 {
    text-align: center;
    font-family: $FONT-HEADER;
    padding-top: 132px;
    font-size: 42px;
    color: $COLOR-STEEL-GREY;
  }
  h2 {
    text-align: center;
    font-family: $FONT-LIGHT;
    padding-top: 18px;
    font-size: 23px;
    color: $COLOR-STEEL-GREY;
  }
  .points {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 85px;
    .point {
      display: inline-block;
      height: 60px;
      margin: 0 25px;
      .point-img {
        width: 60px;
        height: 100%;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
        &.real-time {
          background-image: url(./img/real-time.svg);
        }
        &.visualization {
          background-image: url(./img/visualization.svg);
        }
        &.open-source {
          background-image: url(./img/git.svg);
        }
      }
      .point-text-center {
        display: table;
        width: 160px;
        float: left;
        height: 100%;
        text-align: left;
        p {
          display: table-cell;
          height: 100%;
          vertical-align: middle;
          color: $COLOR-TEALISH;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
  .noutebook {
    position: relative;
    margin: 45px auto 0 auto;
    width: 928px;
    height: 640px;
  }
  .screen {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: #fdffff;
    bottom: 3%;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  }
  .site {
    position: absolute;
    top: 40px;
    left: 25px;
    right: 25px;
    bottom: 45px;
    background: url(./img/site.png) center no-repeat;
    background-size: contain;
  }
  .keyboard {
    position: absolute;
    bottom: 0;
    width: 124%;
    height: 5%;
    background-color: #fdffff;
    left: -12%;
    border-top: 1px solid $COLOR-BOOk-GREY;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 60px 15px;
    border-bottom-right-radius: 60px 15px;
    &:after {
      content: '';
      position: relative;
      background: $COLOR-BOOk-GREY;
      display: block;
      margin: 0 auto;
      width: 16%;
      height: 44%;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  @media (max-width: 1000px) {
    .bg-page-wave-1, .bg-page-wave-2, .bg-page-lines {
      top: 143px;
      transform: translate(0, 0) !important;
    }
    .points {
      .point {
        margin: 0 20px;
      }
    }
    .noutebook {
      margin-top: 80px;
      width: 728px;
      height: 502px;
    }
  }
  @media (max-width: $MIDDLE-INTERFACE-WIDTH) {
    h1 {
      max-width: 400px;
      margin: 0 auto;
      padding-top: 90px;
      font-size: 33px;
      line-height: 40px;
    }
    .points {
      display: none;
    }
  }
  @media (max-width: 750px) {
    .noutebook {
      width: 530px;
      height: 365px;
    }
    .screen {
      border-radius: 20px;
    }
    .keyboard {
      border-bottom-left-radius: 40px 10px;
      border-bottom-right-radius: 40px 10px;
    }
    .site {
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 25px;
    }
  }
  @media (max-width: $MOBILE-INTERFACE-WIDTH) {
    .bg-page-wave-1, .bg-page-wave-2, .bg-page-lines {
      background-size: 200%;
      top: 0;
    }
    .bg-page-desk {
      height: 100px;
    }
    h1 {
      font-size: 26px;
      padding-top: 48px;
      line-height: 32px;
    }
    h2 {
      margin: 0 auto;
      max-width: 270px;
      font-size: 18px;
      line-height: 25px;
      padding-top: 13px;
    }
    .noutebook {
      margin-top: 60px;
      width: 300px;
      height: 203px;
      .screen {
        border-radius: 15px;
      }
      .site {
        top: 10px;
        left: 6px;
        right: 6px;
        bottom: 15px;
      }
      .keyboard {
        border-bottom-left-radius: 25px 7px;
        border-bottom-right-radius: 25px 7px;
      }
    }
  }
}
