.integrations-list__item {
  &-icon {
    &--jira-cloud {
      background-image: url('icons/jira-cloud-1.svg');
    }

    &--jira-server {
      background-image: url('icons/jira-server-1.svg');
    }

    &--azure-do {
      background-image: url('icons/azure-do-1.svg');
    }

    &--rally {
      background-image: url('icons/rally-1.svg');
    }

    &--sauce-labs {
      background-image: url('icons/sauce-labs-1.svg');
    }

    &--ldap {
      background-image: url('icons/ldap-1.svg');
    }

    &--saml {
      background-image: url('icons/saml-1.svg');
    }
  }

  &:hover {
    background: var(--bg-grey2);
    border-radius: 8px;
    color: var(--text-primary);

    .integrations-list__item-icon {
      &--jira-cloud {
        background-image: url('icons/jira-cloud-2.svg');
      }

      &--jira-server {
        background-image: url('icons/jira-server-2.svg');
      }

      &--azure-do {
        background-image: url('icons/azure-do-2.svg');
      }

      &--rally {
        background-image: url('icons/rally-2.svg');
      }

      &--sauce-labs {
        background-image: url('icons/sauce-labs-2.svg');
      }

      &--ldap {
        background-image: url('icons/ldap-2.svg');
      }

      &--saml {
        background-image: url('icons/saml-2.svg');
      }
    }
  }
}
