.comparison-table {
  display: table;
  opacity: 0;
  margin: 58px auto auto;
  width: 956px;
  visibility: collapse;
  transition: opacity 0.6s;

  &.opened {
    visibility: visible;
    opacity: 1;
    margin-bottom: 58px;
  }
}

.true-icon {
  width: 24px;
  height: 24px;
  background: url('/src/react-components/img/checkmark.svg') no-repeat 0 4px;
  margin: auto;
}

.inline-title {
  max-width: 360px;
  text-align: left;
  padding-left: 18px;
}

.footer-row {
  width: auto;
  padding: 0 42px 10px;
}

.note {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: $COLOR-TEXT-INFO;
  width: 50%;
}
