.section-container
  h1 Not Sure Where to Start?
  .block-list
    .block-item.block-item-1
      .block-icon.doc-icon
      .block-text
        h2 Documentation
        p Learn more about ReportPortal and how easy it is to install and use.
        a(href="#documentation") Explore the docs
    .separator
    .block-item.block-item-2
      .block-icon.video-icon
      .block-text
        h2 Video presentations
        p Get started with an in-depth video demo.
        a(href="https://www.youtube.com/channel/UCsZxrHqLHPJcrkcgIGRG-cQ" target="_blank") Visit the YouTube channel
