@import '../../pageSectionMixin';

.index-page_start-with {
  width: 100%;
  padding-bottom: 54px;
  .section-container {
    @include content-section;
    .slider-container{
      width: 100%;
      height: 190px;
      overflow: hidden;
      box-sizing: border-box;
      padding: 0 44px;
      position: relative;
      .arrow_right {
        right: 18px;
      }
      .arrow_left {
        left: 18px;
      }
      .arrow_right, .arrow_left  {
        top: 45px;
        position: absolute;
        transition-property: opacity;
        transition-duration: 1s;
        opacity: 0.8;
        i{
          font-size: 18px;
          color: #39c3d8;
        }
      }
      .arrow_right:hover, .arrow_left:hover {
        cursor: pointer;
        opacity: 1;
        transition-duration: 0.5s;
      }
      .arrow_right.disable, .arrow_left.disable{
        transition-duration: 1s;
        opacity: 0.5;
        cursor: default;
      }
      .ul_overflow{
        position:relative;
        width:100%;
        height:100%;
        overflow:hidden;
        ul{
          position:relative;
          height:100%;
          width:100%;
          margin:0;
          padding:0;
          &.animate{
            -webkit-transition: -webkit-transform 0.5s ease;
            -moz-transition: -moz-transform 0.5s ease;
            -o-transition: -o-transform 0.5s ease;
            transition: transform 0.5s ease;
          }
          li{
            font-size: 0;
            position:absolute;
            overflow:hidden;
            width:100%;
            height:100%;
            .carousel-item{
              box-sizing: border-box;
              margin-bottom: 10px;
              width: 25%;
              display: inline-block;
              padding: 0 10px;
              vertical-align: top;
              .hider{
                overflow: hidden;
                height: 115px;
                position: relative;
                margin-bottom: 10px;
                span{
                  position: absolute;
                  bottom: 3px;
                  right: 3px;
                  background: rgba(0, 0, 0, 0.64);
                  color: white;
                  font-size: 14px;
                  padding: 0 4px;
                  border-radius: 2px;
                }
              }
              &.more-link{
                border: solid 1px #d9f2f4;
                text-align: center;
                height: 115px;
                div{
                  line-height: 115px;
                }
              }
              img{
                margin-top: -20px;
                width: 100%;
              }
            }
            a{
              font-family: OpenSans;
              font-size: 15px;
              line-height: 1.47;
              text-decoration: none;
              color: #39c2d7;
              &:hover{
                color: #1a9cb0;
              }
            }
          }
        }
      }
    }
  }
  .h1 {
    text-align: center;
    font-family: $FONT-LIGHT;
    color: $COLOR-STEEL-GREY;
    padding-top: 100px;
    font-size: 26px;
  }
  .block-list {
    position: relative;
    text-align: center;
    margin-top: 80px;
  }
  .block-item {
    display: inline-block;
    vertical-align: top;
    width:430px;
    height:200px;
    text-align: left;
  }
  .separator {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 150px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      right: 50%;
      background: rgba(189, 199, 204, 0.2);
    }
  }
  .block-icon {
    float: left;
    width: 160px;
    height: 100%;
    background-repeat: no-repeat;
    &.doc-icon {
      background-image: url(./img/doc.svg);
      background-position: 10px top;
    }
    &.video-icon {
      background-image: url(./img/video.svg);
    }
  }
  .block-text {
    float: left;
    width: 270px;
    h2 {
      font-family: $FONT-LIGHT;
      color: $COLOR-TOPAZ;
      margin-top: 15px;
      font-size: 22px;
    }
    p {
      line-height: 1.6;
      margin-top: 25px;
    }
    a {
      color: $COLOR-TEALISH;
      text-decoration: none;
      display: inline-block;
      margin-top: 23px;
      &:hover{
        color: $COLOR-TOPAZ;
      }
      &:after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 10px;
        background: url(./img/next.svg) no-repeat;
        margin-left: 7px;
      }
    }
  }
  @media (max-width: 1000px) {
    .separator {
      display: none;
    }
    .section-container{
      .slider-container{
        width: 544px;
        height: 400px;
        box-sizing: border-box;
        margin: 0 auto;
        .ul_overflow{
          ul{
            li{
              .carousel-item{
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: $MOBILE-INTERFACE-WIDTH) {
    .section-container{
      .slider-container{
        padding: 0 18px;
        width: 300px;
        height: 800px;
        box-sizing: border-box;
        margin: 0 auto;
        .arrow_left{
          left: 0;
        }
        .arrow_right{
          right: 0;
        }
        .ul_overflow{
          ul{
            li{
              .carousel-item{
                width: 100%;
                img{
                  margin-top: -25px;
                }
              }
            }
          }
        }
      }
    }
    .h1 {
      font-size: 22px;
      padding-top: 43px;
    }
    .block-list {
      margin-top: 40px;
    }
    .block-item {
      position: relative;
      width: 300px;
      height: 190px;
    }
    .block-icon {
       position: absolute;
       width: 64px;
      height: 64px;
       background-size: contain;
       background-position: center top;
      &.doc-icon {
        background-position: center top;
      }
     }
    .block-text {
      h2 {
        padding-left: 80px;
        font-size: 20px;
        margin-top: 23px;
        margin-bottom: 29px;
      }
      a {
        margin-top: 12px;
      }
    }

  }
}
