@import '../../pageSectionMixin';

@mixin block-animate($duration, $delay) {
  .block-icon {
    transition: transform $duration $ANIMATION-EASING $delay, opacity $duration $ANIMATION-EASING $delay;
  }
  h2 {
    transition: transform $duration $ANIMATION-EASING ($delay + 0.1), opacity $duration $ANIMATION-EASING ($delay + 0.1);
  }
  p {
    transition: transform $duration $ANIMATION-EASING ($delay + 0.2), opacity $duration $ANIMATION-EASING ($delay + 0.2);
  }
  a {
    transition: transform $duration $ANIMATION-EASING ($delay + 0.3), opacity $duration $ANIMATION-EASING ($delay + 0.3);
  }
}

@media (min-width: $MIN-ANIMATION-WIDTH) {
  html.csstransforms {
    .index-page_start-with {
      h1 {
        opacity: 0;
        transform: translate(0, $ANIMATION-WIDTH);
        transition: transform $ANIMATION-DURATION $ANIMATION-EASING, opacity $ANIMATION-DURATION $ANIMATION-EASING;
      }
      .block-item {
        .block-icon, h2, p, a {
          opacity: 0;
          transform: translate(0, $ANIMATION-WIDTH);
        }
      }
      .slider-container{
        opacity: 0;
        transform: translate(0, $ANIMATION-WIDTH);
        transition: transform 1s $ANIMATION-EASING .2s, opacity $ANIMATION-DURATION $ANIMATION-EASING .2s;
      }
      &.animate {
        h1, .slider-container{
          opacity: 1;
          transform: translate(0, 0);
        }
      }
      &.animate-items {
        .block-item-1 {
          @include block-animate($ANIMATION-DURATION, 0s);
        }
        .block-item-2 {
          @include block-animate($ANIMATION-DURATION, 0s);
        }
        .block-item-1, .block-item-2 {
          .block-icon, h2, p, a {
            opacity: 1;
            transform: translate(0, 0);
          }
        }
      }
    }
  }
}
