.section-container
  h1 Don’t Know What to Start With?
  .block-list
    .block-item.block-item-1
      .block-icon.doc-icon
      .block-text
        h2 Documentation
        p Learn more ‘What is ReportPortal’ and ‘How you can install it easilly’
        a(href="#") Explore the docs
    .separator
    .block-item.block-item-2
      .block-icon.video-icon
      .block-text
        h2 Video presentations
        p Start with video product presentation or with meet-ups
        a(href="#") Visit YouTube channel
