p.h1 How ReportPortal works
.bg-block.left-block(data-js-block-1)
  .section-container
    .image-block.image-1
    .text-block-center
      .text-block
        h2 Integrate ReportPortal with your existing test automation process
        p You can use ReportPortal with your existing solution or start from scratch.
.color-block.right-block(data-js-block-2)
  .section-container
    .image-block.image-2
    .text-block-center
      .text-block
        h2 Review execution results with the advantage of real-time integration
        p Results become available the moment execution starts, so you don’t have to wait for it to end.
.bg-block-2.left-block(data-js-block-3)
  .section-container
    .image-block.image-3
    .text-block-center
      .text-block
        h2 Categorize issues according to their real reason for failure
        p Particular fail can be associated with product bug, automation issue, or system issue. The arrangement of reasons shows you the real value of test automation and represents you its actual state.
.color-block.right-block(data-js-block-4)
  .section-container
    .image-block.image-4
    .text-block-center
      .text-block
        h2 Reduce evaluation of reports with auto-analysis based on collected historical data
        p Based on collected patterns in previous executions, ReportPortal can evaluate new fails in conformity with others that are ongoing.
.bg-block-3.left-block(data-js-block-5)
  .section-container
    .image-block.image-5
    .text-block-center
      .text-block
        h2 Visualise your statistics and metrics
        p Custom dashboard can help you track test automation status and make it visible for every level of stakeholders.
.color-block.right-block(data-js-block-6)
  .section-container
    .image-block.image-6
      .noutebook
        .screen
          .site
        .keyboard
      .laptop
        .site
      .phone
        .site
    .text-block-center
      .text-block
        h2 Access your test automation results on any device
        p With its responsive UI, ReportPortal gives you real-time understanding of your test automation performance on any device.
