@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

$desktop-sm-header: 1124px;

.top-header {
  position: relative;
  top: 0;
  z-index: var(--z-index-header);
  transform: translate3d(0, 0, 0);
  transition: background 0.3s, top 0.3s;
  color: var(--white);

  &--active,
  &:hover {
    box-shadow: 0 8px 24px rgb(34 61 69 / 0.08);
    background: var(--white);
    color: var(--text-primary);

    .new-year-mode & {
      background: url('./icons/new-year-background.inline.svg');
      backdrop-filter: blur(8px);

      &::after {
        position: absolute;
        bottom: -24px;
        z-index: 1000;
        width: 100%;
        height: 34px;
        background: url('./icons/new-year-background-snow.inline.svg');
        overflow: visible;
        content: '';
      }

      &,
      &::after {
        background-position: 2070px 0;

        @include m.breakpoint($desktop-sm-header) {
          background-position-x: -960px;
        }

        @include m.breakpoint(v.$desktop-md) {
          background-position-x: center;
        }
      }
    }
  }

  .new-year-mode & {
    transition: top 0.3s;
  }

  &__wrapper {
    display: flex;
    width: 100%;
    max-width: calc(var(--size-max-width) + 48px);
    margin: 0 auto;
    padding: 0 24px;
    color: inherit;
  }
}

.top-header-navigation {
  position: relative;
  display: flex;
  place-content: flex-end space-between;
  width: 100%;

  &__logo-link {
    padding: 18px 0;
    line-height: 0;

    svg {
      height: 40px;
      overflow: visible;

      .new-year-mode & {
        margin-top: -6px;
      }

      path {
        transition: fill 0.3s;
      }
    }

    .top-header--active &,
    .ant-drawer-title &,
    .top-header:hover & {
      [class*='logo-block'] {
        fill: #00b0d1;
      }

      [class*='logo-stroke'] {
        stroke: #dadee8;
      }

      [class*='logo-title'] {
        fill: var(--dark);
      }
    }
  }

  &__list {
    display: none;

    @include m.breakpoint($desktop-sm-header) {
      display: flex;
    }
  }

  &__link {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(base);

    display: flex;
    align-items: center;
    min-inline-size: max-content;
    border: unset;
    padding: 28px 16px;
    background: unset;
    transition: color 0.3s;
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
      color: var(--color-primary-500);
    }

    &--active,
    &:active {
      color: var(--color-primary-700);
    }
  }

  &__arrow {
    padding-left: 8px;
    line-height: 1;

    svg {
      transform: rotate(180deg);
      transition: stroke 0.3s;
      vertical-align: middle;

      .header:hover & {
        stroke: var(--text-primary);
      }
    }

    [aria-expanded='true'] & {
      svg {
        transform: rotate(0deg);
      }
    }
  }

  &__actions {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }

  &__actions-auth {
    display: none;
    align-items: center;

    @include m.breakpoint(v.$tablet-sm) {
      display: flex;
    }
  }

  &__github {
    display: none;
    align-items: center;
    margin-right: 8px;
    transition: color 0.3s;
    color: var(--purple-grey);

    @include m.breakpoint(1224px) {
      display: flex;
    }

    & text {
      @include m.font-noto-sans(v.$fw-medium);
      @include m.font-scale(x-small);
    }

    .top-header--active &,
    .top-header:hover & {
      color: var(--text-service);

      &:hover {
        color: var(--color-primary-500);
      }
    }
  }

  &__login-button {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(base);

    display: inline-block;
    outline: none;
    padding: 9px 21.5px;
    box-shadow: none;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align: center;
    color: var(--white);

    .top-header--active &,
    .top-header:hover & {
      color: var(--color-primary-600);

      &:hover {
        color: var(--color-primary-500);
      }
    }
  }

  &__signup-button {
    @extend .top-header-navigation__login-button;

    display: inline-block;
    margin-left: 16px;
    border: 2px solid var(--white);
    border-radius: 6px;

    .top-header--active &,
    .top-header:hover & {
      border-color: var(--color-primary-600);

      &:hover {
        background-color: var(--color-primary-600);
        color: var(--white);
      }
    }
  }
}

.top-header-navigation__close-button,
.top-header-navigation__burger-button {
  margin-left: 24px;
  border: none;
  padding: 8px;
  background: none;
  cursor: pointer;

  @include m.breakpoint($desktop-sm-header) {
    display: none;
  }

  svg {
    vertical-align: middle;
  }
}

.top-header-navigation__burger-button {
  color: var(--white);

  .top-header--active &,
  .top-header:hover & {
    color: var(--dark);
  }
}

.top-header-navigation__close-button {
  align-self: center;
  color: var(--dark);
}

.mobile-menu {
  &.ant-drawer-content {
    overflow: unset;
  }

  .ant-drawer-header {
    padding: 0 8px 0 16px;
    box-shadow: 0 1px 4px rgb(34 43 69 / 0.15);
  }

  .ant-drawer-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ant-drawer-title,
  .ant-collapse-header-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ant-drawer-title a {
    padding: 0;
  }

  .ant-collapse {
    .ant-collapse-content-box {
      padding: 0;
    }

    .ant-collapse-header-text {
      @include m.font-poppins(v.$fw-semi-bold);

      line-height: 24px;
      font-size: 18px;
    }

    .ant-collapse-header {
      padding-inline: 0 !important;
      padding-block: 16px;
    }
  }

  &__auth-buttons {
    margin-top: 64px;

    a {
      padding: 10px;
      color: var(--color-primary-600);

      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }

  [aria-expanded='true'] .ant-collapse-header-text {
    color: var(--color-primary-700);
  }
}
