@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.tips {
  padding: 120px 24px;

  @include m.breakpoint(v.$desktop-sm) {
    padding: 120px 0;
  }

  &-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 16px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      flex-flow: row wrap;
      align-items: stretch;
      justify-content: center;
      gap: 16px;
      max-width: v.$tablet-sm-exact;
      margin-inline: auto;
    }

    @include m.breakpoint(v.$tablet-lg) {
      display: flex;
      flex-flow: row nowrap;
      gap: 16px;
      max-width: initial;
      margin-top: 16px;
    }

    .unordered-list {
      width: 265px;
      padding: 32px 16px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        height: auto;

        &:nth-child(3)::after {
          display: none;
        }
      }

      @include m.breakpoint(v.$tablet-lg) {
        &:nth-child(3)::after {
          display: block;
        }
      }
    }
  }
}
