@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/variables';
@import 'src/styles/mixins/breakpoint';

.installation {
  position: relative;
  padding: calc(72px + var(--header-height)) 16px 48px;
  margin-top: calc(-1 * var(--header-height));
  color: var(--white);
  background: var(--color-primary-600);
  background-image: url('./icons/group-244.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;

  &__main {
    display: block;
    grid-template-columns: 0 1fr;
    column-gap: 30px;
    margin: 0;

    @include breakpoint($desktop-sm) {
      display: grid;
      grid-template-columns: 24fr 80fr;
      margin: 0 20px;
    }

    &-inner {
      width: 100%;
      max-width: 690px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    @include font-poppins($fw-bold);
    @include font-scale(large);

    margin: 0;
    text-align: center;

    @include breakpoint($phone) {
      @include font-scale(x3-large);
    }

    @include breakpoint($tablet-sm) {
      @include font-scale(x4-large);
    }
  }

  &__subtitle {
    @include font-noto-sans();
    @include font-scale(x2-medium);

    margin-top: 16px;
    margin-bottom: 48px;
    text-align: center;
  }

  &__btn-box {
    display: flex;
    justify-content: center;
  }

  &__link {
    text-decoration: none;
    color: var(--color-primary-600);
    border-bottom: 2px solid transparent;
    transition: all 0.4s ease-out;

    &:hover {
      color: var(--color-primary-600);
      border-bottom-color: var(--color-primary-600);
      transition: all 0.4s ease-out;
    }
  }

  &__list {
    margin: 0;
    padding-left: 25px;
  }

  h3,
  h5,
  h6 {
    @include font-poppins($fw-bold);
  }

  &__wrapper {
    @include font-noto-sans();
    @include font-scale();

    padding-top: 64px;
    line-height: 24px;

    @include breakpoint($tablet-sm) {
      padding-top: 120px;
    }

    @include breakpoint($tablet-lg) {
      padding-top: 160px;
    }
  }

  &__title-content {
    @include font-poppins($fw-bold);
    @include font-scale(x4-medium);

    margin-top: 0;
    margin-bottom: 24px;

    @include breakpoint($tablet-sm) {
      @include font-scale(large);
    }
  }

  &__text-content {
    @include font-noto-sans();
    @include font-scale();

    line-height: 24px;
  }

  &__chapter {
    @include font-noto-sans($fw-bold);
    @include font-scale();

    text-transform: uppercase;
    color: var(--text-service);
  }

  &__code {
    display: inline-block;
    width: 100%;
    margin: 14px 0;
    white-space: pre-wrap;

    div[role='button'] {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    code {
      @include roboto-mono();
      @include font-scale();

      position: relative;
      display: inline-block;
      width: 100%;
      padding: 20px;
      padding-right: 40px;
      background-color: var(--bg-light-grey);
      border: 1px solid var(--purple-grey);
      border-radius: 8px;
      color: var(--text-service);
      line-height: 1.75;
      white-space: pre-wrap;
    }

    svg {
      fill: var(--text-service);

      &:hover {
        fill: var(--text-light-grey);
      }
    }
  }

  &__popup {
    code {
      @include font-scale(s-small);

      padding-right: 40px;
    }

    svg {
      @include font-scale();
    }
  }

  &__marked-list {
    padding-left: 30px;

    li {
      margin-bottom: 12px;

      &::marker {
        color: var(--text-light-grey);
      }
    }
  }

  &__access {
    h5 {
      @include font-scale(medium);

      margin: 32px 0 16px;
    }

    h6 {
      @include font-scale(base);

      margin: 16px 0 8px;
    }

    &-container {
      display: block;

      @include breakpoint($tablet-sm) {
        display: flex;
        justify-content: space-between;
      }
    }

    &-item {
      flex-basis: 48.5%;
    }
  }

  &__code-text {
    display: inline-block;
    margin: 5px 0;
    padding: 2px 10px;
    background-color: var(--bg-light-grey);
    border: 1px solid var(--purple-grey);
    border-radius: 8px;
    color: var(--text-service);
  }

  &__sub-text {
    color: var(--text-service);
  }

  &__banner {
    position: relative;
    padding-bottom: 26px;
    line-height: 24px;
    background: var(--white);

    @include breakpoint($phone-lg) {
      padding-bottom: 6px;
    }

    @include breakpoint($tablet-lg) {
      padding-bottom: 90px;
    }
  }

  &__final {
    padding-bottom: 144px;

    @include breakpoint($tablet-lg) {
      padding-bottom: 230px;
    }
  }
}
