{
  "extends": [
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "plugin:react-hooks/recommended",
  ],
  "plugins": ["react", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "alias": [
        ["@components", "src/components"],
        ["@containers", "src/containers"],
        ["@utils", "src/utils"],
        ["@svg", "src/svg"],
        ["@hooks", "src/hooks"]
      ]
    }
  },
  "rules": {
    "no-debugger": 0,
    "no-console": 0,
    "new-cap": 0,
    "strict": 0,
    "no-unused-expressions": 0,
    "eol-last": 0,
    "quotes": [2, "single", { "avoidEscape": true }],
    "no-param-reassign": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "no-use-before-define": 0,
    "import/first": 0,
    "linebreak-style": 0,
    "import/no-cycle": 0,
    "prefer-destructuring": 0,
    "import/no-default-export": "error",
    "import/no-deprecated": "off",
    "import/no-extraneous-dependencies": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          "builtin",
          "external",
          "internal",
          ["sibling", "parent"],
          "index"
        ]
      }
    ],
    "prefer-object-spread": 0,
    "arrow-parens": 0,
    "indent": 0,
    "react/prop-types": 0,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "arrowParens": "avoid"
      }
    ],
    "react-hooks/exhaustive-deps": 1,
    "react/no-multi-comp":  [2, { "ignoreStateless": false }]
  },
  "overrides": [
    {
      "files": ["src/pages/**/*.jsx"],
      "rules": {
        "import/no-default-export": 0
      }
    }
  ]
}
