.modal-backdrop(data-js-backdrop)
.content(id='ask-service-modal', data-js-content)
  button.close(data-js-cancel)
  h2.head Need more help?
  .text-block
    p.text.
      ReportPortal is free and open source under the Apache 2.0 license, with no charges or hidden fees.
  .text-block
    p.text But if you’re looking for dedicated professional support for installation, integration, or customization, we offer support plans for businesses of all sizes.
  .text-block
    p.text Want to learn more? Please leave a business email and we’ll be in touch!
  form(id='lead_form', action='https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8', method='POST', target='dummyframe', data-js-leadForm).form-block
    input(type='hidden', name='oid', value='00D24000000k2Rp')
    input(type='hidden', name='retURL', value='http://')
    input(type='hidden', name='ReportPortalSource__c', value='Landing page')
    .field
      .input-block
        .icon-block
          img(src=require("./img/user.svg")).img
        input(type='text', id='first_name', name='first_name', size='20', placeholder='First name', value='' , data-js-firstNsame)
      span.validation-error(id='first_name-error') Can't be empty
    .field
      .input-block
        .icon-block
          img(src=require("./img/user.svg")).img
        input(type='text', id='last_name', name='last_name', size='20', placeholder='Last name', value='' , data-js-lastNsame)
      span.validation-error(id='last_name-error') Can't be empty
    .field
      .input-block
        .icon-block
          img(src=require("./img/user.svg")).img
        input(type='text', id='email', name='email', size='20', placeholder='E-mail', value='', data-js-email)
      span.validation-error(id='email-error') Invalid e-mail
    .field
      .input-block
        .icon-block
          img(src=require("./img/company.svg")).img
        input(type='text', id='company', name='company', size='20', placeholder='Company name', value='' , data-js-company)
      span.validation-error(id='company-error') Can't be empty
    select.hidden(id='lead_source', name='lead_source')
      option(value='ReportPortal', selected)
    select.hidden(id='lead_status', name='lead_status')
      option(value='New', selected)
  button.send-btn(id='send-btn', form='lead_form', type='submit', disabled) Send
  .loader
    .logo

