.ask-service-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  .hidden {
    visibility: hidden;
    position: absolute;
  }

  .modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(70, 69, 71, 0.3);
    transition: opacity .15s linear;
    opacity: 0;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    background-color: $COLOR-WHITE_TWO;
    border-radius: 15px;
    width: 500px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    transform: translate(0, -100px);
    opacity: 0;
    transition: transform .3s ease-out, opacity .15s ease-out;
    padding: 30px;

    @media (max-width: $SCREEN_XS_MAX) {
      width: 95%;
      max-width: 500px;
    }

    .hide {
      display: none;
    }

    .loader {
      @include loader();
      position: absolute;
      top: 0;
      left: 0;
      display: none;

      &.show {
        display: block;
      }
    }

    .close {
      width: 20px;
      height: 20px;
      border: none;
      background: transparent;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;

      &::before, &::after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 2px;
        background: $COLOR-TOPAZ;
      }

      &::before {
        transform: rotate(45deg);
        position: absolute;
        left: 0;
      }

      &::after {
        transform: rotate(-45deg);
        position: absolute;
        right: 0;
      }
    }

    .head {
      font-family: $FONT-LIGHT;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: $COLOR-STEEL-GREY;
      margin-bottom: 30px;
    }

    .text-block {
      margin-bottom: 15px;

      .text {
        font-family: $FONT-REGULAR;
        color: $COLOR-CHARCOAL-GREY;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;

        a {
          text-decoration: none;
          color: $COLOR-TOPAZ;
        }

        span {
          color: $COLOR-TOPAZ;
        }
      }
    }

    .form-block {
      position: relative;
      width: 100%;

      .field {
        width: 100%;
        margin: 25px 0;

        .validation-error {
          display: none;
          font-family: $FONT-REGULAR;
          color: $COLOR--dusty-orange;
        }
        .show {
          display: inline-block;
        }

        .input-block {
          display: flex;
          box-sizing: border-box;
          margin-bottom: 3px;
          width: 100%;
          border: 1px solid $COLOR-GRAY-80;

          input {
            width: 90%;
            padding: 10px 15px;
            color: $COLOR-GRAY-60;
            border: none;
            outline: none;
          }

          input::placeholder {
            font-family: $FONT-REGULAR;
            font-size: 14px;
            color: $COLOR-GRAY-60;
          }

          .icon-block {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 38px;
            background-color: $COLOR--pale-grey;

            img {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }

    .send-btn {
      align-self: flex-end;
      width: 160px;
      margin-top: 10px;
      border-radius: 3px;
      color: $COLOR-WHITE_TWO;
      background-color: $COLOR-TEALISH;
      border: 1px solid $COLOR-TEALISH;
      border-left: none;
      font-size: 15px;
      text-align: center;
      line-height: 34px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background-color: $COLOR-TOPAZ;
        border-color: $COLOR-TEALISH;
      }

      &:disabled {
        opacity: 0.5;
        color: $COLOR-WHITE_TWO;
        background-color: $COLOR-TEALISH;
        cursor: default;
      }
    }
  }

  &.show {
    .modal-backdrop {
      opacity: .8;
    }

    .content {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}

