@use 'src/styles/mixins' as m;

.solutions-list__item {
  &:first-child .solutions-list__item-title::after {
    @include m.font-noto-sans();

    display: inline-block;
    margin-left: 7px;
    color: var(--text-service);
    content: '(home)';
  }
}
