@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';

.section-list {
  @include font-scale(small);

  &:not(:first-child) {
    margin-top: 40px;
  }

  &__title {
    @include font-poppins($fw-semi-bold);

    padding-left: 8px;
    margin: 0 0 18px;
    color: var(--text-service);
    text-transform: uppercase;
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: 329px;
  }
}

.section-item {
  @include font-scale(base);

  position: relative;
  display: flex;
  padding: 8px 8px 8px 52px;
  line-height: 24px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &--no-text {
    padding-top: 14px;
    padding-bottom: 14px;
    line-height: 20px;

    svg,
    .section-item-icon {
      top: 6px;
    }
  }

  &:hover {
    background: var(--bg-grey2);
    border-radius: 8px;
  }

  &__title {
    @include font-poppins($fw-semi-bold);

    color: #2f3c5f;
    margin: 0;
  }

  &__text {
    @include font-poppins();
    @include font-scale(small);

    color: #2f3c5f;
    margin: 0;
  }

  & svg,
  &-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 36px;
    height: 36px;
  }
}

.info-item {
  @include font-poppins();

  margin-left: 8px;
  padding: 8px 16px;
  margin-bottom: 8px;
  color: var(--text-service);
  background: var(--bg-light-grey);
  border: 1px solid var(--purple-grey);
  border-radius: 8px;

  a {
    font-weight: $fw-bold;
    color: var(--color-primary-600);
  }
}

.section-list--secondary {
  &__col {
    width: 200px;
  }

  .section-item {
    &:not(:last-child) {
      margin-bottom: 4px;

      .menu-dialog-offerings &,
      .menu-dialog-community & {
        margin-bottom: 16px;
      }
    }
  }
}
