@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

$header-offset: 178px;
$mobile-horizontal-padding: 16px;

@mixin features-title {
  @include m.font-poppins(v.$fw-semi-bold);
  @include m.font-scale(x3-medium);

  color: var(--text-primary);

  @include m.breakpoint(v.$desktop-sm) {
    @include m.font-scale(x3-large);
  }

  @include m.breakpoint(v.$tablet-sm) {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(x4-medium);
  }
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__heading {
    text-align: center;

    h1 {
      @include features-title();

      margin-top: 0;
      margin-bottom: 48px;
      padding: 0 16px;
      max-width: 952px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        @include m.font-poppins(v.$fw-bold);
        @include m.font-scale(large);

        padding: 0;
      }

      @include m.breakpoint(v.$desktop-sm) {
        @include m.font-scale(x3-large);

        margin-bottom: 64px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include m.breakpoint(v.$desktop-sm) {
      width: 792px;
    }
  }

  &__link {
    p {
      margin-top: 40px;
      text-align: center;
      color: var(--dark);
      font-style: normal;
    }

    &-documentation {
      @include m.font-poppins(v.$fw-medium, normal);
      @include m.font-scale(small);

      margin-left: 8px;
      text-align: center;
      color: var(--text-service);

      @include m.breakpoint(v.$tablet-sm-exact) {
        font-size: 16px;
      }

      &:hover {
        color: var(--text-grey);
      }

      svg {
        margin-left: 4px;
      }
    }
  }

  .ant-collapse {
    border: none;
    background: none;
  }

  .ant-collapse-item {
    border-radius: 0 !important;
  }

  .ant-collapse-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 5px;
    color: var(--text-dark);
    cursor: pointer;

    @include m.breakpoint(v.$tablet-sm-exact) {
      align-items: center;
    }

    span {
      @include m.font-poppins(v.$fw-semi-bold);
      @include m.font-scale();

      margin: 0;
      color: var(--dark);
    }
  }

  .ant-collapse-expand-icon {
    margin-right: 0;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .ant-collapse-content {
    border-top: none;
  }

  .ant-collapse-content-box {
    @include m.font-noto-sans();
    @include m.font-scale();

    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 15px !important;
    color: var(--dark);

    @include m.breakpoint(v.$tablet-sm-exact) {
      &:last-child {
        margin-bottom: 22px;
      }
    }

    div {
      margin-bottom: 24px;
    }
  }

  &__expand-icon {
    transform: rotate(-90deg);
    transition: transform 0.3s;

    &--active {
      transform: rotate(0deg);
    }
  }
}
