@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.article-preview-item {
  display: flex;
  flex-direction: column;
  border-radius: calc(2 * var(--base-spacing));
  box-shadow: 0 var(--base-spacing) calc(2 * var(--base-spacing)) 0 rgb(0 45 55 / 0.12);
  background-color: var(--white);
  transition: var(--basic-transition);
  color: var(--text-primary);

  @include m.breakpoint(v.$tablet-sm-exact) {
    max-width: 384px;
  }

  &:hover,
  &:active {
    box-shadow: 0 var(--base-spacing) calc(4 * var(--base-spacing)) 0 rgb(0 45 55 / 0.12);
  }

  &:hover {
    .article-preview-item__title {
      color: var(--color-primary-500);
    }
  }

  &:active {
    .article-preview-item__title {
      color: var(--color-primary-700);
    }

    .article-preview-item__featured-image {
      &::before {
        background-color: rgb(0 0 0 / 0.1);
      }
    }
  }

  &__link {
    display: flex;
    flex: 212px 1 0;
    flex-direction: column;
    text-decoration: none;
  }

  &__featured-image {
    position: relative;
    height: 212px;
    border-top-left-radius: calc(2 * var(--base-spacing));
    border-top-right-radius: calc(2 * var(--base-spacing));
    overflow: hidden;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgb(0 0 0 / 0);
      transition: var(--basic-transition);
      content: ' ';
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: calc(3 * var(--base-spacing));
  }

  &__category {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(small);

    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--text-service);
  }

  &__title {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(medium);

    display: inline-block;
    margin: calc(2 * var(--base-spacing)) 0;
    border-bottom: 1.5px solid transparent;
    transition: var(--basic-transition);
  }

  &__meta {
    display: flex;
    justify-content: space-between;
  }

  &__excerpt {
    @include m.font-noto-sans();
    @include m.font-scale();

    margin-bottom: 16px !important;
    color: var(--text-primary);
  }
}
