@import '../../pageSectionMixin';

.download-page_config{
  @media (max-width: $SCREEN_XS_MAX) {
    width: 320px;
    margin: 0 auto;
  }
  .configure-section{
    margin-top: 40px;
    @media (max-width: $SCREEN_XS_MAX) {
      margin-top: 30px;
    }
    h2{
      @media (max-width: $SCREEN_SM_MAX) {
        width: 480px;
      }
      @media (max-width: $SCREEN_XS_MAX) {
        width: auto;
      }
    }
    .instruction{
      &::after{
        left: 0;
        content: '';
        display: block;
        width: 700px;
        position: absolute;
        border-bottom: 2px solid rgba(57, 195, 216, 0.2);
        @media (max-width: $SCREEN_SM_MAX) {
          width: 530px;
        }
        @media (max-width: $SCREEN_XS_MAX) {
          display: none;
        }
      }
    }
    .elastic-search{
      b{
        font-family: $FONT-HEADER;
      }
    }
    a{
      margin-left: 0;
      @media (max-width: $SCREEN_XS_MAX) {
        display: block;
        margin-top: 5px;
      }
      &:hover{
        color: $COLOR-TOPAZ;
        &::after{
          border-top: 1.5px solid $COLOR-TOPAZ !important;
          border-right: 1.5px solid $COLOR-TOPAZ !important;
        }
      }
      &::after{
        content: '';
        border-top: 1.5px solid $COLOR-TEALISH;
        border-right: 1.5px solid $COLOR-TEALISH;
        height: 6px;
        width: 6px;
        display: inline-block;
        transform: rotate(45deg);
        margin-left: 5px;
        margin-bottom: 2px;
      }
      &.btn{
        padding: 13px 15px 13px 50px;
        margin: 10px 0 0 0;
        width: 240px;
        box-sizing: border-box;
        text-align: center;
        &.download{
          background: url('./img/download.svg');
          background-repeat: no-repeat;
          background-position: 35px;
          margin-right: 80px;

          @media (max-width: $SCREEN_SM_MAX) {
            margin-right: 10px;
          }
        }
        &.create {
          background-image: url('./img/create.svg');
          background-repeat: no-repeat;
          background-position: 60px;

          &.disabled {
            background-image: url('./img/create-disabled.svg');
          }
        }
        &.disabled {
          color: $COLOR-GRAY-60;
          background-color: $COLOR--white;
          border-color: $COLOR-GRAY-91;
        }
        &::after{
          display: none;
        }
      }
    }
    .step{
      width: 680px;
      @media (max-width: $SCREEN_SM_MAX) {
        width: 480px;
      }
      @media (max-width: $SCREEN_XS_MAX) {
        width: auto;
      }
      & > a{
        display: block;
        margin-top: 20px;
      }
      p{
        margin-top: 0px;
      }
    }
    .step-note{
      margin-top: 5px;
    }
    .first{
      p{
        @media (max-width: $SCREEN_XS_MAX) {
          margin-left: 20px;
        }
      }
      div::before{
        height: 90px;
        @media (max-width: $SCREEN_XS_MAX) {
          height: 65px;
          left:13px;
        }
      }
    }
    .second{
      margin-top: -30px;
      @media (max-width: $SCREEN_XS_MAX) {
        margin: 0;
      }
      div::before{
        height: 165px;
      }
    }
    .sm-container{
      width: 720px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      @media (max-width: $SCREEN_SM_MAX) {
        width: 480px;
      }
      @media (max-width: $SCREEN_XS_MAX) {
        width: auto;
        margin: 0;
        p{
          margin-top: 15px;
          margin-bottom: 25px;
        }
      }
    }
    .code{
      position: relative;
      font-family: $DROID;
      background: $COLOR--pale-grey;
      padding: 10px 15px;
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 20px;
      letter-spacing: normal;
      text-align: left;
      color: $COLOR--brownish-grey;
      margin-bottom: 3px;
      margin-left: 0;
      @media (max-width: $SCREEN_XS_MAX) {
        margin-right: 10px;
        line-height: 1.27;
        margin-bottom: 10px;
      }
      span{
        cursor: pointer;
        float: right;
        font-family: $FONT-REGULAR;
        font-size: 15px;
        text-align: left;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $COLOR-TEALISH;
        &:hover{
          color: $COLOR-TOPAZ;
        }
      }
    }
    dl{
      margin-left: 15px;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 22px;
      letter-spacing: normal;
      text-align: left;
      color: $COLOR-GRAY-47;
      dt{
        float: left;
        font-weight: bold;
      }
    }
  }
}
