.configure-section(data-js-configure)
  .section-container
    .instruction
      h2 2. Configure and deploy ReportPortal with Docker-Compose file
      .step
        p.main-text Download default Docker compose file for the latest version or configure your own file.
        .desktop
          a.btn.download(data-js-download-default) Download default file
          a.btn.create(data-js-configure-file) Configure file
      .step-note.first
        p Compose file deploy all available Bug Tracking System integrations, which are not always needed, but use resources.
      .sm-container
        p.main-text If you want to write a docker compose manually, you can use the latest compose descriptor example in&nbsp;
          a(href='https://github.com/reportportal/reportportal/blob/master/docker-compose.yml',target='_blank') Github repository
      .step
        p.main-text Start the application using the following command and wait a bit
        .code
          | docker-compose -p reportportal up -d --force-recreate
          span.desktop(data-copy='docker-compose -p reportportal up -d --force-recreate') Copy
        a(href='/docs/Maintain-commands-Cheat',target='_blank') More useful commands in Cheat sheet
      .step-note.second.desktop
        p.h3 Decoding the command:
        dl
          dt '-p reportportal'
          dd - adds prefix 'reportportal' to all containers
          dt 'up'
          dd -  creates and starts containers
          dt '-d'
          dd - daemon mode
          dt '--force-recreate'
          dd - re-creates containers if there’re any
