@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.certificates {
  display: flex;
  gap: 16px;

  @include m.breakpoint(v.$phone-lg) {
    gap: 24px;
  }

  svg {
    width: 64px;
    height: 64px;

    @include m.breakpoint(v.$phone-lg) {
      width: 80px;
      height: 80px;
    }
  }
}
