@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

@mixin hide-horizontal-scroll {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

.features-page {
  .process-integration {
    background: linear-gradient(180deg, var(--bg-grey2) 0%, rgb(244 245 250 / 0) 60.17%);

    @include m.breakpoint(v.$desktop-sm) {
      padding-top: 120px;
    }
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn::after {
    @include m.breakpoint(v.$desktop-sm) {
      right: 0 !important;
      left: 0 !important;
    }
  }

  .ant-tabs-tab-btn {
    @include m.breakpoint(v.$desktop-sm) {
      width: 158px;
    }
  }

  &__banner {
    position: relative;
    margin-top: 120px;
    padding-bottom: 40px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      padding-bottom: 22px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      margin-top: 200px;
      padding-bottom: 76px;
    }

    .banner__title {
      margin: 0 auto;
      max-width: 500px;

      @include m.breakpoint(v.$desktop-sm) {
        margin: unset;
        max-width: initial;
      }
    }

    .banner__bg {
      bottom: -50px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        bottom: -92px;
      }
    }
  }

  &__hero {
    margin-top: calc(-1 * var(--header-height));
    background-image: url('../../svg/BackgroundHero.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: var(--header-height);

    @include m.breakpoint(v.$desktop-sm) {
      background-size: contain;
    }

    @include m.breakpoint(v.$desktop-md) {
      background-size: cover;
    }
  }

  &__hero-heading {
    padding-top: 64px;
    text-align: center;

    @include m.breakpoint(v.$desktop-sm) {
      padding-top: 80px;
    }

    h1 {
      @include m.font-noto-sans(v.$fw-semi-bold);
      @include m.font-scale();

      display: none;
      text-transform: uppercase;
      color: var(--color-primary-200);

      @include m.breakpoint(v.$tablet-sm-exact) {
        display: initial;
      }
    }

    h2 {
      @include m.font-poppins(v.$fw-bold);
      @include m.font-scale(large);

      margin: 0 auto;
      color: var(--white);

      @include m.breakpoint(v.$tablet-sm-exact) {
        @include m.font-scale(x3-large);

        margin-top: 16px;
        width: 720px;
      }

      @include m.breakpoint(v.$desktop-sm) {
        @include m.font-scale(x4-large);

        width: 900px;
      }
    }
  }

  &__hero-dashboard {
    padding-top: 32px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      padding-top: 64px;
    }
  }
}

.features-page__features-heading {
  @include m.font-poppins(v.$fw-semi-bold);
  @include m.font-scale(medium);

  margin: 120px 0 0;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  color: var(--text-primary);

  @include m.breakpoint(v.$tablet-sm-exact) {
    font-weight: v.$fw-bold;
  }

  @include m.breakpoint(v.$desktop-sm) {
    @include m.font-scale(large);

    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.features-page__features-explorer {
  z-index: var(--z-index-sticky-block);
  background-color: var(--white);
}

.features-page__features-navigation {
  position: relative;
  border-bottom: 1px solid var(--purple-grey);

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, #fbfcfd 0%, rgb(251 252 253 / 0) 100%);
    width: 120px;
    content: '';
    pointer-events: none;
  }

  &-container {
    @include hide-horizontal-scroll();

    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding: 0 16px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      padding-right: 24px;
      padding-left: 24px;
    }

    @include m.breakpoint(1200px) {
      justify-content: center;
      gap: 74px;
      margin: 0 auto;
      padding-right: 0;
      padding-left: 0;
      max-width: 1200px;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 116px;
    max-width: 116px;
    text-align: center;

    @include m.breakpoint(1200px) {
      min-width: auto;
    }

    &--active,
    &:hover {
      cursor: pointer;
    }

    &:hover span {
      color: var(--color-primary-500);
    }

    span {
      @include m.font-poppins(v.$fw-bold);
      @include m.font-scale(x-small);

      color: var(--text-light-grey);
    }

    &--active {
      border-bottom: 2px solid var(--color-primary-700);
    }

    &--active span {
      color: var(--color-primary-700);
    }
  }
}

.features-page__features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 80px;

  @include m.breakpoint(v.$tablet-sm-exact) {
    padding-bottom: 200px;
  }

  @include m.breakpoint(v.$tablet-sm-exact) {
    &-item-container:nth-child(even) > .container {
      flex-direction: row-reverse;
    }
  }

  &-item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 120px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      flex-direction: row;
      align-items: flex-start;
    }

    @include m.breakpoint(v.$desktop-sm) {
      margin-top: 240px;

      &:first-child {
        margin-top: 200px;
      }

      &:nth-child(odd) > div:first-child {
        padding-right: 32px;
      }

      &:nth-child(even) > div:first-child {
        padding-left: 32px;
      }
    }

    &-trailing {
      flex: 1;
      margin: 0 30px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        margin: 0;
      }
    }

    &-leading {
      flex: 1;
    }

    &-premium {
      @include m.font-poppins(v.$fw-semi-bold);
      @include m.font-scale(x-small);

      display: inline-flex;
      margin-bottom: 8px;
      border-radius: 16px;
      background: var(--graphics-orchid);
      padding: 0 8px;
      color: var(--white);
    }

    h3 {
      @include m.font-poppins(v.$fw-bold);
      @include m.font-scale(x4-medium);

      margin: 0;
      color: var(--text-primary);

      @include m.breakpoint(v.$tablet-sm-exact) {
        @include m.font-scale(large);
      }

      @include m.breakpoint(v.$desktop-sm) {
        @include m.font-scale(x3-large);
      }
    }

    p {
      @include m.font-noto-sans();
      @include m.font-scale();

      display: flex;
      align-items: center;
      margin: 16px 0 0;
      line-height: 24px;
      color: var(--text-primary);

      @include m.breakpoint(v.$tablet-sm-exact) {
        margin-top: 24px;
      }

      @include m.breakpoint(v.$desktop-sm) {
        @include m.font-scale(medium);

        margin-top: 32px;
      }
    }

    a {
      @include m.breakpoint(v.$tablet-sm-exact) {
        margin-top: 24px;
      }

      @include m.breakpoint(v.$desktop-sm) {
        margin-top: 32px;
      }
    }
  }
}

.features-page__frameworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;

  @include m.breakpoint(v.$tablet-sm-exact) {
    margin: 120px auto 0;
    max-width: 996px;
  }

  @include m.breakpoint(v.$tablet-sm-exact) {
    margin-bottom: 80px;
  }

  h2 {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(x4-medium);

    margin: 0;
    color: var(--text-primary);

    @include m.breakpoint(v.$desktop-sm) {
      @include m.font-scale(x3-large);
    }
  }

  h3 {
    @include m.font-poppins();
    @include m.font-scale(x2-medium);

    margin: 16px 0 0;
    color: var(--text-service);

    @include m.breakpoint(v.$desktop-sm) {
      margin-top: 24px;
    }
  }

  .frameworks {
    margin-top: 64px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      padding-right: 24px;
      padding-left: 24px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      margin-top: 60px;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .frameworks__box-tabs,
  .frameworks__box-content {
    @include m.breakpoint(v.$desktop-sm) {
      padding-right: 24px;
      padding-left: 24px;
    }
  }
}

.features-page__faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;

  @include m.breakpoint(v.$tablet-sm-exact) {
    padding-top: 80px;
  }

  @include m.breakpoint(v.$desktop-sm) {
    padding-top: 120px;
  }

  &-heading {
    text-align: center;

    h2 {
      @include m.font-poppins(v.$fw-bold);
      @include m.font-scale(x4-medium);

      margin: 0;
      color: var(--text-primary);

      @include m.breakpoint(v.$tablet-sm-exact) {
        @include m.font-scale(large);
      }

      @include m.breakpoint(v.$desktop-sm) {
        @include m.font-scale(x3-large);
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    width: 100%;

    @include m.breakpoint(v.$desktop-sm) {
      margin-top: 80px;
      width: 792px;
    }

    &-item {
      border: none;
      border-bottom: 2px solid var(--purple-grey);
      background: none;
      padding-top: 24px;
      padding-bottom: 24px;
      text-align: left;
      cursor: pointer;

      &:not(:first-child) {
        margin-top: 16px;
      }

      &-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 16px;
        padding-left: 16px;

        h3 {
          @include m.font-poppins(v.$fw-semi-bold);
          @include m.font-scale();

          margin: 0;
          color: var(--dark);
        }

        img {
          width: 24px;
          height: 24px;
        }

        &--arrow-shown {
          transform: rotate(-90deg);
        }
      }

      &-description {
        display: none;

        &--shown {
          display: block;
        }

        p {
          @include m.font-noto-sans();
          @include m.font-scale();

          margin: 16px 0 0;
          padding-left: 16px;
          white-space: pre-wrap;
          color: var(--dark);
        }
      }
    }
  }
}
