@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/mixins/breakpoint';
@import 'src/styles/variables';

.service-hours {
  padding: 120px 16px;

  @include breakpoint($tablet-sm-exact) {
    padding: 120px 24px;
  }

  @include breakpoint($desktop-sm) {
    padding: 120px 0;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 59px;

    @include breakpoint($tablet-sm-exact) {
      margin-bottom: 0;
    }
  }

  &__description {
    @include font-noto-sans();
    @include font-scale(x2-medium);

    max-width: 992px;
    text-align: center;
    color: var(--text-service);
    margin-bottom: 59px;
  }

  &__equals {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 928px;
    margin: 0 auto;
    background: url("../../../svg/testing/Illustrayion.svg") no-repeat;

    &-images {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 49px;

      @include breakpoint($desktop-sm) {
        flex-direction: row;
      }

      &--equal {
        width: 55px;
        height: 33px;
        background: url('../../../svg/testing/equal.svg') no-repeat;
        background-size: contain;
      }
    }

    .unordered-list {
      @include breakpoint($desktop-sm) {
        align-self: flex-end;
      }

      &__list {
        @include font-scale(medium);

        gap: 16px;
        padding-left: 4px;

        @include breakpoint($tablet-sm-exact) {
          padding-left: 0;
        }
      }
    }
  }
}
