.features-page{
  .container{
    width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    @media(max-width: $SCREEN_MD_MAX){
      width: 800px;
    }
    @media(max-width: $SCREEN_SM_MAX){
      width: 100%;
    }
    @media(max-width: $SCREEN_XS_MAX){
      width: 320px;
    }
  }
  .feature-container{
    display: table;
    width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    @media(max-width: 1280px){
      width: 100%;
    }
    @media(max-width: $SCREEN_SM_MAX){
      display: block;
      width: 700px;
    }
    @media(max-width: $SCREEN_XS_MAX){
      width: 320px;
    }
  }
  .clearfix::after {
    display: table;
    clear: both;
    content: "";
  }
  .bg-darken{
    background: $COLOR-WHITE_TWO;
    .feature-container{
      @media(max-width: $SCREEN_SM_MAX){
        display: flex;
        flex-direction: column-reverse;
        width: 700px;
      }
      @media(max-width: $SCREEN_XS_MAX){
        width: 320px;
        .animation{
          max-height: 180px;
        }
      }
    }
  }
  .description{
    display: table-cell;
    width: 640px;
    box-sizing: border-box;
    vertical-align: middle;
    @media(max-width: 1280px){
      padding-left: 10px;
      width: auto;
    }
    .h3{
      display: inline-block;
      margin-bottom: 15px;
      font-family: $FONT-LIGHT;
      color: $COLOR-TOPAZ;
      font-size: 22px;
      line-height: 1.45;
      text-decoration: none;
      &:hover{
        color: $COLOR-TEALISH;
      }
      @media(max-width: $SCREEN_XS_MAX){
        margin-bottom: 5px;
        font-size: 18px;
      }
    }
    .text{
      color: $COLOR-CHARCOAL-GREY;
      font-size: 15px;
      line-height: 1.6;
    }
  }
  .animation {
    display: table-cell;
    width: 640px;
    height: 400px;
    @media(max-width: $SCREEN_SM_MAX){
      display: block;
      margin-bottom: 30px;
      height: auto;
    }
    @media(max-width: $SCREEN_XS_MAX){
      width: 100%;
      margin-bottom: 20px;
    }
    img{
      width: 100%;
    }
  }
}
