@import 'src/styles/variables';
@import 'src/styles/mixins/font';

$border-thickness: 1px;
$starter-top-position: -300px;

.indicatory {
  position: sticky;
  top: var(--header-height);
  left: 0;
  right: 0;
  margin-top: 160px;
  margin-bottom: 100px;
  padding: 25px;
  transition: transform .9s ease-out;

  &__centered {
    top: 50%;
    transform: translateY(-50%);
  }

  &__path {
    position: relative;
    height: 100%;
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;

    &-item {
      height: 140px;

      &-substring {
        @include font-noto-sans();
      }

      // &:first-child::after {
      //   content: '';
      //   display: block;
      //   position: absolute;
      //   border-left: $border-thickness solid var(--text-light-grey);
      //   top: $starter-top-position;
      //   bottom: -300px;
      //   left: 11px;
      //   z-index: 0;
      // }
      
      &-line {
        display: none;
      }

      &:first-child {
        .indicatory__box-item-line {
          display: block;
          position: absolute;
          border-left: $border-thickness solid var(--text-light-grey);
          top: $starter-top-position;
          bottom: -300px;
          left: 11px;
          z-index: 0;
        }
      }
    }
  }

  &__link {
    @include font-noto-sans($fw-semi-bold);

    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    white-space: pre-wrap;
    color: var(--text-light-grey);
    line-height: 1.7;
    cursor: pointer;

    &:hover {
      color: var(--color-primary-500);
    } 

    &:hover::before {
      border: 1px solid var(--color-primary-500);
    }

    &.active {
      color: var(--text-primary);
      &::before {
        left: -25px;
        background-color: var(--color-primary-500);
        transition: background-color .4s ease-out;
        border: none;
      }

      .indicatory__box-item-substring {
        color: var(--text-grey);
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: -26px;
      top: 7px;
      background-color: var(--white);
      transition: background-color .4s ease-out;
      width: 13px;
      height: 13px;
      border: $border-thickness solid var(--text-light-grey);
      border-radius: 50%;
      z-index: 100;
    }
  }
}
