@import 'src/styles/variables';
@import 'src/styles/mixins/font';

$border-thickness: 1px;
$starter-top-position: -200px;

.indicatory {
  position: sticky;
  top: var(--header-height);
  left: 0;
  right: 0;
  margin-top: 160px;
  margin-bottom: 100px;
  padding: 25px;

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;

    &::before {
      content: '';
      display: block;
      position: absolute;
      border-left: $border-thickness solid var(--text-light-grey);
      top: $starter-top-position;
      bottom: -125px;
      left: 11px;
      z-index: 10;
    }

    &-item {
      height: 140px;
    }
  }

  &__link {
    @include font-noto-sans();

    position: relative;
    display: inline-block;
    margin-left: 30px;
    white-space: pre-wrap;
    color: var(--text-light-grey);
    cursor: pointer;

    &.active {
      color: var(--text-primary);

      &::before {
        background-color: var(--color-primary-500);
        transition: background-color .4s ease-out;
        border: none;
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: -25px;
      top: 3px;
      background-color: var(--white);
      transition: background-color .4s ease-out;
      width: 12px;
      height: 12px;
      border: $border-thickness solid var(--text-light-grey);
      border-radius: 50%;
      z-index: 100;
    }
  }
}
