@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.section-card {
  @include m.font-scale(small);

  display: flex;
  flex-direction: column;
  width: min-content;

  &__title {
    @include m.font-poppins(v.$fw-semi-bold);

    margin: 0 0 18px;
    padding-left: 8px;
    text-transform: uppercase;
    color: var(--text-service);
  }

  &__text {
    @include m.font-poppins();
    @include m.font-scale(small);

    margin-top: 24px;
    margin-bottom: 0;
    line-height: 20px;
    color: var(--text-primary);
  }

  &__footer {
    margin-top: 24px;
  }
}
