@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.switcher {
  display: flex;
  justify-content: center;
  width: 100%;

  &__inner {
    @include m.font-poppins(v.$fw-semi-bold);

    display: flex;
    width: 100%;
    max-width: 490px;
    border-radius: 80px;
    background-color: rgb(255 255 255 / 0.2);
    color: var(--white);
  }

  &__inner-increased {
    max-width: 722px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 52px;
    border-radius: 80px;
    padding: 14px;
    background-color: transparent;
    transform: scale(0.95);
    transition: all 0.4s ease-out;
    cursor: pointer;

    @include m.breakpoint-max(v.$tablet-sm-exact - 1) {
      transform: scale(1);
    }

    &:hover {
      color: var(--white);
    }
  }

  &__text {
    margin-left: 10px;

    @include m.breakpoint-max(v.$tablet-sm-exact - 1) {
      position: absolute;
      top: 58px;
      display: inline-block;
      margin: unset;
      color: var(--white);
      font-size: 14px;
      font-weight: v.$fw-regular;
    }
  }

  &__active {
    background-color: var(--white);
    transform: scale(1);
    color: var(--color-primary-700);

    &:hover {
      color: var(--color-primary-700);
    }
  }

  &__icon {
    display: inline-block;
    margin-bottom: -4px;
  }
}
