@import 'src/styles/mixins/font';
@import 'src/styles/variables';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/mixins/breakpoint';

.switcher {
  display: flex;
  justify-content: center;
  width: 100%;

  &__inner {
    @include font-poppins($fw-semi-bold);

    display: flex;
    width: 100%;
    max-width: 480px;
    border-radius: 80px;
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--white);
  }

  &__inner-increased {
    max-width: 720px;
  }

  &__btn {
    display: flex;
    width: 50%;
    height: 52px;
    align-items: center;
    justify-content: center;
    padding: 14px;
    border-radius: 80px;
    background-color: transparent;
    transition: all 0.4s ease-out;
    transform: scale(0.95);
    cursor: pointer;
  }

  &__text {
    margin-left: 10px;
  }

  &__active {
    background-color: var(--white);
    color: var(--color-primary-700);
    transform: scale(1);
  }

  &__icon {
    display: none;
    margin-bottom: -4px;

    @include breakpoint($phone) {
      display: none;
    }

    @include breakpoint($tablet-sm) {
      display: inline-block;
    }
  }
}
