.install-header
  p.h1 4 easy steps to get started with ReportPortal
.controls.clearfix(data-js-controls)
  .section-container
    ul.steps
      li.step-install.active(data-js-install-cntr)
        a(data-js-to, type='data-js-install')
          span 1.
          | Install Docker
      li.step-configure(data-js-config-cntr)
        a(data-js-to, type='data-js-configure')
          span 2.
          | Configure and deploy ReportPortal
      li.step-open(data-js-open-cntr)
        a(data-js-to, type='data-js-open')
          span 3.
          | Open ReportPortal
      li.step-integrate(data-js-integrate-cntr)
        a(data-js-to, type='data-js-integrate')
          span 4.
          | Integrate with test framework
.install-section(data-js-install)
  .section-container
    .note.recommend.mobile
      p.line We strongly recommend to deploy in <i class='linux'/> Linux based environment
    h2.text-container 1. Install Docker
      span.note Whether you have Docker please skip this step
    .with-note.text-margins
      .description
        .text Docker is a development enviroment for building, assembling and shipping applications. It is available for free.&nbsp;
          a(href='https://www.docker.com/what-docker', data-js-new-window) More about Docker
        .text.desktop Download Docker for <i class='mac'/> Mac OS, <i class='win'/> Windows, <i class='linux'/> Linux and other from&nbsp;
          a(href='https://store.docker.com/', data-js-new-window) Docker Store
      .note.recommend.desktop
        p.line We strongly recommend to deploy in <i class='linux'/> Linux based environment
    .text-container.warning
      p.line
        span Allocate at least&nbsp;
        strong 5+Gb of RAM for Docker&nbsp;
        span via Docker Settings > Advanced

