@import '../../pageSectionMixin';

.installation-page_install {
  .install-header{
    background: url(./img/header.svg);
    height: 160px;
    background-position: center;
    @media (max-width: $SCREEN_XS_MAX) {
      height: 220px;
      background: url(./img/BG_mobile.png);
    }
    .h1 {
      font-family: $FONT-REGULAR;
      color: $COLOR-WHITE_TWO;
      font-size: 25px;
      font-weight: 600;
      line-height: 160px;
      letter-spacing: 0.4px;
      margin: 0;
      text-align: center;
      @media (max-width: $SCREEN_XS_MAX) {
        font-size: 20px;
        font-weight: normal;
        padding: 0 15px;
        line-height: normal;
        padding-top: 75px;
      }
    }
  }
  .controls{
    padding: 40px 0 30px 0;
    background-color: $COLOR-WHITE_TWO;
    z-index: 10;
    @media (max-width: $SCREEN_XS_MAX) {
      margin: 40px auto 0 auto;
      padding: 0;
      width: 320px;
    }
    ul.steps{
      li{
        display: inline-block;
        width: 320px;
        vertical-align: top;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
        color: $COLOR-TEALISH;
        cursor: pointer;
        @media (max-width: $SCREEN_SM_MAX) {
          width: 180px;
        }
        @media (max-width: $SCREEN_XS_MAX) {
          padding-left: 5px;
          width: auto;
          margin-bottom: 15px;
          margin-top: 4px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        a{
          max-width: 190px;
          font-size: 18px;
          font-family: $FONT-LIGHT;
          @media (max-width: $SCREEN_XS_MAX) {
            font-size: 16px;
            padding-left: 20px;
            position: relative;
            max-width: none;
            margin: 0;
          }
          &:hover{
            color: $COLOR-TOPAZ;
          }
        }
        &.step-install{
          a::after{
            width: 280px;
            @media (max-width: $SCREEN_SM_MAX) {
              width: 165px;
            }
            @media (max-width: $SCREEN_XS_MAX) {
              width: 1px;
            }
          }
        }
        &.step-open{
          a::after{
            width: 300px;
            @media (max-width: $SCREEN_SM_MAX) {
              width: 150px;
            }
            @media (max-width: $SCREEN_XS_MAX) {
              width: 1px;
            }
          }
        }
        a{
          position: relative;
          display: inline-block;
          span{
            height: 50px;
            float: left;
            margin-right: 7px;
            @media (max-width: $SCREEN_SM_MAX) {
              height: 70px;
            }
            @media (max-width: $SCREEN_XS_MAX) {
              height: auto;
            }
          }
          &::before {
            content: '';
            width: 9px;
            height: 9px;
            border: 1px solid $COLOR-TEALISH;
            border-radius: 50%;
            display: block;
            margin: 0 auto 5px auto;
            @media (max-width: $SCREEN_XS_MAX) {
              position: absolute;
              left: 0;
              top: 7px;
              width: 5px;
              height: 5px;
            }
          }
          &::after{
            content: '';
            height: 1px;
            background-color: $COLOR-TEALISH;
            opacity: 0.3;
            display: block;
            position: absolute;
            top: 5px;
            left: 50%;
            margin-left: 15px;
            @media (max-width: $SCREEN_XS_MAX) {
              height: 35px;
              left: 3px;
              top: 14px;
              margin: 0;
            }
          }
        }
        &.active{
          a{
            font-family: $FONT-REGULAR;
            color: $COLOR-STEEL-GREY;
            &::before{
              background-color: $COLOR-TEALISH;
            }
          }
        }
      }
    }
  }
  .install-section{
    @media (max-width: $SCREEN_XS_MAX) {
      width: 320px;
      margin: 0 auto 0 auto;
    }
    .section-container{
      padding-top: 30px;
      padding-bottom: 40px;
      @media (max-width: $SCREEN_XS_MAX) {
        padding-top: 0;
        padding-bottom: 20px;
      }
      &::after{
        position: absolute;
        bottom: 0;
        display: block;
        width: 700px;
        border-bottom: 2px rgba(57, 195, 216, 0.20) solid;
        content: '';
        @media (max-width: $SCREEN_SM_MAX) {
          width: 550px;
        }
        @media (max-width: $SCREEN_XS_MAX) {
          display: none;
        }
      }
    }
  }
  i{
    display: inline-block;
    margin-right: 3px;
    margin-left: 5px;
    vertical-align: text-top;
    &.win{
      width: 17px;
      height: 17px;
      background-image: url('./img/win.svg');
    }
    &.linux{
      width: 17px;
      height: 20px;
      background-image: url('./img/linux.svg');
    }
    &.mac{
      width: 18px;
      height: 18px;
      background-image: url('./img/mac.svg');
    }
  }
  .note{
    .linux {
      display: inline-block;
      width: 13px;
      height: 17px;
      background-image: url('./img/linux-rec.svg');
      background-size: contain;
      vertical-align: text-bottom;
    }
    .capacity {
      color: $COLOR-GRAY-47;
      font-size: 12px;
      text-align: left;

      .text {
        display: inline-block;
        padding-left: 10px;
      }
    }
    &.recommend{
      @media (max-width: $SCREEN_XS_MAX) {
        padding: 40px 0;
      }
    }
  }
}
