.install-header
  p.h1 3 easy steps to get started with ReportPortal
.controls.clearfix(data-js-controls)
  .section-container
    ul.steps
      li.step-install.active(data-js-install-cntr)
        a(data-js-to, type='data-js-install')
          span 1.
          | Configure and deploy ReportPortal
      li.step-open(data-js-open-cntr)
        a(data-js-to, type='data-js-open')
          span 2.
          | Open ReportPortal
      li.step-integrate(data-js-integrate-cntr)
        a(data-js-to, type='data-js-integrate')
          span 3.
          | Integrate with test framework
.install-section(data-js-install)
  .section-container
    .note.recommend.mobile
      p.line We strongly recommend to deploy in
        i.linux
        | Linux based environment
    h2.text-container 1. Configure and deploy ReportPortal
    .with-note.text-margins
      .description
        .text There are two ways to deploy Report Portal:
          .ways-container
            a(href='https://reportportal.io/docs/Deploy-with-Docker', data-js-new-window).btn
              include img/docker.svg
              | Deploy with Docker
            a(href='https://reportportal.io/docs/Deploy-with-Kubernetes', data-js-new-window).btn
              include img/kubernetes.svg
              | Deploy with Kubernetes
      .note.recommend.desktop
        p.line We strongly recommend to deploy in
          i.linux
          | Linux based environment
    .with-note.text-margins
      .description
        .text Instead of using Docker for deployment you can follow the steps described here
          a(href='https://reportportal.io/docs/Deploy-ReportPortal-without', data-js-new-window)  Deploy without Docker
      .note.default
        .line.capacity Production deployment and system capacity
          .text
            a(href='https://reportportal.io/docs/Production-Deployment-And', data-js-new-window)  here
