@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.trusted-organizations {
  &__title {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(medium);

    width: 309px;
    margin: 0 auto 40px;
    text-align: center;
    color: var(--text-primary);

    @include m.breakpoint(v.$tablet-sm-exact) {
      @include m.font-poppins(v.$fw-bold);
      @include m.font-scale(x3-medium);

      width: auto;
    }

    @include m.breakpoint(v.$desktop-sm) {
      @include m.font-scale(large);
    }
  }

  &__icons {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    width: 100%;
    max-width: 252px;
    margin: 0 5px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      display: flex;
      justify-content: center;
      gap: 32px 30px;
      max-width: 100%;
    }

    @include m.breakpoint(v.$desktop-sm) {
      column-gap: 56px;
    }

    &-wrapper {
      display: flex;
      justify-content: center;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;

    img {
      width: initial;
    }
  }
}
