@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.customers-statistics {
  padding: 68px 0 152px;
  background-image: var(--gradient-primary-2);
  color: var(--white);

  @include m.breakpoint(v.$tablet-sm-exact) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include m.breakpoint(v.$desktop-sm) {
    padding-top: 148px;
    padding-bottom: 200px;
  }

  &__container {
    background-image: url('./icons/world.svg');
    background-position: 16px 0;
    background-repeat: no-repeat;
    background-size: 720px 239px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      background-position: top center;
      background-size: contain;
    }
  }

  &__content {
    padding-left: 16px;
    padding-right: 16px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      max-width: 996px;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__title {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(x4-medium);

    margin: 0;
    padding-top: 52px;

    @include m.breakpoint(v.$desktop-sm) {
      @include m.font-scale(x3-large);
    }

    @include m.breakpoint(v.$desktop-sm) {
      max-width: 800px;
    }
  }

  &__sub-title {
    @include m.font-noto-sans();
    @include m.font-scale(x2-medium);

    margin: 16px 0 0;
  }

  &__title,
  &__sub-title {
    @include m.breakpoint(v.$tablet-sm-exact) {
      text-align: center;
    }

    @include m.breakpoint(v.$desktop-sm) {
      text-align: left;
    }
  }
}

.customers-statistics-list {
  display: grid;
  gap: 48px;
  padding: 48px 0 0;

  @include m.breakpoint(v.$tablet-sm-exact) {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  @include m.breakpoint(v.$desktop-sm) {
    justify-content: center;
    gap: 45.33px;
    padding: 80px 0 0;
  }

  li {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 16px;
    border-left: 1px solid var(--text-service);

    strong {
      &:nth-child(1) {
        @include m.font-poppins(v.$fw-bold);
        @include m.font-scale(x4-medium);

        @include m.breakpoint(v.$tablet-sm-exact) {
          @include m.font-scale(large);
        }
      }

      &:nth-child(2) {
        @include m.font-poppins(v.$fw-semi-bold);
        @include m.font-scale();
      }
    }

    span {
      @include m.font-noto-sans();
      @include m.font-scale();

      margin-top: 8px;
      color: var(--text-light-grey);

      @include m.breakpoint(v.$desktop-sm) {
        display: inline-block;
        width: 98%;
      }
    }
  }
}
