@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.customers-statistics {
  padding: 68px 0 152px;
  background-image: var(--gradient-primary-2);
  color: var(--white);

  @include m.breakpoint(v.$tablet-sm-exact) {
    padding-right: 24px;
    padding-left: 24px;
  }

  @include m.breakpoint(v.$desktop-sm) {
    padding-top: 148px;
    padding-bottom: 200px;
  }

  &__container {
    background-image: url('./icons/world.svg');
    background-position: 16px 0;
    background-repeat: no-repeat;
    background-size: 720px 239px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      background-position: top center;
      background-size: contain;
    }
  }

  &__content {
    padding-right: 16px;
    padding-left: 16px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      max-width: 996px;
      margin: 0 auto;
      padding-right: 0;
      padding-left: 0;
    }

    .statistic-list {
      @include m.breakpoint(v.$desktop-sm) {
        gap: 45.33px;
      }

      li {
        border-left: 1px solid var(--text-service);
      }

      span {
        color: var(--text-light-grey);
      }
    }
  }

  &__title {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(x4-medium);

    margin: 0;
    padding-top: 52px;

    @include m.breakpoint(v.$desktop-sm) {
      @include m.font-scale(x3-large);
    }

    @include m.breakpoint(v.$desktop-sm) {
      max-width: 800px;
    }
  }

  &__sub-title {
    @include m.font-noto-sans();
    @include m.font-scale(x2-medium);

    margin: 16px 0 0;
  }

  &__title,
  &__sub-title {
    @include m.breakpoint(v.$tablet-sm-exact) {
      text-align: center;
    }

    @include m.breakpoint(v.$desktop-sm) {
      text-align: left;
    }
  }
}
