@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.common-requests {
  background-image: url('../../../svg/testing/GrayVector.svg');
  background-repeat: no-repeat;
  background-size: 100% 90%;
  padding: 120px 0;

  h2 {
    margin: 0 auto;
    max-width: 328px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      max-width: none;
    }
  }

  .requests {
    display: flex;
    gap: 24px;
    margin: 40px 16px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      gap: 90px;
      margin: 74px 24px 60px;
      width: 1440px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      margin: 74px 120px 60px;
      width: 1410px;
    }

    &:last-child {
      margin-left: 8px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        margin-left: 200px;
      }

      @include m.breakpoint(v.$desktop-sm) {
        margin-left: 300px;
      }
    }

    &__wrapper {
      @include m.hide-scroll();

      display: flex;
      overflow: auto;

      @include m.breakpoint(v.$tablet-sm-exact) {
        display: block;
        margin: 0 auto;
        max-width: 1520px;
      }
    }

    &__item {
      display: flex;
      position: relative;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      gap: 16px;
      border-radius: 16px;
      box-shadow: 0 19px 34px 0 rgb(91 112 115 / 0.08);
      background: var(--white);
      padding: 40px;
      width: 239px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        align-items: flex-start;
        width: 421px;
        height: 228px;
      }

      &::before {
        position: absolute;
        bottom: -32px;
        left: 40px;
        border-bottom: 32px solid transparent;
        border-left: 32px solid var(--white);
        content: '';
      }

      &-description {
        @include m.font-poppins(v.$fw-semi-bold);
        @include m.font-scale();

        color: var(--text-primary);
      }

      &-group-name {
        @include m.font-poppins(v.$fw-medium);
        @include m.font-scale();

        color: var(--text-grey);
      }
    }
  }
}
