.feature-container.clearfix
  .animation
    img(src=require("./img/aggregation.png"), alt="Aggregate all info about test in one place: test history, logs, attachments")
  .description
    a.h3(href='/docs/View-launches%3Elog-view' target='blank') Aggregate all info about test in one place: test history, logs, attachments
    p.text You can see all info about a test case in one place and find a failure cause in previous runs easily.

