@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.notice {
  display: flex;
  margin-top: 24px;

  &__border {
    border-radius: 4px;
    background-color: var(--text-light-grey);
    width: 4px;
  }

  &__content {
    @include m.font-noto-sans();

    margin-top: 8px;
    padding-left: 24px;
    color: var(--text-service);
  }

  &__title {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(small);

    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__text {
    margin-top: var(--space-md);
    margin-bottom: var(--space-sm);
  }

  &__importance {
    background-color: var(--graphics-orange);
  }
}
