$ANIMATION-EASING: cubic-bezier(.25,.46,.45,.94);
$ANIMATION-WIDTH: 20px;
$ANIMATION-DURATION: .5s;

$MIN-ANIMATION-WIDTH: 1000px;

$LARGE-INTERFACE-WIDTH: 1000px;
$PRE-MIDDLE-INTERFACE-WIDTH: 820px;
$MIDDLE-INTERFACE-WIDTH: 800px;
$MOBILE-INTERFACE-WIDTH: 600px;

@mixin content-section() {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  @media (max-width: $LARGE-INTERFACE-WIDTH) {
    width: 800px;
  }
  @media (max-width: $PRE-MIDDLE-INTERFACE-WIDTH) {
    width: auto;
    padding: 0 10px;
  }
}

@mixin social-icons($width, $height, $url){
  width: $width;
  height: $height;
  background-image: $url;
}

@mixin video-preview($url) {
  a {
    text-decoration: none;
    color: $COLOR-TEALISH;
    &.video-preview {
      position: relative;
      display: inline-block;
      &:after {
        content: ' ';
        position: absolute;
        display: block;
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        margin-top: -30px;
        margin-left: -30px;
        cursor: pointer;
        opacity: .346;
        background: $url center no-repeat;
      }
      &:hover {
        &:after {
          opacity: .85;
        }
      }
    }
  }
}

