$ANIMATION-EASING: cubic-bezier(.25,.46,.45,.94);
$ANIMATION-WIDTH: 20px;
$ANIMATION-DURATION: .5s;

$MIN-ANIMATION-WIDTH: 1000px;

$LARGE-INTERFACE-WIDTH: 1000px;
$PRE-MIDDLE-INTERFACE-WIDTH: 820px;
$MIDDLE-INTERFACE-WIDTH: 800px;
$MOBILE-INTERFACE-WIDTH: 600px;

@mixin content-section() {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  @media (max-width: $LARGE-INTERFACE-WIDTH) {
    width: 800px;
  }
  @media (max-width: $PRE-MIDDLE-INTERFACE-WIDTH) {
    width: auto;
    padding: 0 10px;
  }
}

@mixin social-icons($width, $height, $url){
  width: $width;
  height: $height;
  background-image: $url;
}

@mixin video-preview() {
  a {
    text-decoration: none;
    color: $COLOR-TEALISH;
    &.video-preview {
      position: relative;
      display: inline-block;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 104px;
        height: 104px;
        border-radius: 50%;
        background: $COLOR-WHITE_TWO url('common/img/play.svg') no-repeat 17px;
        box-shadow: 0 2px 80px 0 rgba(142, 142, 142, 0.5);
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .1s linear;
      }
      &:hover:before {
        display: block;
        background-color: rgba(13, 112, 119, 0.1)
      }
    }
  }
}

