@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.custom-checkbox {
  @include m.font-poppins();
  @include m.font-scale(small);

  position: relative;
  margin-top: 2px;
  padding-left: 32px;
  line-height: 20px;
  color: var(--primary-colors-almost-black);
  cursor: pointer;
  user-select: none;

  a {
    color: var(--text-service);
    font-weight: v.$fw-medium;

    &:hover {
      color: var(--text-grey);
    }

    &:active {
      color: var(--color-primary-700);
    }
  }

  &__checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    width: 24px;
    height: 24px;
    border: 1px solid var(--text-light-grey);
    border-radius: 3px;

    &::after {
      position: absolute;
      inset: -2px 0 0;
      display: none;
      width: 5px;
      height: 11px;
      margin: auto;
      border: solid var(--white);
      border-width: 0 2px 2px 0;
      transform: rotate(40deg);
      content: '';
    }
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .custom-checkbox__checkmark::after {
      display: block;
    }
  }

  &:active,
  &:hover {
    input {
      & ~ .custom-checkbox__checkmark {
        border-color: var(--text-service);
      }

      &:checked ~ .custom-checkbox__checkmark {
        border-color: var(--color-primary-500);
        background-color: var(--color-primary-500);
      }
    }
  }

  &:not(:hover):not(:active) {
    input:checked {
      & ~ .custom-checkbox__checkmark {
        border-color: var(--color-primary-600);
        background-color: var(--color-primary-600);
      }
    }
  }
}
