$MOBILE-INTERFACE-WIDTH: 600px;
.slider-container{
  width: 100%;
  height: 190px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 44px;
  position: relative;
  .arrow_right {
    right: 18px;
  }
  .arrow_left {
    left: 18px;
  }
  .arrow_right, .arrow_left  {
    top: 45px;
    position: absolute;
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 0.8;
    i{
      font-size: 18px;
      color: $COLOR-TEALISH;
    }
  }
  .arrow_right:hover, .arrow_left:hover {
    cursor: pointer;
    opacity: 1;
    transition-duration: 0.5s;
  }
  .arrow_right.disable, .arrow_left.disable{
    transition-duration: 1s;
    opacity: 0.5;
    cursor: default;
  }
  .ul_overflow{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
    ul{
      position:relative;
      height:100%;
      width:100%;
      margin:0;
      padding:0;
      &.animate{
        -webkit-transition: -webkit-transform 0.5s ease;
        -moz-transition: -moz-transform 0.5s ease;
        -o-transition: -o-transform 0.5s ease;
        transition: transform 0.5s ease;
      }
      li{
        font-size: 0;
        position:absolute;
        overflow:hidden;
        width:100%;
        height:100%;
        .carousel-item{
          box-sizing: border-box;
          margin-bottom: 10px;
          width: 25%;
          display: inline-block;
          padding: 0 10px;
          vertical-align: top;
          .hider{
            overflow: hidden;
            height: 115px;
            position: relative;
            margin-bottom: 10px;
            span{
              position: absolute;
              bottom: 3px;
              right: 3px;
              background: rgba(0, 0, 0, 0.64);
              color: white;
              font-size: 12px;
              padding: 0 4px;
              border-radius: 2px;
            }
          }
          &.more-link{
            border: solid 1px $COLOR--light-blue-grey;
            text-align: center;
            height: 115px;
            div{
              line-height: 115px;
            }
          }
          img{
            margin-top: -20px;
            width: 100%;
          }
        }
        a{
          font-family: OpenSans;
          font-size: 15px;
          line-height: 1.47;
          text-decoration: none;
          color: $COLOR-TEALISH;
          &:hover{
            color: $COLOR-TOPAZ;
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .section-container{
    .slider-container{
      width: 544px;
      height: 400px;
      box-sizing: border-box;
      margin: 0 auto;
      .ul_overflow{
        ul{
          li{
            .carousel-item{
              width: 50%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: $MOBILE-INTERFACE-WIDTH) {
  .section-container{
    .slider-container{
      padding: 0 18px;
      width: 300px;
      height: 800px;
      box-sizing: border-box;
      margin: 0 auto;
      .arrow_left{
        left: 0;
      }
      .arrow_right{
        right: 0;
      }
      .ul_overflow{
        ul{
          li{
            .carousel-item{
              width: 100%;
              img{
                margin-top: -25px;
              }
            }
          }
        }
      }
    }
  }
}
