@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.showcase {
  position: relative;
  margin-top: calc(-1 * var(--header-height));
  padding: calc(64px + var(--header-height)) 16px 48px;
  color: var(--white);

  @include m.breakpoint(v.$tablet-sm-exact) {
    padding-top: calc(120px + var(--header-height));
  }

  @include m.breakpoint(v.$desktop-sm) {
    min-height: 970px;
  }

  &__container {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
  }

  &__title {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(large);

    margin: 0;
    text-align: center;

    @include m.breakpoint(v.$phone) {
      @include m.font-scale(x3-large);
    }

    @include m.breakpoint(v.$tablet-sm) {
      @include m.font-scale(x4-large);
    }
  }

  &__subtitle {
    @include m.font-noto-sans();
    @include m.font-scale(x2-medium);

    margin-top: 16px;
    text-align: center;
  }

  &__btn-row {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }

  &__btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding: 0;
    width: 100%;

    a {
      flex-basis: 152px;
      flex-grow: 1;
      padding-right: 20px;
      padding-left: 20px;
      max-width: 180px;
    }
  }

  &__quote-btn {
    border-color: var(--white);
    color: var(--white);
  }

  &__watch-video-container {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }

  &__btn-watch-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: transparent;
    color: var(--white);
    cursor: pointer;

    &:hover {
      color: var(--color-primary-200);

      .showcase__btn-watch-video-icon {
        background-image: url('icons/play-icon-hover.svg');
      }
    }

    &:active {
      color: var(--color-primary-700);

      .showcase__btn-watch-video-icon {
        background-image: url('icons/play-icon-active.svg');
      }
    }

    span {
      @include m.font-poppins(v.$fw-semi-bold);
      @include m.font-scale();

      display: block;
      margin-top: 12px;
    }

    .showcase__btn-watch-video-icon {
      display: block;
      background-image: url('icons/play-icon.svg');
      width: 48px;
      height: 48px;
    }
  }

  &__bg-video-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    &::before {
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgb(0 129 167 / 0.85) 0%, rgb(98 115 197 / 0.85) 100%);
      backdrop-filter: blur(6px);
      content: '';
    }
  }

  &__bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__carousel-button {
    border: none;
    background: none;
    padding: 0;
    line-height: 0;

    &:hover {
      cursor: pointer;
    }

    &:last-child {
      transform: rotateY(180deg);
    }
  }

  .ant-carousel {
    width: 852px;
  }

  &__carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;

    .slick-dots {
      bottom: -8px;

      li,
      li.slick-active {
        width: 32px;
        height: 2px;
        margin-inline: 8px;

        button {
          transition: none;
          border-radius: 0;
          background-color: rgb(255 255 255 / 0.3);

          &,
          &:hover {
            opacity: unset;
          }
        }
      }

      li.slick-active button {
        background: linear-gradient(to right, var(--white) 50%, rgb(255 255 255 / 0.3) 0);
        background-position: right;
        background-size: 200% 100%;
        animation: progressAnimation 5s forwards;
      }
    }
  }

  &__carousel,
  &__carousel-mobile {
    margin-top: 120px;
  }

  &__carousel-logo {
    padding-right: 24px;
    padding-left: 24px;
    line-height: 0;
  }

  &__carousel-slide {
    display: flex !important;
    align-items: center;
    height: 80px;
  }
}
