@import 'variables';
@import 'mixins/font';
@import 'mixins/font-scale';

.btn {
  @include font-poppins($fw-semi-bold);
  @include font-scale(base);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  svg {
    margin-right: 9px;
  }

  &:disabled {
    opacity: 0.3;
    cursor: auto;
  }

  &--primary {
    background: linear-gradient(55deg, #0081a7 19.29%, var(--color-primary-600) 90.72%);
    color: #fff;

    &:hover {
      background: #00b4d5;
    }

    &:active {
      background: #0081a7;
    }

    &:disabled {
      background: linear-gradient(55deg, #0081a7 19.29%, var(--color-primary-600) 90.72%);
    }
  }

  &--outline {
    border: 2px solid var(--color-primary-600);
    color: var(--color-primary-600);
    background: transparent;

    &:hover {
      background: var(--color-primary-100);
      color: var(--color-primary-500);
      border-color: var(--color-primary-500);
      opacity: 1;
    }

    &:active:not(:disabled) {
      background: var(--color-primary-100);
      border-color: var(--color-primary-700);
      color: var(--color-primary-700);
      border-width: 1px;
    }

    &:disabled {
      background: none;
      border-color: var(--color-primary-600);
      opacity: 0.3;
      color: var(--color-primary-600);
      cursor: auto;
    }
  }
}
