@import 'variables';
@import 'mixins/font';
@import 'mixins/font-scale';

.btn {
  @include font-poppins($fw-semi-bold);
  @include font-scale(base);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  svg {
    margin-right: 9px;
  }

  &:disabled {
    opacity: 0.3;
    cursor: auto;
  }

  &--small {
    padding: 10px 16px;
  }

  &--large {
    padding: 16px 32px;
  }

  &--primary {
    background: var(--gradient-primary);
    color: var(--text-white);

    &:hover {
      background: var(--color-primary-500);
    }

    &:active {
      background: var(--color-primary-700);
    }

    &:disabled {
      background: var(--gradient-primary);
    }
  }

  &--secondary {
    background: var(--bg-white);
    color: var(--color-primary-700);

    &:hover {
      background: var(--color-primary-100);
      color: var(--color-primary-500);
    }

    &:active {
      color: var(--color-primary-700);
    }
  }

  &--outline,
  &--outline-2 {
    border: 2px solid var(--color-primary-600);
    color: var(--color-primary-600);
    background: transparent;

    &:hover {
      background: var(--color-primary-100);
      color: var(--color-primary-500);
      border-color: var(--color-primary-500);
      opacity: 1;
    }

    &:active:not(:disabled) {
      background: var(--color-primary-100);
      border-color: var(--color-primary-700);
      color: var(--color-primary-700);
    }

    &:disabled {
      background: none;
      border-color: var(--color-primary-600);
      opacity: 0.3;
      color: var(--color-primary-600);
      cursor: auto;
    }
  }

  &--outline-2 {
    border-color: var(--bg-white);
    color: var(--text-white);

    &:hover,
    &:active:not(:disabled) {
      background: var(--color-primary-100);
      border-color: var(--color-primary-100);
      color: var(--color-primary-500);
    }

    &:active:not(:disabled) {
      color: var(--color-primary-700);
    }

    &:hover {
      color: var(--color-primary-500);
    }
  }
}
