@import 'variables';
@import 'mixins/breakpoint';
@import 'font/poppins';
@import 'font/noto-sans';
@import 'buttons';

html {
  scroll-behavior: smooth;
}

html * {
  box-sizing: border-box;
}

body {
  @include font-noto-sans();
  @include font-scale();

  background: var(--background);
  color: var(--text-color);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;

  &:hover {
    color: var(--text-grey);
  }

  &:active {
    color: var(--color-primary-700);
  }
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.full-width {
  width: 100%;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

.ant-drawer-mask {
  backdrop-filter: blur(8px);
  background: rgba(47, 60, 95, 0.5) !important;
}

.ant-drawer-content-wrapper {
  box-shadow: unset !important;
}

.container {
  padding-left: 16px;
  padding-right: 16px;

  @include breakpoint($tablet-sm-exact) {
    max-width: calc(var(--size-max-width) + 48px);
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
  }
}
