@use 'variables' as v;
@use 'mixins' as m;
@import 'font/index';
@import 'buttons';
@import 'css-variables';

html,
body {
  scroll-behavior: smooth;
}

html * {
  box-sizing: border-box;
}

body {
  @include font-noto-sans();
  @include font-scale();

  margin: 0;
  background: var(--white);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;

  &:hover {
    color: var(--text-grey);
  }

  &:active {
    color: var(--color-primary-700);
  }
}

.link {
  color: var(--color-primary-600);

  &:hover {
    color: var(--color-primary-500);
  }

  &:active {
    color: var(--color-primary-700);
  }
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.full-width {
  width: 100%;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

.ant-drawer-mask {
  background: rgb(47 60 95 / 0.5) !important;
  backdrop-filter: blur(8px);
}

.ant-modal-mask,
.ant-modal-wrap,
.ant-drawer {
  z-index: var(--z-index-drawer) !important;
}

.ant-drawer-content-wrapper {
  box-shadow: unset !important;
}

.container {
  padding-right: 16px;
  padding-left: 16px;

  @include m.breakpoint(v.$tablet-sm-exact) {
    max-width: calc(var(--size-max-width) + 48px);
    margin: 0 auto;
    padding-right: 24px;
    padding-left: 24px;
  }

  @include m.breakpoint(v.$desktop-sm) {
    width: calc(var(--size-max-width) + 48px);
  }
}

.temporary-hide {
  display: none !important;
}

@keyframes progressAnimation {
  100% {
    background-position: left;
  }
}
