$phone: 411px;
$phone-lg: 460px;
$tablet-sm-exact: 768px;
$tablet-sm: 769px;
$tablet-lg: 1023px;
$desktop-sm: 1239px;
$desktop-md: 1499px;
$desktop-lg: 1919px;

:root {
  /* size */
  --size-max-width: 1200px;
  --header-height: 76px;

  --color-primary-800: #005a6e;
  --color-primary-700: #0081a7;
  --color-primary-600: #009dbb;
  --color-primary-500: #00b4d5;
  --color-primary-400: #66d2e6;
  --color-primary-300: #99e1ee;
  --color-primary-200: #ccf0f7;
  --color-primary-100: #ebfbff;

  --dark: #222b45;
  --purple-grey: #edeff6;
  --white: #fff;

  --text-primary: #2f3c5f;
  --text-grey: #5f6578;
  --text-service: #8791ab;
  --text-light-grey: #c3c8d5;
  --text-light-topaz: var(--color-primary-200);

  --bg-sea-wave: #ccf2f4;
  --bg-grey2: #f4f5fa;
  --bg-light-grey: #fbfcfd;

  --graphics-amber: #ffc800;
  --graphics-orange: #ff9900;
  --graphics-coral: #ff7272;
  --graphics-pink: #fd71af;
  --graphics-orchid: #bb66e1;
  --graphics-iris: #7b68ee;
  --graphics-blue: #5577ff;
  --graphics-light-blue: #32c8fc;
  --graphics-jade: #00b884;
  --graphics-green: #90df52;
  --graphics-aquamarine: #5ceab7;
  --graphics-bronze: #b46d2a;

  --gradient-primary: linear-gradient(
    55deg,
    var(--color-primary-700) 19.29%,
    var(--color-primary-600) 90.72%
  );
  --gradient-primary-2: linear-gradient(250.85deg, var(--color-primary-800) 0%, #000000 62.89%);
  --gradient-primary-3: linear-gradient(180deg, var(--color-primary-500) 0%, #66d2e6 100%);
  --gradient-light: linear-gradient(
    180deg,
    var(--color-primary-500) 0%,
    rgba(102, 210, 230, 0.2) 58.33%
  );
  --gradient-light-grey: linear-gradient(180deg, var(--bg-grey2) 0%, rgba(244, 245, 250, 0) 100%);

  --z-index: 999;

  --z-index-banner-footer-bg: 1010;
  --z-index-banner: 1020;
  --z-index-sticky-block: 1030;
  --z-index-header: 1050;
  --z-index-drawer: 1100;

  --scroll-indicator-line-z-index: -20;
  --scroll-indicator-bullet-z-index: 100;

  /* spacing */
  --base-spacing: 8px;
}
