.feature-container.clearfix
  .animation(data-js-animation)
  .description
    a.h3(href="/docs" target='blank') Receive analytics in a real-time
    p.text If you have a lot of tests or your tests are running 24 hours every day, you will appreciate this function.<br>
      | Tests are reflected in ReportPortal in a real time, so you can begin an investigation job of the failure reasons immediately after the test is completed.

