@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

$pentagon-height: 339px;
$pentagon-width: 314px;

.pentagon-card {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: $pentagon-width;
    color: var(--text-primary);
    z-index: 10;
  }

  &__contact-button {
    width: 235px;
    margin: auto auto 64px;

    @include m.breakpoint(v.$desktop-sm) {
      margin: auto;
    }
  }

  &__price {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(large);

    margin-bottom: 8px;
    text-align: center;

    span {
      @include m.font-noto-sans();
      @include m.font-scale(base);
    }
  }
}
