@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/mixins/breakpoint';
@import 'src/styles/variables';

$header-offset: 178px;
$desktop-size-breakpoint: 1224px;
$mobile-horizontal-padding: 16px;

@mixin features-title {
  @include font-poppins($fw-semi-bold);
  @include font-scale(x3-medium);

  line-height: 40px;
  color: #2f3c5f;

  @include breakpoint($desktop-size-breakpoint) {
    font-size: 48px;
    line-height: 64px;
  }

  @include breakpoint($tablet-sm) {
    @include font-poppins($fw-bold);
    @include font-scale(x4-medium);
  }

  //@include breakpoint($desktop-sm) {
  //  @include font-scale(x4-large);
  //}
}

@mixin horizontal-spacer {
  padding-left: $mobile-horizontal-padding;
  padding-right: $mobile-horizontal-padding;
}

.faq {
  @include horizontal-spacer();

  justify-content: center;
  padding-top: 120px;
  padding-bottom: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint($tablet-sm-exact) {
    padding-top: 155px;
    padding-bottom: 168px;
  }

  @include breakpoint($desktop-sm) {
    padding-bottom: 212px;
  }

  .faq_heading {
    text-align: center;

    h1 {
      @include features-title();

      max-width: 952px;
      max-height: 64px;

      @include breakpoint($tablet-sm-exact) {
        @include font-poppins($fw-bold);
        @include font-scale(large);
      }
    }
  }

  .faq_content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include breakpoint($desktop-size-breakpoint) {
      width: 792px;
    }
  }

  .faq_link {
    p {
      text-align: center;
      margin-top: 40px;
      font-style: normal;
      line-height: 24px;
      color: var(--dark);
    }

    .faq_doc_link {
      @include font-poppins($fw-medium, normal);
      @include font-scale(small);

      color: var(--color-primary-700);
      text-align: center;
      margin-left: 8px;

      @include breakpoint($tablet-sm-exact) {
        color: var(--text-service);
        font-size: 16px;
      }

      @include breakpoint($desktop-sm) {
        color: var(--text-service);
        font-size: 16px;
      }
    }
  }
}
