@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.style-meets {
  padding: 120px 0 200px;
  background-image: url('../../../svg/community/merch-store-mobile.svg');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  @include m.breakpoint(v.$tablet-sm-exact) {
    display: flex;
    justify-content: center;
    max-height: 820px;
    padding: 200px 0;
    background-image: url('../../../svg/community/merch-store-tablet.svg');
  }

  @include m.breakpoint(v.$desktop-sm) {
    max-height: 900px;
    background-image: url('../../../svg/community/merch-store-desktop.svg');
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      flex-direction: row;
      gap: 23px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      gap: 126px;
    }
  }

  &__info {
    max-width: 441px;

    @include m.breakpoint(v.$desktop-sm) {
      max-width: 486px;
    }
  }

  &__title {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(x4-medium);

    max-width: 792px;
    color: var(--white);

    @include m.breakpoint(v.$tablet-sm-exact) {
      @include m.font-scale(large);
    }

    @include m.breakpoint(v.$desktop-sm) {
      @include m.font-scale(x3-large);
    }
  }

  &__description {
    @include m.font-noto-sans();
    @include m.font-scale(medium);

    color: var(--white);
  }

  &__button {
    max-width: none;
    margin-top: 48px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      max-width: 248px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      max-width: 180px;
    }
  }

  &__images {
    order: -1;
    min-width: 1024px;
    height: 256px;
    background-image: url('../../../svg/community/product-images-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;

    @include m.breakpoint(v.$tablet-sm-exact) {
      order: 1;
      min-width: 256px;
      height: 1024px;
      background-image: url('../../../svg/community/product-images-tablet.png');
    }

    @include m.breakpoint(v.$desktop-sm) {
      min-width: 588px;
      height: 1924px;
      background-image: url('../../../svg/community/product-images-desktop.png');
    }
  }
}
