.feature-container.clearfix
  .description
    a.h3(href='/docs/View-launches' target='blank') Accumulate the results of all auto tests on your project in one place
    p.text With Report Portal you have an access to all executions of all auto tests on your project and find all info about any test item easily.
  .animation
    img(src=require("./img/accumulation.png"), alt="Accumulate the results of all auto tests on your project in one place")
