.feature-container.clearfix
  .description
    a.h3(href='https://reportportal.io/docs/work-with-reports/ViewLaunches' target='_blank') Accumulate the results of all auto tests on your project in one place
    p.text With Report Portal you have an access to executions of all auto tests on your project and find info about any test item easily.
  .animation(data-js-animation)

