@import '../../pageSectionMixin';

@media (min-width: $MIN-ANIMATION-WIDTH) {
  html.csstransforms {
    .features-page_tester__classification {
      .h3, .text {
        transform: translate(0, $ANIMATION-WIDTH);
        opacity: 0;
      }
      .animation{
        transform: translate($ANIMATION-WIDTH, 0);
        opacity: 0;
        transition: transform 1s $ANIMATION-EASING, opacity .5s $ANIMATION-EASING;
      }
      .h3 {
        transition: transform $ANIMATION-DURATION $ANIMATION-EASING, opacity $ANIMATION-DURATION $ANIMATION-EASING;
      }
      .text {
        transition: transform $ANIMATION-DURATION $ANIMATION-EASING .2s, opacity $ANIMATION-DURATION $ANIMATION-EASING .2s;
      }
      &.animate {
        .h3, .text, .animation {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  }
}
.features-page_tester__classification{
  .animate-classification{
    animation: classification 7.5s step-start infinite;
  }
  @keyframes classification {
    0%, 7% {background-position: 0px 0px}
    7.1%,14.1% {background-position: -640px 0px}
    14.2%,21.2% {background-position: -1280px 0px}
    21.3%,28.3% {background-position: -1920px 0}
    28.4%,35.4% {background-position: -2560px 0 }
    35.5%,42.5% {background-position: -3200px 0}
    42.6%,49.6% {background-position: -3840px 0}
    49.7%,56.7% {background-position: -3840px 0}
    56.8%,63.8% {background-position: -4480px 0}
    63.9%,69.9% {background-position: -4480px 0}
    70.9%,78% {background-position: -5120px 0}
    80%,85.1% {background-position: -3200px 0}
    85.2%,92.2% {background-position: -3840px 0}
    92.3%,100% {background-position: -4480px 0}
  }
}

