.features-page_tester__classification{
  box-shadow: inset 0 -1px 0 0 rgba(189, 199, 204, 0.2);
  .description{
    padding: 60px 30px 0 150px;
    @media (max-width: 1280px) {
      padding-left: 50px;
    }
    @media(max-width: $SCREEN_SM_MAX){
      display: block;
      padding: 70px 0 0 0;
    }
    @media(max-width: $SCREEN_XS_MAX){
      padding: 20px 0 10px 0;
    }
  }
  .animation{
    display: block;
    height: 400px;
    width: 640px;
    @media(max-width: $SCREEN_XS_MAX){
      width: 100%;
      margin-bottom: 20px;
      height: 180px;
      background-size: contain;
    }
    &.ie-animate-classification{
      animation: classification-ie 9.5s step-start infinite;
    }
    @keyframes classification-ie {
      0%, 7% {background-position: 0px 0px}
      7.1%,14.1% {background-position: -640px 0px}
      14.2%,21.2% {background-position: -1280px 0px}
      21.3%,28.3% {background-position: -1920px 0}
      28.4%,35.4% {background-position: -2560px 0 }
      35.5%,42.5% {background-position: -3200px 0}
      42.6%,49.6% {background-position: -3840px 0}
      49.7%,56.7% {background-position: -4480px 0}
      56.8%,63.8% {background-position: -5120px 0}
      63.9%,69.9% {background-position: -5760px 0}
      70.9%,78% {background-position: -6400px 0}
      80%,85.1% {background-position: -7040px 0}
      85.2%,92.2% {background-position: -7680px 0}
      92.3%,100% {background-position: -8320px 0}
    }
    &.animate-classification {
      animation: classification 9.5s ease-in-out infinite;
    }
    @keyframes classification {
      0%, 5% {background-image: url('./img/1.png')}
      7.1%,12.1% {background-image: url('./img/2.png')}
      14.2%,19.2% {background-image: url('./img/3.png')}
      21.3%,26.3% {background-image: url('./img/4.png')}
      28.4%,33.4% {background-image: url('./img/5.png') }
      35.5%,40.5% {background-image: url('./img/6.png')}
      42.6%,47.6% {background-image: url('./img/7.png')}
      49.7%,54.7% {background-image: url('./img/8.png')}
      56.8%,61.8% {background-image: url('./img/9.png')}
      63.9%,67.9% {background-image: url('./img/10.png')}
      70.9%,76% {background-image: url('./img/11.png')}
      80%,83.1% {background-image: url('./img/12.png')}
      85.2%,90.2% {background-image: url('./img/13.png')}
      92.3%,100% {background-image: url('./img/14.png')}
    }
  }
  &.ie-animation{
    .animation{
      background-image: url('./img/classification.png');
      @media(max-width: $SCREEN_XS_MAX){
        background-image: url('./img/7.png');
      }
    }
  }
  &.default-animation{
    .animation{
      background-image: url('./img/1.png'),url('./img/2.png'),url('./img/3.png'),url('./img/4.png'),url('./img/5.png'),url('./img/6.png'),url('./img/7.png'),url('./img/8.png'),url('./img/9.png'),url('./img/10.png'),url('./img/11.png'),url('./img/12.png'),url('./img/13.png'),url('./img/14.png');
      @media(max-width: $SCREEN_XS_MAX){
        background-image: url('./img/7.png');
      }
    }
  }
}
