.feature-container.clearfix
  .description
    a.h3(href='/docs/work-with-reports/InvestigationOfFailure' target='_blank') Classify test failures and quickly observe statistics around the launch as a whole
    p.text You can define a failure reasons of test case and set a Defect type for it: Product bug, Auto Bug, System Issue or custom type, so you can visualize a structure of the failures.
  .animation(data-js-animation)
