button.rp-button {
  height: 30px;
  background: $COLOR_TEALISH;
  color: $COLOR-WHITE_TWO;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: $FONT-REGULAR;
  padding: 0 15px;
  svg {
    width: 20px;
    height: 20px;
    display: inline-block;
    fill: $COLOR-WHITE_TWO;
    vertical-align: middle;
    margin-right: 8px;
  }
  span {
    vertical-align: inherit;
  }
  &:hover {
    background: $COLOR_TOPAZ_TWO;
  }
  &:focus {
    outline: none;
  }
  &__color-revert {
    background: $COLOR-WHITE_TWO;
    color: $COLOR_TEALISH;
    svg {
      fill: $COLOR_TEALISH;
    }
    &:hover {
      background: $COLOR-WHITE_TWO;
      color: $COLOR_TOPAZ;
      svg {
        fill: $COLOR_TOPAZ;
      }
    }
  }
}
