.social-icon, .item-icon {
  width: 22px;
  height: 18px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  &.icon-gh {
    background: url('../../img/social/sprites.png') -10px -48px;
    &:hover {
      background: url('../../img/social/sprites.png') -48px -48px;
    }
  }
  &.icon-f {
    background: url('../../img/social/sprites.png') -48px -10px;
    &:hover {
      background: url('../../img/social/sprites.png') -86px -10px;
    }
  }
  &.icon-sl {
    background: url('../../img/social/sprites.png') -86px -48px;
    &:hover {
      background: url('../../img/social/sprites.png') -10px -10px;
    }
  }
  &.icon-t {
    background: url('../../img/social/sprites.png') -10px -86px;
    &:hover {
      background: url('../../img/social/sprites.png') -50px -86px;
    }
  }
  &.icon-vk {
    background: url('../../img/social/sprites.png') -50px -122px;
    &:hover {
      background: url('../../img/social/sprites.png') -91px -122px;
    }
  }
  &.icon-yt {
    background: url('../../img/social/sprites.png') -124px -80px;
    &:hover {
      background: url('../../img/social/sprites.png') -10px -122px;
    }
  }
  &.icon-mail {
    background: url('../../img/social/sprites.png') -124px -45px;
    &:hover {
      background: url('../../img/social/sprites.png') -124px -10px;
    }
  }
}
