.social-icon, .item-icon {
  width: 22px;
  height: 18px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;

  &.icon-gh {
    background: url('../../img/social/icon-gh.svg') center no-repeat;
    &:hover {
      background: url('../../img/social/icon-gh-hover.svg') center no-repeat;
    }
  }
  &.icon-f {
    background: url('../../img/social/icon-fb.svg') center no-repeat;
    &:hover {
      background: url('../../img/social/icon-fb-hover.svg') center no-repeat;
    }
  }
  &.icon-sl {
    background: url('../../img/social/icon-sl.svg') center no-repeat;
    &:hover {
      background: url('../../img/social/icon-sl-hover.svg') center no-repeat;
    }
  }
  &.icon-t {
    background: url('../../img/social/icon-tw.svg') center no-repeat;
    &:hover {
      background: url('../../img/social/icon-tw-hover.svg') center no-repeat;
    }
  }
  &.icon-in {
    background: url('../../img/social/icon-in.svg') center no-repeat;
    &:hover {
      background: url('../../img/social/icon-in-hover.svg') center no-repeat;
    }
  }
  &.icon-yt {
    background: url('../../img/social/icon-yt.svg') center no-repeat;
    &:hover {
      background: url('../../img/social/icon-yt-hover.svg') center no-repeat;
    }
  }
  &.icon-mail {
    background: url('../../img/social/icon-mail.svg') center no-repeat;
    &:hover {
      background: url('../../img/social/icon-mail-hover.svg') center no-repeat;
    }
  }
}
