@import '../../pageSectionMixin';

@media (min-width: $MIN-ANIMATION-WIDTH) {
  html.csstransforms {
    .features-page_switcher {
      .h2, .switcher {
        transform: translate(0, $ANIMATION-WIDTH);
        opacity: 0;
      }
      .h2 {
        transition: transform $ANIMATION-DURATION $ANIMATION-EASING .4s, opacity $ANIMATION-DURATION $ANIMATION-EASING .4s;
      }
      .switcher {
        transition: transform $ANIMATION-DURATION $ANIMATION-EASING .6s, opacity $ANIMATION-DURATION $ANIMATION-EASING .6s;
      }
      &.animate {
        .h2, .switcher {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  }
}

