.container
  .h2 Discover ReportPortal features by your role on the project
  label.switcher(data-js-is-slider)
    input( type="checkbox" data-js-is-tester)
    .slider
    span.for-testers.active(data-js-slider-option) for automation testers
    span.for-manager(data-js-slider-option) for managers


