html.csstransforms {
  .index-page_github-fork {
    h1, h2, p {
      transform: translate(0, 100px);
      opacity: 0;
    }
    h1 {
      transition: transform 1s ease, opacity 1s ease;
    }
    h2 {
      transition: transform .8s ease .2s, opacity .8s ease .2s;
    }
    p {
      transition: transform .6s ease .4s, opacity .6s ease .4s;
    }
    &.animate {
      h1, h2, p {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }
}
