@import '../../../../common/css/index-page_mixin';

@media (min-width: $MIN-ANIMATION-WIDTH) {
  html.csstransforms {
    .index-page_github-fork {
      h1, h2, p {
        transform: translate(0, $ANIMATION-WIDTH);
        opacity: 0;
      }
      h1 {
        transition: transform $ANIMATION-DURATION $ANIMATION-EASING, opacity $ANIMATION-DURATION $ANIMATION-EASING;
      }
      h2 {
        transition: transform $ANIMATION-DURATION $ANIMATION-EASING .2s, opacity $ANIMATION-DURATION $ANIMATION-EASING .2s;
      }
      p {
        transition: transform $ANIMATION-DURATION $ANIMATION-EASING .4s, opacity $ANIMATION-DURATION $ANIMATION-EASING .4s;
      }
      &.animate {
        h1, h2, p {
          transform: translate(0, 0);
          opacity: 1;
        }
      }
    }
  }
}
