@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/mixins/breakpoint';
@import 'src/styles/variables';

.frameworks {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 24px auto 40px;
    align-items: center;
    text-align: center;

    @include breakpoint($tablet-sm) {
      max-width: 900px;
      padding: 0;
  }

  &__box {
    width: 100%;
    min-height: 656px;
    background: var(--white);
    box-shadow: 0px 4px 16px rgba(16, 46, 52, 0.1);
    border-radius: 16px;

    &-tabs {
      padding: 10px 24px;
    }

    &-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      margin-top: -10px;
      margin-bottom: -18px;
      padding: 24px;
      
      @include breakpoint($tablet-sm) {
        grid-template-columns: repeat(4, 1fr);
      }

      &-item {
        display: flex;
        flex: 1 0 50px;
        justify-content: center;
        height: 80px;          
        margin-bottom: 24px;
        padding: 14px 0;
        border: 1px solid var(--purple-grey);
        border-radius: 10px;
      }

      img {
        width: 100%;
        max-width: 110px;
        height: 100%;
      }
    }
  }
}
