@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.frameworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 24px auto 40px;
  text-align: center;

  @include m.breakpoint(v.$tablet-sm) {
    padding: 0;
  }

  &__box {
    width: 100%;
    min-height: 656px;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgb(16 46 52 / 0.1);
    background: var(--white);

    &-tabs {
      padding: 10px 24px 0;

      @include m.breakpoint(v.$tablet-sm-exact) {
        padding-right: 32px;
        padding-left: 32px;
      }

      .ant-tabs-tab {
        @include m.font-poppins(v.$fw-semi-bold);
      }

      :where(.css-dev-only-do-not-override-e4vwb2).ant-tabs .ant-tabs-tab-btn {
        position: relative;

        &::after {
          position: absolute;
          right: 0;
          bottom: -12px;
          left: 0;
          display: block;
          border-bottom: 3px solid var(--color-primary-600);
          opacity: 0;
          transition: left 0.3s, right 0.3s, opacity 0.2s;
          transition-delay: 0.3s, 0.3s, 0s;
          content: '';
        }
      }

      :where(.css-dev-only-do-not-override-e4vwb2).ant-tabs
        .ant-tabs-tab.ant-tabs-tab-active
        .ant-tabs-tab-btn {
        &::after {
          right: 0;
          left: 0;
          opacity: 1;

          @include m.breakpoint(v.$tablet-sm) {
            right: -25px;
            left: -25px;
          }
        }
      }

      .ant-tabs-nav-list .ant-tabs-tab + .ant-tabs-tab {
        @include m.breakpoint(v.$tablet-sm-exact) {
          margin-left: 0;
        }
      }

      .ant-tabs > .ant-tabs-nav {
        margin-bottom: 0;

        .ant-tabs-nav-list {
          flex: 1;
          justify-content: space-between;
        }
      }

      .ant-tabs-top > .ant-tabs-nav::before {
        right: -24px;
        left: -24px;

        @include m.breakpoint(v.$tablet-sm-exact) {
          right: -32px;
          left: -32px;
        }

        @include m.breakpoint(v.$desktop-sm) {
          right: -24px;
          left: -24px;
        }
      }
    }

    &-badge {
      @include m.font-poppins(v.$fw-semi-bold);
      @include m.font-scale(x-small);

      position: absolute;
      top: -10px;
      display: block;
      height: 20px;
      border-radius: 16px;
      padding: 0 10px;
      background: var(--purple-grey);
      line-height: 20px;
      color: var(--text-service);
    }

    &-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 32px;
      column-gap: 24px;
      padding: 32px 16px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        padding: 32px 24px;
      }

      @include m.breakpoint(550px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include m.breakpoint(v.$tablet-sm) {
        grid-template-columns: repeat(4, 1fr);
      }

      &-item {
        position: relative;
        display: flex;
        flex: 1 0 50px;
        justify-content: center;
        height: 80px;
        border: 1px solid var(--purple-grey);
        border-radius: 10px;
        padding: 14px 0;
        transition: all 0.3s ease;

        &:hover {
          border: 1px solid var(--color-primary-500);

          .frameworks__box-content-item-arrow {
            display: block;
          }
        }

        &-arrow {
          position: absolute;
          top: 9px;
          right: 6px;
          display: none;
          width: 10px;
          height: 10px;
          background-image: url('../../svg/link_arrow.svg');
          background-repeat: no-repeat;
          transition: all 0.3s ease;
        }
      }

      img {
        width: 100%;
        max-width: 110px;
        height: 100%;
      }
    }
  }
}
