@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/variables';
@import 'src/styles/mixins/breakpoint';

.menu-dialog {
  border-radius: 0 0 16px 16px;

  .is-desktop & {
    background: var(--white);
    position: absolute;
    left: 50%;
    z-index: var(--z-index);
    transform: translate(-50%, 0);
    border-top: 1px solid var(--purple-grey);
    box-shadow: 0 8px 24px rgba(34, 61, 69, 0.08);
    overflow: hidden;
  }

  &__body-row {
    display: flex;
  }

  &__body-col--lf {
    padding: 32px;
  }

  &__body-col--rt {
    padding: 32px 32px 32px 24px;
    border-left: 1px solid var(--purple-grey);
    background: var(--bg-light-grey);
  }

  &__body-col--flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__body-col--card {
    padding: 32px 32px 40px 32px;
  }

  &__footer {
    border-top: 1px solid var(--purple-grey);

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 576px;
      padding: 32px;

      .menu-dialog-community & {
        width: min-content;
      }
    }
  }

  &__btn-group {
    display: inline-flex;
    gap: 16px;
  }

  .btn {
    padding: 10px 21px;

    &--outline {
      padding: 8px 14px;
    }
  }

  &__btn-text {
    @include font-poppins($fw-semi-bold);
    @include font-scale(base);

    border: none;
    padding: 10px 8px 10px 40px;
    background: transparent;
    position: relative;
    cursor: pointer;
    color: var(--text-primary);

    & svg {
      position: absolute;
      left: 8px;
      top: 8px;
    }

    &:hover {
      color: var(--color-primary-500);
    }

    &:active {
      color: var(--color-primary-700);
    }

    &:disabled {
      color: var(--color-primary-600);
      cursor: auto;
      opacity: 0.3;
    }
  }
}

.features-list__title {
  margin-bottom: 16px;
}

.is-desktop .services-list {
  margin-top: 0;
}

.integrations-list__item {
  &-icon {
    &--jira-cloud {
      background-image: url('icons/jira-cloud-1.svg');
    }

    &--jira-server {
      background-image: url('icons/jira-server-1.svg');
    }

    &--azure-do {
      background-image: url('icons/azure-do-1.svg');
    }

    &--rally {
      background-image: url('icons/rally-1.svg');
    }

    &--sauce-labs {
      background-image: url('icons/sauce-labs-1.svg');
    }

    &--ldap {
      background-image: url('icons/ldap-1.svg');
    }

    &--saml {
      background-image: url('icons/saml-1.svg');
    }
  }

  &:hover {
    background: var(--bg-grey2);
    border-radius: 8px;
    color: var(--text-primary);

    .integrations-list__item-icon {
      &--jira-cloud {
        background-image: url('icons/jira-cloud-2.svg');
      }

      &--jira-server {
        background-image: url('icons/jira-server-2.svg');
      }

      &--azure-do {
        background-image: url('icons/azure-do-2.svg');
      }

      &--rally {
        background-image: url('icons/rally-2.svg');
      }

      &--sauce-labs {
        background-image: url('icons/sauce-labs-2.svg');
      }

      &--ldap {
        background-image: url('icons/ldap-2.svg');
      }

      &--saml {
        background-image: url('icons/saml-2.svg');
      }
    }
  }
}

.solutions-list__item {
  &-icon {
    &--tdspora {
      background-image: url('icons/tdspora-2.svg');
    }

    &--drill4j {
      background-image: url('icons/drill4j-2.svg');
    }

    &--healenium {
      background-image: url('icons/healenium-2.svg');
    }

    &--qa-space {
      background-image: url('icons/qa-space-2.svg');
    }
  }
}

.solutions-list__item:first-child .solutions-list__item__title::after {
  @include font-noto-sans();

  content: '(home)';
  display: inline-block;
  margin-left: 7px;
  color: var(--text-service);
}

.resources-list__item-icon {
  &--youtube {
    background-image: url('icons/youtube-2.svg');
  }
}

.pricing-solutions-list__item {
  &,
  &:hover {
    .pricing-solutions-list__item-icon {
      &--drill4j {
        background-image: url('icons/drill4j-2.svg');
      }

      &--healenium {
        background-image: url('icons/healenium-2.svg');
      }

      &--qa-space {
        background-image: url('icons/qa-space-2.svg');
      }
    }
  }

  .is-desktop & {
    &-icon {
      &--drill4j {
        background-image: url('icons/drill4j-1.svg');
      }

      &--healenium {
        background-image: url('icons/healenium-1.svg');
      }

      &--qa-space {
        background-image: url('icons/qa-space-1.svg');
      }
    }
  }
}

.community-list__item {
  &,
  &:hover {
    .community-list__item-icon {
      &--slack {
        background-image: url('icons/slack-2.svg');
      }

      &--twitter {
        background-image: url('icons/twitter-2.svg');
      }

      &--youtube {
        background-image: url('icons/youtube-2.svg');
      }

      &--linkedin {
        background-image: url('icons/linkedin-2.svg');
      }
    }
  }

  .is-desktop & {
    &-icon {
      &--slack {
        background-image: url('icons/slack-1.svg');
      }

      &--twitter {
        background-image: url('icons/twitter-1.svg');
      }

      &--youtube {
        background-image: url('icons/youtube-1.svg');
      }

      &--linkedin {
        background-image: url('icons/linkedin-1.svg');
      }
    }
  }
}

.is-desktop {
  .resources-list__col,
  .contribution-card {
    width: 256px;
  }
}
