.preview-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  .modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(70, 69, 71, 0.3);
    transition: opacity .15s linear;
    opacity: 0;
  }
  .content {
    position: relative;
    margin: 10px auto;
    background-color: #fff;
    width: 1000px;
    max-width: 95%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    transform: translate(0, -100px);
    opacity: 0;
    transition: transform .3s ease-out, opacity .15s ease-out;
    iframe {
      width: 100%;
      height: 100%;
      display: block;
    }
    img {
      max-width: 100%;
    }
  }
  &.show {
    .modal-backdrop {
      opacity: .8;
    }
    .content {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}
