.feature-container.clearfix
  .description
    a.h3(href='/download/integration' target='blank') Easily integrate with Test Frameworks
    p.text You can easily integrate ReportPortal with all yours test frameworks, aggregate all tests of a project in one place and browse them.
  .animation(data-js-animation)

