.feature-container.clearfix
  .description
    a.h3(href='/installation/integration' target='_blank') Easily integrate with Test Frameworks
    p.text You can easily integrate Reportportal with your test frameworks, as well as collect and browse all project tests in one place.
  .animation(data-js-animation)

