@import 'src/styles/mixins/font';

.header {
  background: var(--text-service);
  color: var(--text-white);
  transition: background 0.5s;

  &.header__active,
  &:hover {
    background: var(--bg-white);
    color: var(--text-primary);
  }
}

.header__wrapper {
  display: flex;
  width: 100%;
  max-width: calc(var(--size-max-width) + 24px * 2);
  padding: 0 24px;
  margin: 0 auto;
  color: inherit;
}

.navigation {
  display: flex;
  width: 100%;
  align-content: flex-end;
  justify-content: space-between;
  position: relative;
}

.navigation__logoLink {
  padding: 18px 0;
  line-height: 0;

  svg {
    transition: fill 0.4s;
  }

  .header__active &,
  .header:hover & {
    [class*='logo-block'] {
      fill: #00b0d1;
    }

    [class*='logo-title'] {
      fill: var(--text-dark);
    }
  }
}

.navigation__list {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.navigation__link {
  @include font-poppins($fw-semi-bold);

  display: block;
  min-inline-size: max-content;
  padding: 28px 16px;
  border: unset;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background: unset;
  transition: color 0.4s;

  &.navigation__linkActive,
  &:hover {
    color: var(--color-primary-500);
  }

  &:active {
    color: var(--color-primary-700);
  }
}

.navigation__arrow {
  position: relative;
  padding-left: 8px;

  svg {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    stroke: var(--bg-white);
    transition: stroke 0.4s;

    .header:hover & {
      stroke: var(--text-primary);
    }
  }

  .navigation__linkActive & {
    svg {
      transform: translate(0, -50%) rotate(180deg);
    }
  }
}

.navigation__actions {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.navigation__github {
  color: #edeff6;
  display: flex;
  align-items: center;
  margin-right: 8px;

  & text {
    @include font-noto-sans();

    font-size: 13px;
    font-weight: 500;
  }

  .header__active &,
  .header:hover & {
    color: var(--text-service);

    &:hover {
      color: var(--color-primary-500);
    }
  }
}

.loginButton {
  @include font-poppins($fw-semi-bold);

  display: inline-block;
  margin-left: 16px;
  background-color: transparent;
  box-shadow: none;
  line-height: 20px;
  padding: 10px 21.5px;
  outline: none;
  font-size: 16px;
  color: var(--text-white);
  text-align: center;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

  .header__active &,
  .header:hover & {
    color: var(--color-primary-600);
  }
}

.signupButton {
  @extend .loginButton;

  display: inline-block;
  border: 2px solid var(--bg-white);
  border-radius: 6px;

  .header__active &,
  .header:hover & {
    border-color: var(--color-primary-600);

    &:hover {
      background-color: var(--color-primary-600);
      color: var(--text-white);
    }
  }
}

@media screen and (max-width: 1200px) {
  .navigation__github {
    display: none;
  }
}
