@import 'src/styles/variables';
@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/mixins/breakpoint';

.top-header {
  position: relative;
  top: 0;
  z-index: var(--z-index-header);
  color: var(--white);
  transform: translate3d(0, 0, 0);
  transition: background 0.3s, top 0.3s;

  &--active,
  &:hover {
    background: var(--white);
    color: var(--text-primary);
    box-shadow: 0 8px 24px rgba(34, 61, 69, 0.08);
  }

  &__wrapper {
    display: flex;
    width: 100%;
    max-width: calc(var(--size-max-width) + 24px * 2);
    padding: 0 24px;
    margin: 0 auto;
    color: inherit;
  }
}

.top-header-navigation {
  display: flex;
  width: 100%;
  align-content: flex-end;
  justify-content: space-between;
  position: relative;

  &__logoLink {
    padding: 18px 0;
    line-height: 0;

    path {
      transition: fill 0.3s;
    }

    .top-header--active &,
    .ant-drawer-title &,
    .top-header:hover & {
      [class*='logo-block'] {
        fill: #00b0d1;
      }

      [class*='logo-title'] {
        fill: var(--dark);
      }
    }
  }

  &__list {
    display: none;

    @include breakpoint(1124px) {
      display: flex;
    }
  }

  &__link {
    @include font-poppins($fw-semi-bold);
    @include font-scale(base);

    display: flex;
    align-items: center;
    min-inline-size: max-content;
    padding: 28px 16px;
    border: unset;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background: unset;
    transition: color 0.3s;

    &:hover {
      color: var(--color-primary-500);
    }

    &--active,
    &:active {
      color: var(--color-primary-700);
    }
  }

  &__arrow {
    padding-left: 8px;
    line-height: 1;

    svg {
      transform: rotate(180deg);
      vertical-align: middle;
      transition: stroke 0.3s;

      .header:hover & {
        stroke: var(--text-primary);
      }
    }

    [aria-expanded='true'] & {
      svg {
        transform: rotate(0deg);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }

  &__actionsAuth {
    display: none;
    align-items: center;

    @include breakpoint($tablet-sm) {
      display: flex;
    }
  }

  &__github {
    display: none;
    align-items: center;
    margin-right: 8px;
    color: var(--purple-grey);
    transition: color 0.3s;

    @include breakpoint(1224px) {
      display: flex;
    }

    & text {
      @include font-noto-sans($fw-medium);
      @include font-scale(x-small);
    }

    .top-header--active &,
    .top-header:hover & {
      color: var(--text-service);

      &:hover {
        color: var(--color-primary-500);
      }
    }
  }

  &__loginButton {
    @include font-poppins($fw-semi-bold);
    @include font-scale(base);

    display: inline-block;
    background-color: transparent;
    box-shadow: none;
    padding: 9px 21.5px;
    outline: none;
    color: var(--white);
    text-align: center;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

    .top-header--active &,
    .top-header:hover & {
      color: var(--color-primary-600);

      &:hover {
        color: var(--color-primary-500);
      }
    }
  }

  &__signupButton {
    @extend .top-header-navigation__loginButton;

    display: inline-block;
    border: 2px solid var(--white);
    border-radius: 6px;
    margin-left: 16px;

    .top-header--active &,
    .top-header:hover & {
      border-color: var(--color-primary-600);

      &:hover {
        background-color: var(--color-primary-600);
        color: var(--white);
      }
    }
  }
}

.top-header-navigation__closeButton,
.top-header-navigation__burgerButton {
  padding: 8px;
  border: none;
  margin-left: 24px;
  background: none;
  cursor: pointer;

  @include breakpoint(1124px) {
    display: none;
  }

  svg {
    vertical-align: middle;
  }
}

.top-header-navigation__burgerButton {
  color: var(--white);

  .top-header--active &,
  .top-header:hover & {
    color: var(--dark);
  }
}

.top-header-navigation__closeButton {
  align-self: center;
  color: var(--dark);
}

.mobile-menu {
  &.ant-drawer-content {
    overflow: unset;
  }

  .ant-drawer-header {
    padding: 0 8px 0 16px;
    box-shadow: 0 1px 4px rgba(34, 43, 69, 0.15);
  }

  .ant-drawer-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ant-drawer-title,
  .ant-collapse-header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ant-collapse {
    .ant-collapse-content-box {
      padding: 0;
    }

    .ant-collapse-header-text {
      @include font-poppins($fw-semi-bold);

      font-size: 18px;
      line-height: 24px;
    }

    .ant-collapse-header {
      padding-inline: 0 !important;
      padding-block: 16px;
    }
  }

  &__auth-buttons {
    margin-top: 64px;

    a {
      padding: 10px;
      color: var(--color-primary-600);

      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }

  [aria-expanded='true'] .ant-collapse-header-text {
    color: var(--color-primary-700);
  }
}
