@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.testing-as-service {
  &__header {
    margin-top: calc(-1 * var(--header-height));
    padding-top: var(--header-height);
    background-image: url(../../../svg/testing/headerBackground.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__header-heading {
    padding-top: 80px;
    text-align: center;

    h1 {
      @include m.font-noto-sans(v.$fw-semi-bold);
      @include m.font-scale();

      text-transform: uppercase;
      color: var(--color-primary-200);
    }

    h2 {
      @include m.font-poppins(v.$fw-bold);
      @include m.font-scale(large);

      margin: 0 auto;
      color: var(--white);

      @include m.breakpoint(v.$tablet-sm-exact) {
        @include m.font-scale(x4-large);

        width: 720px;
        margin-top: 16px;
      }

      @include m.breakpoint(v.$desktop-sm) {
        width: 900px;
      }
    }
  }

  &__header-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-top: 80px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      padding-bottom: 33px;
    }

    &-text {
      @include m.font-noto-sans();
      @include m.font-scale(medium);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
      width: 880px;
      border-radius: 16px;
      background: var(--white);
      color: var(--text-primary);
      box-shadow: 0 8px 32px 0 rgba(0, 45, 55, 0.12);
      text-align: center;
    }
  }
}
