.releases-page {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 90px;

  @media (max-width: $SCREEN_XS_MAX) {
    padding-top: 130px;
  }

  .content-wrapper {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 20px auto 100px auto;
  }

  .releases-menu {
    min-width: 250px;
    box-sizing: border-box;
    padding-left: 50px;
    border-left: 1px solid $COLOR-GRAY-91;

    ul {
      display: flex;
      flex-direction: column;
    }

    .releases-menu-item {
      position: relative;
      display: inline-block;
      max-width: 210px;
      margin: 12px 0;
      font-family: $FONT-REGULAR;
      word-break: break-word;

      &:before {
        content: '';
        position: absolute;
        left: -54px;
        top: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 1px solid $COLOR-WHITE_TWO;
        background-color: $COLOR--light-blue-grey;
      }

      &:last-child {
        &:after {
          content: '';
          position: absolute;
          left: -51px;
          top: 12px;
          width: 1px;
          height: 100%;
          background-color: $COLOR-WHITE_TWO;
        }
      }

      .menu-item-link {
        color: $COLOR-TEALISH;
        font-size: 16px;
        text-decoration: none;

        &:hover {
          color: $COLOR-TOPAZ;
        }
      }

      .published-info {
        display: none;
        padding: 10px 0;
        color: $COLOR-STEEL-GREY;
        font-size: 12px;
      }

      &[latest="true"] {
        margin: 0 0 45px 0;

        &:before {
          top: 0;
          left: -65px;
          width: 27px;
          height: 27px;
          background: url(./img/flag.svg) white;
          background-size: contain;
        }

        .menu-item-link {
          font-size: 32px;
        }

        .published-info {
          display: block;
        }
      }

      &.item-active {
        min-height: 270px;

        .menu-item-link {
          font-weight: bold;

          &:hover {
            color: $COLOR-TEALISH;
          }
        }

        .published-info {
          display: block;
        }
      }
    }
  }

  .releases-page-content {
    padding: 20px 10px 20px 70px;
    word-break: break-word;
    white-space: pre-line;
  }

  .no-content-block {
    width: auto;
    max-width: 100%;
    margin: 0 auto;

    .releases-error {
      display: none;
    }
  }

  &.loading {
    .releases-menu {
      display: none;
    }
    .releases-page-content {
      display: none;
    }

    .no-content-block {
      height: calc(100vh - 191px);

      @media (max-width: $SCREEN_XS_MAX) {
        height: calc(100vh - 230px);
      }
      @media (max-width: 600px) {
        height: calc(100vh - 276px);
      }

      .releases-preloader {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        .logo {
          position: relative;
          background: url(../documentation-page/img/doc-preloader.svg) center no-repeat;
          background-size: 100% 100% ;
          display: block;
          margin: 0 auto;
          width: 106px;
          height: 17px;
          opacity: 0.8;
          top: calc(50% - 47px);
          -webkit-animation: hearthbeat 1.25s infinite ease;
        }
      }

      .releases-error {
        display: none;
      }
    }
  }
  &.unavailable {
    padding-top: 60px;
    .releases-menu {
      display: none;
    }

    .releases-page-content {
      display: none;
    }

    .no-content-block {
      .releases-preloader {
        display: none;
      }

      .releases-error {
        display: block;
        width: 400px;
        margin: 250px auto 0 auto;
        text-align: center;
        position: relative;
        height: calc(100% - 331px);
        padding-bottom: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        @media (max-width: $SCREEN_XS_MAX) {
          height: calc(100% - 356px);
        }
        @media (max-width: 600px) {
          width: 100%;
        }

        .releases-error-title {
          font-family: $FONT-HEADER;
          color: $COLOR-GRAY-47;
          font-size: 20px;
        }
        .releases-error-message {
          display: inline-block;
          margin-top: 15px;
          width: 275px;
          font-family: $FONT-REGULAR;
          font-size: 15px;
          color: $COLOR-GRAY-47;
          line-height: 1.5;

          .releases-error-message-link {
            color: $COLOR-TEALISH;
            text-decoration: none;
          }
        }
      }
    }
  }
  .releases-preloader {
    display: none;
  }
}

@-webkit-keyframes hearthbeat {
  0%	{  transform: scale(1); }
  15%	{ transform: scale(1.5); }
  30%	{ transform: scale(1.25); }
  45%	{ transform: scale(1.5); }
  60%	{ transform: scale(1); }
  100%	{ transform: scale(1); }
}
