.updates-banner
.content-wrapper
  .releases-menu(data-js-releases-menu)
  .releases-page-content(data-js-releases-content)
  .no-content-block
    .releases-preloader
      .logo
    .releases-error(data-js-doc-error)
      span.releases-error-title Releases info is currently unavailable
      p.releases-error-message There is no connection at the moment. You can check it directly on
        a.releases-error-message-link(href='https://github.com/reportportal/reportportal/releases')  GitHub
.footer-container(data-js-footer-container)
