@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.row-section {
  margin: 3px 0 4px;
  text-align: center;
  cursor: auto;

  @include m.breakpoint(v.$desktop-sm) {
    text-align: left;
  }

  &__container {
    @include m.font-poppins();
    @include m.font-scale(small);

    display: flex;
    justify-content: center;
    color: var(--text-service);

    @include m.breakpoint(v.$desktop-sm) {
      display: block;
    }

    a {
      display: flex;
      align-items: center;

      svg {
        margin-left: 4px;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--text-primary);
  }

  &__buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    width: 100%;
    max-width: 148px;
    padding: 16px 5px;
  }

  &__features {
    @include m.breakpoint(v.$desktop-sm) {
      @include m.font-scale();

      padding: 20px 0;
      font-weight: 600;
    }
  }

  &__row-title-footer {
    @include m.breakpoint(v.$desktop-sm) {
      display: flex;
      justify-content: space-between;
      width: 39%;

      div {
        margin-right: 16px;
      }
    }
  }
}
