@import '../../pageSectionMixin';

.installation-page_config{
  .configure-section{
    @media (max-width: $SCREEN_XS_MAX) {
      width: 320px;
      margin: 0 auto 0 auto;
    }
    .section-container{
      padding-top: 40px;
      padding-bottom: 30px;
      @media (max-width: $SCREEN_XS_MAX) {
        padding-top: 20px;
        padding-bottom: 0;
      }
      &::after{
        position: absolute;
        bottom: 0;
        display: block;
        width: 700px;
        border-bottom: 2px rgba(57, 195, 216, 0.20) solid;
        content: '';
        @media (max-width: $SCREEN_SM_MAX) {
          width: 550px;
        }
        @media (max-width: $SCREEN_XS_MAX) {
          display: none;
        }
      }
    }
    .btn{
      display: inline-block;
      box-sizing: border-box;
      width: 240px;
      margin: 20px 0 0 0;
      border: solid 1px $COLOR-TEALISH;
      padding: 13px 15px;
      cursor: pointer;
      text-align: center;
      &:hover{
        border: solid 1px $COLOR-TOPAZ;
        path{
          fill: $COLOR-TOPAZ
        }
      }
      &:first-child{
        margin-right: 80px;
        @media (max-width: $SCREEN_SM_MAX) {
          margin-right: 10px;
        }
      }
      svg{
        vertical-align: sub;
        margin-right: 10px;
      }
      &::after{
        display: none;
      }
    }
    .code{
      position: relative;
      margin-bottom: 3px;
      margin-left: 0;
      padding: 10px 15px;
      background: $COLOR--pale-grey;
      color: $COLOR--brownish-grey;
      font-family: $DROID;
      font-size: 11px;
      line-height: 20px;
      text-align: left;
      @media (max-width: $SCREEN_XS_MAX) {
        margin-right: 10px;
        margin-bottom: 10px;
        line-height: 1.27;
      }
      span{
        float: right;
        color: $COLOR-TEALISH;
        font-family: $FONT-REGULAR;
        font-size: 15px;
        text-align: left;
        cursor: pointer;
        &:hover{
          color: $COLOR-TOPAZ;
        }
      }
    }
    .note{
      .h3 {
        margin-bottom: 6px;
        color: $COLOR-STEEL-GREY;
        font-size: 14px;
        text-transform: uppercase;
      }
      dl{
        color: $COLOR-GRAY-47;
        font-size: 12px;
        line-height: 22px;
        text-align: left;
        dt{
          float: left;
          font-weight: bold;
        }
      }
    }
  }
}
