.configure-section(data-js-configure)
  .section-container
    h2.text-container 2. Configure and deploy ReportPortal with Docker-Compose file
    .with-note.text-margins
      .description
        .text Download default Docker compose file for the latest version or configure your own file.
          .desktop
            a.btn(data-js-download-default)
              include img/download.svg
              | Download default file
            a.btn(data-js-configure-file)
              include img/create.svg
              | Configure file
      .note.default
        p.line Compose file deploy all available Bug Tracking System integrations, which are not always needed, but consume resources.
    .text.text-margins.text-container If you want to write a docker compose manually, you can use the latest compose descriptor example in&nbsp;
      a(href='https://github.com/reportportal/reportportal/blob/master/docker-compose.yml', data-js-new-window) Github repository
    .with-note.text-margins
      .description
        .text
          b ElasticSearch configuration for Analyzer:
          |  set {vm.max_map_count} kernel setting before ReportPortal deploying with&nbsp;
          a(href='https://www.elastic.co/guide/en/elasticsearch/reference/6.1/docker.html#docker-cli-run-prod-mode', target='_blank') Commands
        .text Give right permissions to ElasticSearch data folder using the following commands:
      .note.default.desktop
        p.line If you have removed Analyzer service from docker-compose, please skip this info.
    .text.text-container.text-margins
      .code.desktop
        | mkdir -p data/elasticsearch
        span.desktop(data-copy='mkdir data/elasticsearch') Copy
      .code.desktop
        | chmod g+rwx data/elasticsearch
        span.desktop(data-copy='chmod g+rwx data/elasticsearch') Copy
      .code.desktop
        | chgrp 1000 data/elasticsearch
        span.desktop(data-copy='chgrp 1000 data/elasticsearch') Copy
      .code.mobile
        | mkdir data/elasticsearch
        | chmod g+rwx data/elasticsearch
        | chgrp 1000 data/elasticsearch
    .with-note.text-margins
      .description
        .text For more details about ElasticSearch visit&nbsp;
          a(href='https://www.elastic.co/guide/en/elasticsearch/reference/6.1/docker.html#_notes_for_production_use_and_defaults', target='_blank') ElasticSearch guide
        .text Start ReportPortal using the following command and wait a bit
        .text
          .code
            | docker-compose -p reportportal up -d --force-recreate
            span.desktop(data-copy='docker-compose -p reportportal up -d --force-recreate') Copy
        .text.text-container
          a(href='http://reportportal.io/documentation/resources/CheatSheet.pdf', data-js-new-window) More useful commands in Cheat sheet
      .note.default.desktop
        .line
          .h3 Decoding the command:
          dl
              dt '-p reportportal'
              dd - adds prefix 'reportportal' to all containers
              dt 'up'
              dd -  creates and starts containers
              dt '-d'
              dd - daemon mode
              dt '--force-recreate'
              dd - re-creates containers if there’re any


