@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

@mixin title {
  @include m.font-poppins(v.$fw-semi-bold);
  @include m.font-scale(x4-medium);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
  text-align: center;
  color: var(--text-primary);

  @include m.breakpoint(v.$tablet-sm-exact) {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(large);
  }

  @include m.breakpoint(v.$desktop-sm) {
    @include m.font-scale(x3-large);

    margin-bottom: 54px;
  }
}

.compare {
  margin-top: 176px;

  @include m.breakpoint(v.$tablet-sm-exact) {
    margin-top: 160px;
  }

  @include m.breakpoint(v.$desktop-sm) {
    margin-top: 240px;
  }

  .ant-tablet-ghost {
    .ant-tablet-content-box,
    .ant-tablet-header {
      align-items: center !important;
      padding: 0 !important;
    }

    .ant-tablet-expand-icon {
      margin: 0 !important;
      padding: 0 !important;
    }

    .ant-tablet-header {
      @include title();

      .ant-tablet-header-text {
        flex: 0 1 auto !important;
        margin: 0 !important;
      }
    }
  }

  &__container {
    box-shadow: none;

    @include m.breakpoint(v.$desktop-sm) {
      border-radius: 16px;
      padding-top: 24px;
      box-shadow: 0 8px 16px rgb(0 45 55 / 0.12);
    }

    .ant-collapse-no-arrow {
      .ant-collapse-header {
        padding-top: 24px;
        padding-right: 0;
        padding-left: 0;
      }
    }

    .ant-collapse-item:not(:has(.row-section)) {
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 0 8px 16px rgb(0 45 55 / 0.12);

      @include m.breakpoint(v.$desktop-sm) {
        margin-bottom: 0;
        box-shadow: none;

        .compare__row-title-col {
          @include m.font-scale(base);

          white-space: normal;
          font-weight: v.$fw-regular;
        }
      }

      > .ant-collapse-header {
        padding-right: 24px;
        padding-left: 24px;

        @include m.breakpoint(v.$tablet-sm-exact) {
          align-items: center;
          padding-top: 6px;
          padding-bottom: 6px;
        }

        @include m.breakpoint(v.$desktop-sm) {
          padding-top: 6px;
          padding-right: 0;
          padding-left: 0;
        }

        .compare__row-title-col {
          @include m.breakpoint(v.$desktop-sm) {
            @include m.font-noto-sans();
          }
        }
      }
    }

    .ant-collapse-item:nth-child(even) {
      @include m.breakpoint(v.$desktop-sm) {
        background: #f8fafd;
      }
    }

    .ant-collapse-item:last-child {
      @include m.breakpoint(v.$desktop-sm) {
        background: var(--white);
      }
    }

    .ant-collapse-item-active {
      @include m.breakpoint(v.$desktop-sm) {
        .compare__row,
        .ant-collapse-header {
          padding-bottom: 0 !important;
        }

        .ant-collapse-content-box {
          padding-top: 7px !important;
        }
      }
    }
  }

  .ant-collapse-item {
    padding: 4px 0;

    @include m.breakpoint(v.$tablet-sm-exact) {
      padding: 11px 0;
    }

    @include m.breakpoint(v.$desktop-sm) {
      padding: 0 54px;
    }
  }

  .ant-collapse-header:has(.row-section) {
    @include m.font-noto-sans(v.$fw-semi-bold);
    @include m.font-scale(base);

    align-items: center;
    cursor: auto;
  }

  .ant-collapse-header:has(.row-section__row-title-footer) {
    padding: 0;

    @include m.breakpoint(v.$desktop-sm) {
      padding-top: 24px;
      padding-bottom: 12px;
    }
  }

  .ant-collapse-no-arrow:has(.row-section__row-title-footer) {
    padding: 0;

    @include m.breakpoint(v.$desktop-sm) {
      padding: 0 54px;
    }
  }

  &__title {
    @include title();
  }

  &__title-arrow {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    transition: transform 0.3s;

    &--active {
      transform: rotate(180deg);
    }
  }

  &__tab {
    &-data {
      margin-top: 19px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        padding: 0 70px;
      }

      &-last-item {
        margin: 16px 0;

        @include m.breakpoint(v.$tablet-sm-exact) {
          margin: 7px 0 12px;
        }

        .compare__row-title-cols {
          @include m.font-scale(small);
        }

        .compare__row-title-col {
          font-weight: v.$fw-regular;
        }
      }
    }

    &-title {
      @include m.font-noto-sans(v.$fw-semi-bold);
      @include m.font-scale(base);

      margin-bottom: 43px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--text-primary);
    }

    &-header {
      @include m.breakpoint(v.$desktop-sm) {
        padding: 0 54px 32px 86px;
        color: var(--text-primary);

        .compare__row-title {
          @include m.font-poppins(v.$fw-semi-bold);
          @include m.font-scale(medium);
        }
      }

      .compare__row-title-col {
        @include m.breakpoint(v.$desktop-sm) {
          &::before {
            content: none;
          }

          div {
            display: block;
          }
        }

        &::before {
          white-space: pre-line;
          content: attr(data-short);
        }

        div {
          display: none;
        }
      }
    }

    &--arrow-bottom,
    &--arrow-right {
      width: 24px;
      height: 24px;
      transition: transform 0.3s;
    }

    &--arrow-right {
      transform: rotate(180deg);

      @include m.breakpoint(v.$desktop-sm) {
        transform: rotate(90deg);
      }
    }

    &--arrow-bottom {
      @include m.breakpoint(v.$desktop-sm) {
        margin-top: 16px;
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    margin-top: -5px;
    margin-bottom: -20px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      margin-top: 0;
    }
  }

  &__row {
    @include m.font-noto-sans();
    @include m.font-scale(medium);

    @include m.breakpoint(v.$desktop-sm) {
      padding: 19px 0;
    }

    &-title {
      @include m.font-poppins(v.$fw-regular);
      @include m.font-scale(small);

      flex: 2;
      align-self: flex-start;
      color: var(--text-primary);

      @include m.breakpoint(v.$desktop-sm) {
        @include m.font-noto-sans();
        @include m.font-scale(medium);

        flex: 0 1 auto;
        width: 36%;
      }

      &-footer {
        @include m.font-poppins(v.$fw-medium);
        @include m.font-scale(small);

        align-self: center;
        margin-top: -28px;
        text-align: center;
        color: var(--text-service);

        @include m.breakpoint(v.$desktop-sm) {
          margin-top: auto;
          margin-bottom: auto;
          text-align: left;

          > a {
            margin-left: -36px;
          }
        }

        > a {
          margin-left: 0;
        }
      }

      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-cols {
        @include m.font-scale(base);

        display: flex;
        flex: 3;
        align-items: center;
        justify-content: space-between;

        @include m.breakpoint(v.$desktop-sm) {
          display: flex;
          flex: 0 1 auto;
          width: 65%;
        }

        &-visible {
          display: none;

          @include m.breakpoint(v.$desktop-sm) {
            display: flex;
          }
        }
      }

      &-col {
        @include m.font-poppins(v.$fw-medium);

        display: inline-block;
        width: 30%;
        text-align: center;
        color: var(--text-primary);

        @include m.breakpoint(v.$tablet-sm-exact) {
          white-space: nowrap;
        }

        @include m.breakpoint(v.$desktop-sm) {
          @include m.font-poppins(v.$fw-semi-bold);
          @include m.font-scale(medium);
        }
      }
    }
  }

  &__description {
    @include m.font-poppins();
    @include m.font-scale(small);

    margin-right: 8px;
    margin-left: 8px;
    white-space: pre-wrap;
    color: var(--text-service);

    @include m.breakpoint(v.$desktop-sm) {
      margin-left: 15px;
    }

    &-anchor {
      position: relative;
      display: inline-block;

      &:hover::after {
        background-color: var(--text-grey);
      }

      &::after {
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--text-service);
        transition: background-color 0.3s ease;
        content: '';
      }
    }

    &-full-width {
      width: 33%;
    }
  }

  .ant-collapse-expand-icon {
    margin-left: -5px !important;

    .compare__collapse-icon.anticon {
      color: var(--text-primary);
      font-size: 24px;

      @include m.breakpoint(v.$desktop-sm) {
        padding-right: 16px;
      }

      svg {
        @include m.breakpoint(v.$desktop-sm) {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  &__mark-icon {
    margin-left: 4px;
  }

  &__cross-icon {
    margin-bottom: -2px;
  }

  &-narrow {
    .compare__description-full-width {
      width: 28%;
    }

    .compare__row-title {
      width: 30%;
    }

    .compare__row-title-cols {
      width: 69%;
    }

    .row-section__row-title-footer {
      @include m.breakpoint(v.$desktop-sm) {
        width: 34%;
      }
    }
  }
}
