@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-primary);

  &__number {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(x4-large);

    &--only {
      @include m.font-poppins(v.$fw-bold);
      @include m.font-scale(large);

      width: 115px;
    }
  }

  &__text {
    @include m.font-noto-sans();
    @include m.font-scale();
  }

  &__benefit {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(medium);
  }
}

.pentagon {
  background: no-repeat -8px 0;
  background-size: 105%;
  width: 266px;
  height: 291px;

  @for $i from 1 through 5 {
    &-#{$i} {
      background-image: url('icons/Pentagon#{$i}.svg');
    }
  }
}

.circle {
  background: url('icons/CircleSubtract.svg') no-repeat -8px -2px;
  background-size: 105%;
  width: 279px;
  height: 279px;
}
