@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.approach {
  position: relative;
  height: 1430px;
  margin-bottom: 120px;
  background: url('../../../svg/testing/HorizontalLine.svg') no-repeat,
    url('../../../svg/testing/HorizontalLine.svg') no-repeat 0 26%,
    url('../../../svg/testing/HorizontalLine.svg') no-repeat 0 51%,
    url('../../../svg/testing/HorizontalLine.svg') no-repeat 0 75%,
    url('../../../svg/testing/HorizontalLine.svg') no-repeat 0 98%;

  @include m.breakpoint(v.$tablet-sm-exact) {
    height: 1345px;
    background: url('../../../svg/testing/HorizontalLine.svg') no-repeat,
      url('../../../svg/testing/HorizontalLine.svg') no-repeat 0 20%,
      url('../../../svg/testing/HorizontalLine.svg') no-repeat 0 40%,
      url('../../../svg/testing/HorizontalLine.svg') no-repeat 0 60%,
      url('../../../svg/testing/HorizontalLine.svg') no-repeat 0 80%;
    background-size: 100%;
    overflow: hidden;
  }

  @include m.breakpoint(v.$desktop-sm) {
    height: auto;
    background: url('../../../svg/testing/VerticalLine.svg') no-repeat 20%,
      url('../../../svg/testing/VerticalLine.svg') no-repeat 40%,
      url('../../../svg/testing/VerticalLine.svg') no-repeat 60%,
      url('../../../svg/testing/VerticalLine.svg') no-repeat 80%;
  }

  &__months {
    position: absolute;
    top: -26px;
    right: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1414px;
    margin-bottom: 70px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      top: 0;
      right: 0;
      align-items: flex-end;
      justify-content: space-around;
      height: 1345px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      position: static;
      flex-direction: row;
      height: auto;
      margin-bottom: 70px;
    }
  }

  .phase {
    display: flex;
    margin-bottom: 32px;
    padding-bottom: 8px;

    &--short {
      min-width: 100%;

      @include m.breakpoint(v.$tablet-sm-exact) {
        width: 290px;
        min-width: 240px;
      }

      @include m.breakpoint(v.$desktop-sm) {
        width: 240px;
      }
    }

    &__dropdown,
    &__info,
    &-forth__new-apps {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: -20px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--color-primary-300);
        font-weight: bold;
        content: '';

        @include m.breakpoint(v.$tablet-sm-exact) {
          top: 0;
          left: -54px;
        }

        @include m.breakpoint(v.$desktop-sm) {
          top: 31px;
          left: 0;
        }
      }

      &::after {
        position: absolute;
        top: 4px;
        left: -16px;
        width: 2px;
        height: 100%;
        background-color: var(--color-primary-300);
        font-weight: bold;
        content: '';

        @include m.breakpoint(v.$tablet-sm-exact) {
          top: 4px;
          left: -50px;
        }

        @include m.breakpoint(v.$desktop-sm) {
          top: 35px;
          left: 0;
          width: 100%;
          height: 2px;
        }
      }
    }

    &-first {
      position: relative;
      height: 380px;
      margin-bottom: 0;
      margin-left: 16px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        height: 242px;
        margin-bottom: 30px;
        margin-left: 90px;
      }

      @include m.breakpoint(v.$desktop-sm) {
        height: auto;
        margin-left: 0;
      }

      .phase__info {
        position: absolute;
        top: 350px;
        display: flex;
        height: 1077px;

        @include m.breakpoint(v.$tablet-sm-exact) {
          top: 238px;
          align-items: center;
          height: 1103px;
        }

        @include m.breakpoint(v.$desktop-sm) {
          position: relative;
          top: 0;
          display: inline-block;
          width: 100%;
          height: auto;
          text-align: center;
        }
      }
    }

    &-second {
      height: 350px;
      margin-bottom: 0;
      margin-left: 32px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        height: 268px;
        margin-left: 195px;

        .phase--short {
          width: 440px;
        }
      }

      @include m.breakpoint(v.$desktop-sm) {
        height: auto;
        margin-bottom: 32px;
        margin-left: 241px;

        .phase--short {
          width: 240px;
        }
      }

      .phase__dropdown {
        &::before,
        &::after {
          background-color: var(--color-primary-500);
        }
      }
    }

    &-third {
      height: 350px;
      margin-bottom: 0;
      margin-left: 56px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        width: 717px;
        height: 237px;
        margin-bottom: 32px;
        margin-left: 300px;
      }

      @include m.breakpoint(v.$desktop-sm) {
        justify-content: center;
        height: auto;
        margin-left: 482px;
      }

      .phase__dropdown {
        &::before,
        &::after {
          background-color: var(--color-primary-700);
        }

        &::after {
          height: 697px;
        }

        @include m.breakpoint(v.$tablet-sm-exact) {
          width: 340px;

          &::after {
            height: 801px;
          }
        }

        @include m.breakpoint(v.$desktop-sm) {
          width: 100%;

          &::after {
            height: 2px;
          }
        }
      }
    }

    &-forth {
      margin-left: 76px;
      padding-bottom: 145px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        margin-left: 400px;
      }

      @include m.breakpoint(v.$desktop-sm) {
        margin-left: 721px;
      }

      &__new-apps {
        @include m.font-poppins(v.$fw-semi-bold);
        @include m.font-scale();

        width: 100%;

        &::before,
        &::after {
          background-color: var(--graphics-amber);
        }

        &::after {
          height: 347px;
        }

        @include m.breakpoint(v.$tablet-sm-exact) {
          &::after {
            height: 535px;
          }
        }

        @include m.breakpoint(v.$desktop-sm) {
          text-align: center;

          &::after {
            height: 2px;
          }
        }
      }
    }
  }
}
