.open-section(data-js-open)
  .section-container
    h2.text-container 3. Open ReportPortal in new browser tab and login
    .with-note.text-margins
      .description
        .text Open new browser tab with&nbsp;
          a(href='http://localhost:8080/ui/',data-js-new-window) ReportPortal
        .note.default.mobile
          p.line If you deploy ReportPortal on a separate host, use&nbsp;
            span http://IP_ADDRESS:8080.
        .warning
          p ReportPortal is ready for login when you see a list of services (required: API, UAT, Index, UI; optional: Analyzer, Rally/Jira) at the bottom of the Login Page.
      .note.default.desktop
        p.line If you deploy ReportPortal on a separate host, use&nbsp;
          span http://IP_ADDRESS:8080.
    .text-container
      .access
        p.text For user access:
        .user
          .input.login
            span default
            span.desktop.copy(data-copy='default') Copy
          .input.password
            span 1q2w3e
            span.desktop.copy(data-copy='1q2w3e') Copy
    .with-note.text-margins
      .description
        .access
          p.text For admin access:
          .user
            .input.login
              span superadmin
              span.desktop.copy(data-copy='superadmin') Copy
            .input.password
              span erebus
              span.desktop.copy(data-copy='erebus') Copy
      .note.recommend
        p.line Please change admin password for security.
