@import '../../pageSectionMixin';

.installation-page_open {
  .open-section{
    @media (max-width: $SCREEN_XS_MAX) {
      width: 320px;
      margin: 0 auto 0 auto;
    }
    .section-container{
      padding-top: 40px;
      padding-bottom: 30px;
      @media (max-width: $SCREEN_XS_MAX) {
        padding-top: 25px;
        padding-bottom: 5px;
      }
      &::after{
        position: absolute;
        bottom: 0;
        display: block;
        width: 700px;
        border-bottom: 2px rgba(57, 195, 216, 0.20) solid;
        content: '';
        @media (max-width: $SCREEN_SM_MAX) {
          width: 550px;
        }
        @media (max-width: $SCREEN_XS_MAX) {
          display: none;
        }
      }
    }
    .warning{
      margin-top: 17px;
    }
    .recommend{
      @media (max-width: $SCREEN_XS_MAX) {
        margin-top: 5px;
      }
    }
    .default{
      span{
        font-family: $FONT-HEADER;
      }
    }
    .access {
      display: flex;
      margin-left: 20px;
      @media (max-width: $SCREEN_XS_MAX) {
        margin-top: 0;
        margin-left: 0;
        flex-direction: column;
      }
      &:first-child{
        margin-bottom: 30px;
        @media (max-width: $SCREEN_XS_MAX) {
          margin-bottom: 20px;
        }
      }
      p {
        display: inline-block;
        width: 140px;
        vertical-align: top;
        @media (max-width: $SCREEN_XS_MAX) {
          margin-bottom: 10px;
        }
      }
      .user {
        .input {
          width: 300px;
          border: solid 1px $COLOR-GRAY-80;
          @media (max-width: $SCREEN_XS_MAX) {
            width: 290px;
          }
          span {
            font-family: $FONT-REGULAR;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            padding: 12px 10px 9px 15px;
            text-align: left;
            color: $COLOR-CHARCOAL-GREY;
            &.copy {
              float: right;
              cursor: pointer;
              font-family: $FONT-REGULAR;
              font-size: 15px;
              text-align: left;
              color: $COLOR-TEALISH;
              &:hover {
                color: $COLOR-TOPAZ;
              }
            }
          }
          &::before {
            content: '';
            display: inline-block;
            height: 38px;
            vertical-align: middle;
            width: 40px;
            background-color: $COLOR--pale-grey;
            background-repeat: no-repeat;
            background-position: center;
          }
          &.login {
            margin-bottom: 15px;
            &::before {
              background-image: url('./img/login.svg');
              background-size: 16px 16px;
            }
          }
          &.password {
            &::before {
              background-image: url('./img/password.svg');
              background-size: 15px 17px;
            }
          }
        }
      }
    }
  }
}
