@import '../../pageSectionMixin';

.installation-page_integrate{
  margin-top: 40px;
  @media (max-width: $SCREEN_XS_MAX) {
    margin: 0;
  }
  .integrate-section{
    .section-container{
      padding-bottom: 40px;
      @media (max-width: $SCREEN_XS_MAX) {
        width: 320px;
        margin: 0 auto 0 auto;
      }
    }
    img{
      width: 100%;
    }
    .frameworks {
      p.h3 {
        position: relative;
        @media (max-width: $SCREEN_XS_MAX) {
          &:not(:first-child){
            margin-top: 10px;
          }
        }
        span {
          position: relative;
          padding-right: 10px;
          background: $COLOR-WHITE_TWO;
        }
        &::before {
          position: absolute;
          top: 15px;
          display: block;
          height: 1px;
          width: 100%;
          background-color: $COLOR-STEEL-GREY;
          opacity: 0.3;
          content: '';
        }
      }
      ul {
        margin: 10px 0 5px 0;
        @media (max-width: $SCREEN_XS_MAX) {
          margin-bottom: 0;
          margin-top: 5px;
        }
        li {
          display: inline-block;
          margin-right: 20px;
          margin-bottom: 20px;
          font-size: 0;
          &:nth-child(4n){
            margin-right: 0;
          }
          @media (max-width: $SCREEN_SM_MAX) {
            &:nth-child(4n){
              margin-right: 20px;
            }
            &:nth-child(3n){
              margin-right: 0;
            }
          }
          @media (max-width: $SCREEN_XS_MAX) {
            margin-right: 10px;
            margin-bottom: 10px;
            &:nth-child(4n){
              margin-right: 10px;
            }
          }
          a {
            position: relative;
            display: block;
            border: solid 1px $COLOR-GRAY-91;
            box-shadow: 0 1px 3px 0 rgba(189, 199, 204, 0.55);
            .badge{
              position: absolute;
              top: 5px;
              right: 5px;
              z-index: 1;
              border-radius: 12px;
              padding: 2.7px 5.4px 1.8px;
              color: $COLOR-WHITE_TWO;
              font-size: 9px;
              line-height: 9px;
              @media (max-width: $SCREEN_XS_MAX) {
                top: 3px;
                right: 3px;
                padding: 1px 3px;
                font-size: 7px;
              }
              &.beta {
                background-color: $COLOR--dark-pastel-green;
              }
              &.contributor {
                background-color: $COLOR--skipped;
              }
            }
            @media (max-width: $SCREEN_XS_MAX) {
              margin: 0;
              padding: 5px 0;
            }
            &:hover {
              border: solid 1px darken($COLOR-GRAY-91, 10%);
            }
            &::after {
              display: none;
            }
            img {
              width: 153px;
              margin: 0;
              @media (max-width: $SCREEN_XS_MAX) {
                width: 88px;
              }
            }
          }
        }
      }
    }
  }
  .slack-block{
    padding: 45px 0;
    background-size: cover;
    background-image: url('./img/pttrn.png');
    .section-container{
      padding: 0;
      @media (max-width: $SCREEN_XS_MAX) {
        width: 320px;
        margin: 0 auto;
      }
    }
    p{
      margin-left: 110px;
      color: $COLOR-STEEL-GREY;
      font-family: $FONT-HEADER;
      font-size: 17px;
      line-height: 1.75;
      @media (max-width: $SCREEN_SM_MAX) {
        margin-left: 0;
      }
      @media (max-width: $SCREEN_XS_MAX) {
        padding: 0 20px;
        font-size: 16px;
        text-align: center;
        span{
          display: block;
          margin-bottom: 15px;
          &:first-child{
            font-weight: normal;
          }
        }
      }
    }
    a{
      box-sizing: border-box;
      max-width: 180px;
      margin-left: 15px;
      border-radius: 3px;
      padding: 7px 15px 7px 45px;
      background-color: $COLOR-WHITE_TWO;
      background-image: url('./img/slack.svg');
      background-repeat: no-repeat;
      background-position: 15px 7px;
      @media (max-width: $SCREEN_XS_MAX) {
        margin: 0 auto;
      }
    }
  }
}
