@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/variables';
@import 'src/styles/mixins/breakpoint';

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -250px 20px 200px;
  gap: 40px 20px;

  @include breakpoint($desktop-sm) {
    flex-wrap: nowrap;
  }

  >div {
    &:first-child {
      ul {
        li {
          &:first-child {
            @include font-poppins($fw-bold);

            color: var(--graphics-jade);
          }
        }
      }
    }
  }
}
