@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/variables';
@import 'src/styles/mixins/breakpoint';

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //margin: -250px 16px 200px;
  margin: -250px 16px 176px;
  gap: 40px 20px;

  @include breakpoint($tablet-sm-exact) {
    margin: -250px 16px 160px;
  }

  @include breakpoint($desktop-sm) {
    flex-wrap: nowrap;
  }

  >div {
    &:first-child {
      li {
        &:first-child {
          @include font-poppins($fw-bold);

          color: var(--graphics-jade);
        }
      }
    }
  }
}
