@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/variables';
@import 'src/styles/mixins/breakpoint';

.compare {

  &__box {
    .ant-collapse-item:not(:has(.compare__section)) {
      margin-bottom: 20px;
      box-shadow: 0px 8px 16px rgba(0, 45, 55, 0.12);
      border-radius: 8px;
    }

    &-border {
      padding: 20px;
      padding-bottom: 0;
      box-shadow: 0px 8px 16px rgba(0, 45, 55, 0.12);
      border-radius: 8px;
    }
  }

  .ant-collapse-item {
    padding: 8px 0;
  }

  .ant-collapse-header:has(.compare__section) {
    @include font-noto-sans($fw-semi-bold);
    @include font-scale(base);

    cursor: auto;
  }

  &__section {
    margin: 20px 0;

    cursor: auto;

    &-title {
      letter-spacing: 1px;
      text-transform: uppercase;
      color: var(--text-primary);
    }

    &-adjustment {
      text-align: center;
    }

    &-btn-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-btn {
      width: 100%;
      max-width: 148px;
      padding: 16px 5px;
    }

    &-btns {
      padding: 0 0px 0 42px;
    }
  }

  &__title {
    @include font-poppins($fw-semi-bold);
    @include font-scale(x3-medium);

    position: relative;
    margin-bottom: 60px;
    text-align: center;
    color: var(--text-primary);
    
    @include breakpoint($tablet-sm) {
      @include font-scale(large);

      margin-bottom: 40px;
    }
  }

  &__tab{

    &-data {
      margin-top: 16px;

      &-last-item {
        margin: 10px 0;
      }
    }

    &-title {
      @include font-noto-sans($fw-semi-bold);
      @include font-scale(base);

      margin-bottom: 40px;
      text-align: center;
      text-transform: uppercase;
      color: var(--text-primary);
    }

    &-header {
      @include font-poppins($fw-semi-bold);
      @include font-scale(medium);

      padding: 0 37px 0 66px;
      color: var(--text-primary);
    }
  }

  &__content {
    margin-top: -5px;
    margin-bottom: -20px;
  }

  &__row {
    @include font-noto-sans();
    @include font-scale(medium);
  }

  &__row-title {
    flex: 2;
    align-self: flex-start;
    color: var(--text-primary);

    &-footer {
      @include font-poppins($fw-medium);
      @include font-scale(small);

      align-self: center;
      color: var(--text-service);

      > a {
        margin-left: -36px;
      }

      &-centred {
        text-align: center;

        > a {
          margin-left: 0;
        }
      }

    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-cols {
      @include font-scale(base);

      flex: 3;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-col {
      @include font-poppins();

      display: inline-block;
      width: 30%;
      text-align: center
    }

    &-col-font {
      @include font-poppins($fw-semi-bold);
      @include font-scale(medium);
    }
  }

  &__description {
    @include font-poppins();
    @include font-scale(small);

    margin-left: 25px;
    margin-right: 25px;
    color: var(--text-service);
    white-space: pre-wrap;

    &-anchor {
      position: relative;
      display: inline-block;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 6px;
        width: 100%;
        height: 1px;
        background-color: var(--text-service);
        transition: background-color 0.3s ease;
      }

      &:hover::after {
        background-color: var(--text-grey);
      }
    }

    &-full-width {
      width: 40%;
    }
  }

  .ant-collapse-expand-icon {
    .compare__collapse-icon.anticon {
      margin-top: 5px;
      font-size: 18px;
      color: var(--text-primary);
    }
  }

  &__mark-icon {
    margin-left: 4px;
  }

  &__cross-icon {
    margin-bottom: -2px;
  }
}
