@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/variables';
@import 'src/styles/mixins/breakpoint';

.compare {

  &__title {
    @include font-poppins($fw-semi-bold);
    @include font-scale(x3-medium);

    position: relative;
    margin-bottom: 60px;
    text-align: center;
    color: var(--text-primary);
    
    @include breakpoint($tablet-sm) {
      @include font-scale(large);

      margin-bottom: 40px;
    }

    // &:after {
    //   content: '';
    //   position: relative;
    //   display: inline-block;
    //   margin-left: 15px;
    //   top: 5px;
    //   width: 15px;
    //   height: 18px;
    //   background: url('./arrow.svg') no-repeat center;
    //   background-size: 20px;
      
    //   @include breakpoint($desktop-sm) {
    //     display: none;
    //   }
    // }
  }

  &__tab-title {
    @include font-noto-sans($fw-semi-bold);
    @include font-scale(base);

    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-primary);
  }

  &__cols {
    display: none;
    margin-bottom: 30px;

    @include breakpoint($desktop-sm) {
      display: flex;
      justify-content: flex-end;

      > div {
        @include font-poppins($fw-semi-bold);
        @include font-scale(medium);
        width: 20%;
        color: var(--text-primary);
        text-align: center;
      }
    }
  }

  &__row-title {
    @include font-noto-sans();
    @include font-scale(medium);

    color: var(--text-primary);
  }

  &__description {
    @include font-poppins();
    @include font-scale(small);

    margin-left: 25px;
    color: var(--text-service);
  }

  .ant-collapse-expand-icon {
    .compare__collapse-icon.anticon {
      margin-top: 5px;
      font-size: 18px;
      color: var(--text-primary);
    }
  }
}
