@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

$event-arrow-z-index: -10;
$dropdown-z-index: 100;
$header-dotted-border-z-index: -100;
$header-dotted-middle-border-z-index: -110;
$header-image-z-index: -10;
$collapse-button-line-z-index: -10;
$content-block-z-index: -100;

.scheme {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: var(--text-grey);

  &__mocked {
    height: 12vw;
    margin-top: 10px;
    margin-bottom: 44px;
    background-image: url('./img/Scheme.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include m.breakpoint(v.$tablet-sm) {
      height: 100px;
    }
  }

  &__divider {
    margin: 40px 0;
  }

  &__collapse {
    .scheme__container {
      top: 0;
      bottom: 0;
      height: 0;
      overflow: hidden;
    }
  }

  &__collapse-header {
    .scheme__col-title::before {
      opacity: 0;
    }

    .scheme__header-container-header::before {
      opacity: 0;
    }

    .scheme__col-action-info {
      .scheme__arrow-left {
        top: 70px;
        right: 0;
        left: 0;

        &::before {
          top: 1px;
          right: -3px;
        }

        &::after {
          top: 1px;
          left: -3px;
        }
      }

      .scheme__arrow-right {
        top: 34px;
        right: 0;
        left: 0;

        &::before {
          top: 50%;
          left: -1px;
        }

        &::after {
          top: 50%;
          right: -4px;
        }
      }
    }

    .scheme__arrow-right {
      &::before {
        left: 4px;
      }

      &::after {
        right: 3px;
      }
    }
  }

  &__container {
    position: relative;
    height: 1485px;
    margin-bottom: 30px;
    transition: all 0s ease-out;

    &::before {
      position: absolute;
      inset: 0 -1px 15px 0;
      display: block;
      border-right: 2px dotted var(--color-primary-300);
      opacity: 1;
      content: '';
    }
  }

  &__row {
    display: grid;
    grid-template-rows: 105px;
    grid-template-columns: 2fr 1.1fr 2fr 1.9fr 2fr;

    &-header {
      height: 105px;
    }
  }

  &__col-title-last {
    margin-right: -1px;
  }

  &__col-title {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(small);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    &::before {
      position: absolute;
      inset: 50% 0 0;
      z-index: $header-dotted-middle-border-z-index;
      display: block;
      border-left: 2px dotted var(--color-primary-300);
      opacity: 1;
      content: '';
    }

    &-event-node {
      .scheme__arrow-right {
        right: 0;
        left: 0;
      }

      .scheme__arrow-right::before {
        left: -3px;
      }

      .scheme__arrow-right::after {
        right: -4px;
      }
    }

    &-inner {
      z-index: $header-dotted-border-z-index;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      height: 64px;
      border-radius: 8px;
      background-color: var(--color-primary-400);
    }

    &-first {
      z-index: $header-image-z-index;
      height: 105px;
      margin-top: 1px;
      margin-right: -1px;
      background: url('img/Rectangle.svg');
      background-color: transparent;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &-second {
      margin-right: -2px;
    }

    &-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      &-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 4px;
      }
    }
  }

  &__col {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px dotted var(--color-primary-300);
    opacity: 1;

    &-inner {
      @include m.font-noto-sans();
      @include m.font-scale(small);

      position: relative;
      z-index: $content-block-z-index;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      margin: 0 8px;
      border-radius: 8px;
      padding: 0 5px;
      background-color: var(--purple-grey);
      text-align: center;
      color: var(--text-grey);

      p {
        line-height: 20px;
      }

      &-active {
        background-color: #def5cb;
      }

      &-first-node {
        @include m.font-noto-sans(v.$fw-bold);
      }

      &-number {
        @include m.font-poppins();
        @include m.font-scale(s-small);

        position: absolute;
        top: -16px;
        left: 8px;
        color: var(--text-service);
        font-size: 10px;
      }

      &-bottom {
        position: absolute;
        right: -9px;
        bottom: -41px;
        left: -10px;
        height: 12px;
        border-right: 2px dotted var(--color-primary-300);
        border-bottom: 2px dotted var(--color-primary-300);
        border-left: 2px dotted var(--color-primary-300);
        border-end-start-radius: 12px;
        border-end-end-radius: 12px;
        background: var(--white);
        opacity: 1;
      }
    }

    &-action {
      @include m.font-poppins();
      @include m.font-scale(x-small);

      display: block;
      height: auto;
      border: 1px solid var(--text-light-grey);
      border-radius: 16px;
      padding: 0 10px;
      background-color: var(--white);
      line-height: 0;
      color: var(--text-grey);

      &-info {
        @include m.font-poppins(v.$fw-semi-bold);
        @include m.font-scale(x-small);

        display: flex;
        min-width: 103px;
        line-height: 0.2;
        color: var(--color-primary-600);
      }

      &-active {
        border: 1px solid var(--graphics-green);
      }

      button {
        all: unset;
        display: inline-block;
        margin: 0 -10px;
        border-radius: 16px;
        padding: 0 15px;
        cursor: pointer;
      }
    }
  }

  &__arrow-left {
    position: absolute;
    top: 50%;
    right: -8px;
    left: -8px;
    z-index: $event-arrow-z-index;
    display: block;
    height: 1px;
    background: var(--graphics-green);
    transform: translate(0, -50%);

    &::before {
      position: absolute;
      top: 50%;
      right: -5px;
      display: block;
      width: 5px;
      height: 5px;
      border: 1px solid var(--graphics-green);
      border-radius: 100%;
      background: var(--white);
      transform: translate(0, -50%);
      content: '';
    }

    &::after {
      position: absolute;
      top: 50%;
      left: -5px;
      display: inline-block;
      border: 5px solid transparent;
      border-right: 5px solid var(--graphics-green);
      transform: translate(0, -50%);
      content: '';
    }
  }

  &__arrow-right {
    position: absolute;
    top: 50%;
    right: -8px;
    left: -8px;
    z-index: $event-arrow-z-index;
    display: block;
    height: 1px;
    background: var(--text-light-grey);
    transform: translate(0, -50%);

    &::before {
      position: absolute;
      top: 50%;
      left: -6px;
      display: block;
      width: 5px;
      height: 5px;
      border: 1px solid var(--text-light-grey);
      border-radius: 100%;
      background: var(--white);
      transform: translate(0, -50%);
      content: '';
    }

    &::after {
      position: absolute;
      top: 50%;
      right: -6px;
      display: inline-block;
      border: 5px solid transparent;
      border-left: 5px solid var(--text-light-grey);
      transform: translate(0, -50%);
      content: '';
    }
  }

  &__arrow-bottom {
    &::before {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      height: 25px;
      margin-left: 0.5px;
      border-right: 1px solid var(--text-light-grey);
      background-color: var(--text-light-grey);
      transform: translateY(30px);
      content: '';
    }

    &::after {
      position: absolute;
      bottom: -40px;
      left: 50%;
      display: inline-block;
      margin-left: 1px;
      border: 5px solid transparent;
      border-top: 5px solid var(--text-light-grey);
      transform: translate(-50%, -50%);
      content: '';
    }
  }

  &__arrow-bottom-accent {
    &::before {
      border-right: 1px solid var(--graphics-green);
      background-color: var(--graphics-green);
    }

    &::after {
      border-top: 5px solid var(--graphics-green);
    }
  }

  &__btn-arrow {
    position: relative;
    width: 18px;
    color: var(--color-primary-600);

    &::before {
      position: absolute;
      top: -5px;
      right: 0;
      width: 6px;
      height: 6px;
      border-bottom: 2px solid var(--color-primary-600);
      border-left: 2px solid var(--color-primary-600);
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out;
      content: '';
    }

    &-active {
      &::before {
        top: -1px;
        border-bottom: 2px solid var(--color-primary-700);
        border-left: 2px solid var(--color-primary-700);
        transform: rotate(135deg);
      }
    }

    &-active-text {
      color: var(--color-primary-700);

      &:hover {
        color: var(--color-primary-500);
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &:hover {
        color: var(--color-primary-500);
      }

      &:hover .scheme__btn-arrow::before {
        border-bottom: 2px solid var(--color-primary-500);
        border-left: 2px solid var(--color-primary-500);
      }
    }
  }

  &__popup-container {
    position: relative;
  }

  &__popup-dropdown {
    position: absolute;
    top: 33px;
    right: -160px;
    z-index: $dropdown-z-index;
    width: 280px;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 1px 4px rgb(34 43 69 / 0.15);
    background: white;
  }

  &__popup-title {
    @include m.font-noto-sans(v.$fw-bold);
    @include m.font-scale(x-small);

    color: var(--text-primary);
  }

  &__popup-text {
    @include m.font-noto-sans();
    @include m.font-scale(x-small);

    color: var(--text-grey);
  }
}

.scheme__header {
  margin: 0 auto;

  &-container-header {
    position: relative;

    &::before {
      position: absolute;
      inset: 50px -1px 0 0;
      z-index: $header-dotted-border-z-index;
      display: block;
      border-right: 2px dotted var(--color-primary-300);
      opacity: 1;
      content: '';
    }
  }
}

.collapse__btn {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 25px auto 50px;

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: $collapse-button-line-z-index;
    display: block;
    height: 1px;
    border-top: 1px solid var(--purple-grey);
    transform: translate(0, -50%);
    content: '';
  }

  &-inner {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(x-small);

    display: flex;
    justify-content: center;
    border: 1px solid var(--purple-grey);
    border-radius: 16px;
    padding: 0 10px;
    background-color: var(--white);
    line-height: 0;
    color: var(--color-primary-600);
  }
}
