@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.section-list {
  @include m.font-scale(small);

  &:not(:first-child) {
    margin-top: 40px;
  }

  &__title {
    @include m.font-poppins(v.$fw-semi-bold);

    padding-left: 8px;
    margin: 0 0 18px;
    color: var(--text-service);
    text-transform: uppercase;
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: 329px;
  }
}

.section-item {
  @include m.font-scale(base);

  position: relative;
  display: flex;
  padding: 8px 8px 8px 52px;
  line-height: 24px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &--no-text {
    padding-top: 14px;
    padding-bottom: 14px;
    line-height: 20px;

    svg,
    .section-item-icon {
      top: 6px;
    }
  }

  &:hover {
    background: var(--bg-grey2);
    border-radius: 8px;
  }

  &-title {
    @include m.font-poppins(v.$fw-semi-bold);
  }

  &-text {
    @include m.font-poppins();
    @include m.font-scale(small);
  }

  &-title,
  &-text {
    color: var(--text-primary);
    margin: 0;
  }

  & svg,
  &-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 36px;
    height: 36px;
  }
}

.section-list-secondary {
  &__col {
    width: 200px;
  }

  .section-item {
    &:not(:last-child) {
      margin-bottom: 4px;

      .menu-dialog-offerings &,
      .menu-dialog-community & {
        margin-bottom: 16px;
      }
    }
  }
}
