@import '../../pageSectionMixin';

.download-page_integrate{
  margin-top: 40px;
  .integrate-section{
    @media (max-width: $SCREEN_XS_MAX) {
      width: 320px;
      margin: 0 auto;
      margin-top: 30px;
    }
    .instruction{
      margin-bottom: 40px;
      @media (max-width: $SCREEN_XS_MAX) {
        margin-bottom: 20px;
      }
      .step{
        width: 680px;
        @media (max-width: $SCREEN_XS_MAX) {
          width: auto;
          p{
            margin-top: 10px;
            margin-bottom: 5px;
          }
        }
      }
      .main-text{
        a{
          margin-top: 10px;
        }
      }
      .show-scheme{
        @media (max-width: $SCREEN_SM_MAX) {
          display: none;
        }
      }
      img{
        margin-bottom: 20px;
        @media (max-width: $SCREEN_XS_MAX) {
          width: 100%;
          margin-bottom: 5px;
        }
      }
      a{
        display: inline-block;
        margin-left: 0;
        margin-bottom: 15px;
        &::after{
          content: '';
          border-top: 1.5px solid $COLOR-TEALISH;
          border-right: 1.5px solid $COLOR-TEALISH;
          height: 6px;
          width: 6px;
          display: inline-block;
          transform: rotate(45deg);
          margin-left: 5px;
          margin-bottom: 2px;
        }
        &:hover{
          color: $COLOR-TOPAZ;
          &::after{
            border-top: 1.5px solid $COLOR-TOPAZ !important;
            border-right: 1.5px solid $COLOR-TOPAZ !important;
          }
        }
      }
      .frameworks{
        p.h3{
          position: relative;
          span{
            background: $COLOR-WHITE_TWO;
            padding-right: 10px;
            position: relative;
          }
          &::before{
            content: '';
            width: 100%;
            background-color: $COLOR-STEEL-GREY;
            height: 1px;
            opacity:0.3;
            display: block;
            position: absolute;
            top: 15px;
          }
        }
        ul{
          margin: 10px 0 5px 0;
          @media (max-width: $SCREEN_XS_MAX) {
            margin-bottom: 0;
            margin-top: 5px;
          }
          li{
            font-size: 0;
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 5px;
            @media (max-width: $SCREEN_XS_MAX) {
              margin-right: 10px;
            }
            &:nth-child(4n){
              margin: 0;
              @media (max-width: $SCREEN_XS_MAX) {
                margin-right: 10px;
              }
            }
            a{
              box-shadow: 0 1px 3px 0 rgba(189, 199, 204, 0.55);
              border: solid 1px $COLOR-GRAY-91;
              position: relative;
              .beta{
                position: absolute;
                top: 5px;
                right: 5px;
                z-index: 1;
                font-size: 9px;
                border-radius: 12px;
                line-height: 9px;
                background-color: #5cb85c;
                color: $COLOR-WHITE_TWO;
                padding: 2.7px 5.4px 1.8px;
                @media (max-width: $SCREEN_XS_MAX) {
                  top: 3px;
                  right: 3px;
                  padding: 1px 3px ;
                  font-size: 7px;
                }
              }
              @media (max-width: $SCREEN_XS_MAX) {
                margin-bottom: 5px;
                padding: 5px 0;
              }
              &:hover{
                border: solid 1px darken($COLOR-GRAY-91, 10%);
              }
              &::after{
                display: none;
              }
              img{
                width: 153px;
                margin: 0;
                @media (max-width: $SCREEN_XS_MAX) {
                  width: 88px;
                }
              }
            }
          }
        }
      }
    }

  }
  .slack-block{
    background: url('./img/pttrn.png');
    padding: 45px 0;
    background-size: cover;
    .section-container{
      @media (max-width: $SCREEN_XS_MAX) {
        width: 320px;
        margin: 0 auto;
      }
    }
    p{
      margin-left: 110px;
      font-family: $FONT-REGULAR;
      font-size: 17px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      color: $COLOR-STEEL-GREY;
      @media (max-width: $SCREEN_SM_MAX) {
        margin-left: 0;
      }
      @media (max-width: $SCREEN_XS_MAX) {
        text-align: center;
        font-size: 16px;
        padding: 0 20px;
        span{
          display: block;
          margin-bottom: 15px;
          &:first-child{
            font-weight: normal;
          }
        }
      }
    }
    a{
      border-radius: 3px;
      background-color: $COLOR-WHITE_TWO;
      padding: 7px 15px 7px 45px;
      background-image: url('./img/slack.svg');
      background-repeat: no-repeat;
      background-position: 15px 7px;
      margin-left: 15px;
    }
  }
}
