@import '../../pageSectionMixin';

.community-page_statistics {
  .section-container {
    @include content-section;
  }
  h1, .h1 {
    font-family: $FONT-LIGHT;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.08;
    text-align: center;
    color: $COLOR-STEEL-GREY;
  }
  .header {
    height: 280px;
    background-image: url(./img/community_bg.png);
    color: $COLOR-WHITE_TWO;
    padding: 80px 0;
    box-sizing: border-box;
    h1 {
      font-family: $FONT-REGULAR;
      color: $COLOR-WHITE_TWO;
      font-size: 25px;
      font-weight: 600;
      line-height: 1.44;
      margin-bottom: 10px;
    }
    p {
      font-family: $FONT-LIGHT;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.6;
      text-align: center;
    }
  }
  .statistics {
    padding: 60px 0;
    ul {
      text-align: center;
      margin-bottom: 20px;
      li {
        position: relative;
        display: inline-block;
        width: 212px;
        padding: 25px 0;
        border-radius: 8px;
        border: solid 1px $COLOR--light-blue-grey;
        color: $COLOR-STEEL-GREY;
        font-family: $FONT-REGULAR;
        margin: 0 15px;
        min-height: 109px;
        box-sizing: border-box;
        background-color: $COLOR-WHITE_TWO;
        opacity: 0;
        transform: translate(-20px);

        p {
          font-size: 26px;
          font-weight: 300;
          line-height: 1;
          text-align: center;
        }
        .point-img {
          margin-bottom: 5px;
          opacity: 0;
          &:before {
            content: '';
            width: 25px;
            height: 25px;
            vertical-align: bottom;
            display: inline-block;
            background-repeat: no-repeat;
            margin-right: 10px;
            background-position: center;
          }
        }
        .point-title {
          text-transform: uppercase;
          font-size: 14px;
          line-height: 1.86;
          text-align: center;
        }
        .commits {
          &:before {
            background-image: url('./img/commits.svg');
          }
        }
        .contributors {
          &:before {
            background-image: url('./img/contributor.svg');
          }
        }
        .stars {
          &:before {
            background-image: url('./img/stars.svg');
          }
        }
        .issues {
          &:before {
            background-image: url('./img/issues.svg');
          }
        }
      }
    }
    .comment {
      font-family: $FONT-REGULAR;
      color: $COLOR-STEEL-GREY;
      margin: 0 30px;
      overflow: hidden;
      .version {
        float: left;
        font-size: 14px;
        line-height: 1.86;
        span {
          font-weight: 600;
        }
      }
      .period {
        float: right;
        font-size: 12px;
        line-height: 2.17;
      }
    }
  }
  &.animate {
    .statistics {
      ul {
        li {
          transition: transform 0.5s ease, opacity 0.5s ease;
          transform: translate(0px);
          opacity: 1;
          &:nth-child(1) {
            transition-delay: 0.5s;
            z-index: 4;
          }
          &:nth-child(2) {
            transition-delay: 1s;
            z-index: 3;
          }
          &:nth-child(3) {
            transition-delay: 1.5s;
            z-index: 2;
          }
          &:nth-child(4) {
            transition-delay: 2s;
            z-index: 1;
          }
          .point-img {
            transition: opacity 2s ease;
            transition-delay: 2.5s;
            opacity: 1;
          }
        }
      }
    }
  }
  .contribution {
    height: 600px;
    padding: 100px 0;
    box-sizing: border-box;
    background: url('./img/contribute_bg.svg') center no-repeat;
    .h1 {
      text-align: center;
      font-family: $FONT-LIGHT;
      color: $COLOR-STEEL-GREY;
      font-size: 26px;
      margin-bottom: 78px;
    }
    p {
      font-family: $FONT-REGULAR;
      font-size: 15px;
      line-height: 1.87;
      text-align: center;
      color: $COLOR-CHARCOAL-GREY;
    }
    .social-container {
      margin: 60px 25px 0 26px;
      .socials:not(:last-child) {
        margin-right: 111px;
      }
      .socials {
        overflow: hidden;
        display: inline-block;
        .social-link {
          padding: 12px 0;
          width: 240px;
          text-align: center;
          background-color: $COLOR-WHITE_TWO;
          border: solid 1px $COLOR-TEALISH;
          &:hover {
            border: solid 1px $COLOR-TOPAZ;
            a {
              color: $COLOR-TOPAZ;
            }
            i.git {
              background-image: url(../../../../common/img/social/icon-gh-hover.svg);
            }
            i.twitter {
              background-image: url(../../../../common/img/social/icon-tw-hover.svg);
            }
            i.vk {
              background-image: url(../../../../common/img/social/icon-vk-hover.svg);
            }
            i.youtube {
              background-image: url(../../../../common/img/social/icon-yt-hover.svg);
            }
            i.facebook {
              background-image: url(../../../../common/img/social/icon-fb-hover.svg);
            }
            i.slack {
              background-image: url(../../../../common/img/social/icon-sl-hover.svg);
            }
          }
          a {
            font-family: $FONT-REGULAR;
            font-size: 15px;
            line-height: 1.33;
            color: $COLOR-TEALISH;
            text-decoration: none;
          }
          i {
            background-repeat: no-repeat;
            display: inline-block;
            background-size: contain;
            vertical-align: bottom;
            margin-right: 10px;
            &.git {
              @include social-icons(20px, 19px, url(../../../../common/img/social/icon-gh.svg));
            }
            &.twitter {
              @include social-icons(20px, 16px, url(../../../../common/img/social/icon-tw.svg));
            }
            &.vk {
              vertical-align: unset;
              @include social-icons(21px, 12px, url(../../../../common/img/social/icon-vk.svg));
            }
            &.youtube {
              @include social-icons(20px, 15px, url(../../../../common/img/social/icon-yt.svg));
            }
            &.facebook {
              @include social-icons(18px, 18px, url(../../../../common/img/social/icon-fb.svg));
            }
            &.slack {
              @include social-icons(18px, 18px, url(../../../../common/img/social/icon-sl.svg));
            }
          }
        }
        .social-link:first-child {
          margin-bottom: 30px;
        }
      }
    }

  }
  @media (max-width: 1000px) {
    .statistics {
      ul li {
        width: 178px;
        margin: 0 10px;
      }
    }
    .contribution {
      ul {
        margin: 60px 0 0 0;
        li:not(:nth-child(3n)) {
          margin-right: 37px;
        }
      }
      .social-container {
        margin: 60px 0 0 0;
        .socials:not(:last-child) {
          margin-right: 37px;
        }
      }
    }
  }
  @media (max-width: 820px) {
    .statistics {
      ul {
        width: 488px;
        margin: 0 auto 20px auto;
        li {
          width: 212px;
          margin: 0 15px;
          &:nth-child(-n+2) {
            margin-bottom: 30px;
          }
        }
      }
    }
    .contribution {
      height: auto;
      .h1 {
        margin-bottom: 30px;
      }
      .social-container {
        margin: 30px auto 0 auto;
        width: 521px;
        .socials {
          margin: 0 auto !important;
          display: block;
          .social-link {
            margin: 0 auto 30px auto;
          }
        }
      }
    }
  }
  @media (max-width: 480px) {
    .header {
      padding: 41px 10px 0 10px;
    }
    .statistics, .contribution {
      padding: 40px 0;
    }
    .statistics {
      ul {
        width: auto;
        padding: 0 5px;
        margin: 0;
        li {
          &:nth-child(-n+2) {
            margin: unset;
          }
          &:nth-child(n) {
            width: 100%;
            margin: 0 0 15px 0;
          }
        }
      }
      .comment {
        margin: 0 5px;
        .version, .period {
          float: unset;
        }
        .version {
          margin-bottom: 10px;
        }
      }
    }
    .contribution {
      padding: 40px 0 10px 0;
      p {
        text-align: left;
      }
      .social-container {
        width: auto;
      }
    }
  }
}
