@import '../../pageSectionMixin';

@media (min-width: $MIN-ANIMATION-WIDTH) {
  html.csstransforms {
    .community-page_statistics {
      .header, .statistics, .contribution {
        transform: translate(0, $ANIMATION-WIDTH);
        opacity: 0;
      }
      .header {
        transition: transform $ANIMATION-DURATION $ANIMATION-EASING, opacity $ANIMATION-DURATION $ANIMATION-EASING;
      }
      .statistics {
        transition: transform $ANIMATION-DURATION $ANIMATION-EASING .2s, opacity $ANIMATION-DURATION $ANIMATION-EASING .2s;
      }
      .contribution {
        transition: transform $ANIMATION-DURATION $ANIMATION-EASING .4s, opacity $ANIMATION-DURATION $ANIMATION-EASING .4s;
      }
      &.animate {
        .header, .statistics, .contribution {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  }
}

