.header
  h1 Community
  p explore our GitHub activity & become contributor
  p to pull ReportPortal on a new level of test automation
.statistics
  .section-container
    ul
      li
        p.point-img.commits(data-js-commits)
        p.point-title Commits
      li
        p.point-img.contributors(data-js-contributors)
        p.point-title Unique contributors
      li
        p.point-img.issues(data-js-issues)
        p.point-title resolved Issues
      li
        p.point-img.stars(data-js-stars)
        p.point-title Github stars
    .comment
      .version ReportPortal current version&nbsp;
        span(data-js-version) 1.3.1
      .period *all data is displayed for 3 months
.contribution
  .section-container
    h1 Collaborate and contribute
    p We are Open Source and fully endorse your efforts to contribute to ReportPortal development.
    p Our team makes ReportPortal, but it is our community that shapes and makes it better. Stay connected with us on social media.
    p Be part of our ReportPortal family.
    p We organize meet-ups on a regular basis in Minsk. You can also join our meet-ups online.
    .social-container
      .socials
        .social-link
          i.git
          a(href='https://github.com/reportportal/reportportal' target="_blank") Fork us on GitHub
        .social-link
          i.youtube
          a(href='http://youtube.com/c/ReportPortalCommunity' target="_blank") Watch video on YouTube
      .socials
        .social-link
          i.twitter
          a(href='http://twitter.com/ReportPortal_io' target="_blank") Follow us on Twitter
        .social-link
          i.facebook
          a(href='https://www.facebook.com/ReportPortal.io' target="_blank") Like us on Facebook
      .socials
        .social-link
          i.vk
          a(href='https://vk.com/reportportal_io' target="_blank") Join us on VK
        .social-link
          i.slack
          a(href='https://reportportal.slack.com/' target="_blank") Join us on Slack

