@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/variables';
@import 'src/styles/mixins/breakpoint';

.banner {
  position: relative;

  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: -80px;
    border-top: 1px solid var(--purple-grey);
    color: var(--text-service);
    background: var(--bg-light-grey);
    z-index: var(--z-index-banner-footer-bg);

    @include breakpoint($tablet-lg) {
      bottom: -150px;
    }
  }

  &__wrapper {
    position: relative;
    background: linear-gradient(85.23deg, #F4F6FA 1.92%, #EEF0F7 53.85%);
    border-radius: 16px;
    overflow: hidden;
    z-index: var(--z-index-banner);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 40px 50px 50px;
    background-image: url("./assets/bg-up.svg"), url("./assets/bg-dawn.svg");
    background-position: bottom left, top right;
    background-repeat: no-repeat, no-repeat;

    @include breakpoint($tablet-lg) {
      flex-direction: row;
    }
  }

  &__titles {
    text-align: center;

    @include breakpoint($tablet-lg) {
      text-align: start;
    }
  }

  &__title {
    @include font-poppins($fw-bold);
    @include font-scale(large);

    line-height: 48px;
    color: var(--text-primary);
  }

  &__subtitle {
    @include font-noto-sans();
    @include font-scale(medium);

    line-height: 32px;
    color: var(--text-primary);
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
    margin-top: 40px;

    @include breakpoint($tablet-lg) {
      margin-top: 10px;
    }
  }
}
