@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.cases-page {
  position: relative;
  padding: calc(72px + var(--header-height)) 16px 88px;
  margin-top: calc(-1 * var(--header-height));
  color: var(--white);
  background: var(--color-primary-600);
  background-image: url('./icons/group-244.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;

  &__title {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(large);

    margin: 0;
    text-align: center;

    @include m.breakpoint(v.$tablet-sm-exact) {
      @include m.font-scale(x3-large);
    }

    @include m.breakpoint(v.$desktop-sm) {
      @include m.font-scale(x4-large);
    }
  }

  &__subtitle {
    @include m.font-noto-sans();
    @include m.font-scale(x2-medium);

    margin-top: 16px;
    margin-bottom: 48px;
    text-align: center;
  }

}

.cases-page__cases-list {
  display: grid;
  grid-template-columns: repeat(1, 348px);
  grid-gap: 24px;
  justify-content: center;
  padding: 72px 0px 48px;
  margin: 0px 24px;
  flex-wrap: wrap;
  align-items: center;

  @include m.breakpoint(v.$tablet-sm-exact) {
    grid-template-columns: repeat(2, 348px);
  }

  @include m.breakpoint(v.$desktop-sm) {
    grid-template-columns: repeat(4, 282px);
    margin: 0px 120px;
  }

  &-item-box {
    display: flex;
    height: 328px;
    padding: 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 45, 55, 0.12);
    background-size: cover;

    &:hover {
      box-shadow: 0px 8px 32px 0px rgba(0, 45, 55, 0.12);
    }

    @include m.breakpoint(v.$desktop-sm) {
      width: 100%;
    }
  }

  &-item {
    position: relative;
    display: flex;
    height: 280px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    align-self: stretch;

    &-trailing {
      position: absolute;
      top: 166px;

      p {
        @include m.font-poppins(v.$fw-semi-bold);

        color: var(--white);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
      }
    }

    &-leading {
      p {
        @include m.font-poppins(v.$fw-semi-bold);

        margin-top: 0px;
        color: var(--white);
        text-align: left;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; 
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    &-icon {
      position: absolute;
      top: 58px;
      width: 96px;
      height: 96px;
      flex-shrink: 0;
      opacity: 0.7;
    }
  }
}

.cases-page__no-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;

  > p {
    color: var(--text-light-grey);
  }

  @include m.breakpoint(v.$tablet-sm-exact) {
    margin-bottom: 200px;
  }
}

.cases-page__load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;

  @include m.breakpoint(v.$tablet-sm-exact) {
    margin-bottom: 200px;
  }
}

.cases-page__download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  height: 56px;

  > button > img {
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }
}
