.section-container
  .banner-container
    .title ReportPortal Supports Ukraine 🇺🇦
    .sub-title In solidarity, we ask that you consider financially supporting the organizations below:
    a.link(href="https://epam.benevity.org/community" target="_blank") EPAM’s Global Partners for the Ukraine Humanitarian Crisis
    .close
