@import '../../pageSectionMixin';
$COLOR-background: #76D4ED;

.index-page_banner {
  .section-container {
    @include content-section;
  }

  .banner-container {
    position: relative;
    max-width: 840px;
    margin: 20px auto auto;
    padding: 16px;
    border-radius: 2px;
    background: $COLOR-background;
    text-align: center;
  }

  .title {
    margin-bottom: 16px;
    font-family: $FONT-HEADER;
    font-size: 48px;
    color: $COLOR_WHITE_TWO;
    line-height: normal;
  }

  .sub-title {
    margin-bottom: 16px;
    font-size: 18px;
    color: $COLOR_WHITE_TWO;
    line-height: normal;
  }

  .link {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 20px;
    color: $COLOR_WHITE_TWO;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    font-family: $FONT-HEADER;
    font-size: 24px;
    cursor: pointer;
    transition: all ease 0.5s;

    &:after {
      content: '×';
      display: block;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
