@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

$border-thickness: 1px;

.indicatory {
  position: sticky;
  top: var(--header-height);
  right: 0;
  left: 0;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 25px;
  padding-top: var(--header-height);
  transition: transform 0.5 ease-in-out;

  &__path {
    position: sticky;
    top: var(--header-height);
    right: 0;
    left: 0;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 25px;
    padding-top: var(--header-height);
    transition: transform 0.5 ease-in-out;
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;

    &-item {
      height: 140px;

      &-substring {
        @include m.font-noto-sans();
      }

      &-line {
        position: absolute;
        left: 11px;
        z-index: var(--scroll-indicator-line-z-index);
        display: block;
        border-left: $border-thickness solid var(--text-light-grey);
      }
    }
  }

  &__link {
    @include m.font-noto-sans(v.$fw-semi-bold);

    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    line-height: 1.7;
    white-space: pre-wrap;
    color: var(--text-light-grey);
    cursor: pointer;

    &:hover {
      color: var(--color-primary-500);
    }

    &:hover::before {
      border: 1px solid var(--color-primary-500);
    }

    &::before {
      position: absolute;
      top: 7px;
      left: -26px;
      z-index: var(--scroll-indicator-bullet-z-index);
      display: block;
      width: 13px;
      height: 13px;
      border: $border-thickness solid var(--text-light-grey);
      border-radius: 50%;
      background-color: var(--white);
      transition: background-color 0.4s ease-out;
      content: '';
    }

    &.active {
      color: var(--text-primary);

      &::before {
        left: -25px;
        border: none;
        background-color: var(--color-primary-500);
        transition: background-color 0.4s ease-out;
      }

      .indicatory__box-item-substring {
        color: var(--text-grey);
      }
    }
  }
}
