.item-icon.icon-gh(data-js-social-href="https://github.com/reportportal/reportportal")
.item-icon.icon-sl(data-js-social-href="https://reportportal.slack.com/")
.item-icon.icon-fb(data-js-social-href="https://www.facebook.com/ReportPortal.io")
.block-down(tabindex="0")
  .icons-down
    .item-icon.icon-tw(data-js-social-href="http://twitter.com/ReportPortal_io")
    .item-icon.icon-yt(data-js-social-href="https://www.youtube.com/channel/UCsZxrHqLHPJcrkcgIGRG-cQ")
    .item-icon.icon-vk(data-js-social-href="https://vk.com/reportportal_io")
    .item-icon.icon-mail(data-js-social-href="mailto:support@reportportal.io")
