@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/variables';
@import 'src/styles/mixins/breakpoint';

.scheme {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0;
  color: var(--text-grey);

  &__mocked {
    height: 80px;
    margin-top: 10px;
    margin-bottom: 44px;
    background-image: url('./img/Scheme.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @include breakpoint($phone) {
      height: 60px;
    }
    
    @include breakpoint($phone-lg) {
      height: 100px;
    }
  }

  &__divider {
    margin: 40px 0 40px;
  }

  &__collapse {
    .scheme__container {
      top: 0;
      bottom: 0;
      height: 0;
      overflow: hidden;
    }
  }

  &__collapse-header {
    .scheme__col-title::before {
      opacity: 0;
    }
    .scheme__header-container-header::before {
      opacity: 0;
    }

    .scheme__col-action-info {
      .scheme__arrow-left {
        top: 70px;
        left: 0;
        right: 0;

        &::after {
          top: 1px;
          left: -3px;
        }

        &::before {
          right: -3px;
          top: 1px;
        }
      }

      .scheme__arrow-right {
        top: 34px;
        left: 0;
        right: 0;

        &::before {
          left: -1px;
          top: 50%;
        }

        &::after {
          top: 50%;
          right: -4px;
        }
      }
    }

    .scheme__arrow-right {
      &::before {
        left: 4px;
      }

      &::after {
        right: 3px;
      }
    }
  }

  &__container {
    position: relative;
    height: 1485px;
    position: relative;
    transition: all 0s ease-out;
    margin-bottom: 30px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: -1px;
      bottom: 15px;
      border-right: 2px dotted var(--color-primary-300);
      z-index: -100;
      opacity: 1;
      transition: opacity 0s ease-in-out;
      transition-delay: 0s;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 2fr 1.1fr 2fr 1.9fr 2fr;
    grid-template-rows: 105px;

    &-header {
      height: 105px;
    }
  }

  &__col-title-last {
    margin-right: -1px;
  }

  &__col-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      border-left: 2px dotted var(--color-primary-300);
      z-index: -110;
      opacity: 1;
      transition: opacity 0s ease-in-out;
      transition-delay: 0s;
    }

    &-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: 64px;
      border-radius: 8px;
      background-color: var(--color-primary-400);
      z-index: -100;
    }

    &-first {
      background: url('img/Rectangle.svg');
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      height: 105px;
      margin-right: -1px;
      margin-top: 1px;
      z-index: -10;
    }

    &-second {
      margin-right: -2px;
    }

    &-actions {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-box {
        position: 'relative';
        display: flex;
        justify-content: center;
        align-items: center;
        width: '100%';
        margin: 4px;
      }
    }
  }

  &__col {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px dotted var(--color-primary-300);
    opacity: 1;
    transition: opacity 0s ease-in-out;
    transition-delay: 0s;

    &-inner {
      @include font-noto-sans();
      @include font-scale(small);

      position: relative;
      z-index: -100;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      margin: 0 8px;
      padding: 0 5px;
      background-color: var(--purple-grey);
      border-radius: 8px;
      text-align: center;
      color: var(--text-grey);

      p {
        line-height: 20px;
      }

      &-active {
        background-color: #def5cb;
      }

      &-first-node {
        @include font-noto-sans($fw-bold);
      }

      &-number {
        @include font-poppins();
        @include font-scale(s-small);

        position: absolute;
        top: -16px;
        left: 8px;
        font-size: 10px;
        color: var(--text-service);
      }

      &-bottom {
        position: absolute;
        border-bottom: 2px dotted var(--color-primary-300);
        border-right: 2px dotted var(--color-primary-300);
        border-left: 2px dotted var(--color-primary-300);
        bottom: -41px;
        height: 12px;
        left: -10px;
        right: -9px;
        border-end-start-radius: 12px;
        border-end-end-radius: 12px;
        background: var(--white);
        opacity: 1;
        transition: opacity 0s ease-in-out;
        transition-delay: 0s;
      }
    }

    &-action {
      @include font-poppins();
      @include font-scale(x-small);

      display: block;
      height: auto;
      border: 1px solid var(--text-light-grey);
      border-radius: 16px;
      line-height: 0;
      padding: 0 10px;
      background-color: var(--white);
      color: var(--text-grey);

      &-info {
        @include font-poppins($fw-semi-bold);
        @include font-scale(x-small);

        display: flex;
        min-width: 103px;
        color: var(--color-primary-600);
        line-height: 0.2;
      }

      &-active {
        border: 1px solid var(--graphics-green);
      }

      button {
        all: unset;
        cursor: pointer;
        display: inline-block;
        border-radius: 16px;
        margin: 0 -10px;
        padding: 0 15px;
      }
    }
  }

  &__arrow-left {
    position: absolute;
    height: 1px;
    display: block;
    top: 50%;
    left: -8px;
    right: -8px;
    background: var(--graphics-green);
    transform: translate(0, -50%);
    z-index: -10;

    &::after {
      position: absolute;
      content: '';
      display: inline-block;
      border: 5px solid transparent;
      border-right: 5px solid var(--graphics-green);
      top: 50%;
      left: -5px;
      transform: translate(0, -50%);
    }

    &::before {
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 100%;
      border: 1px solid var(--graphics-green);
      display: block;
      position: absolute;
      right: -5px;
      top: 50%;
      transform: translate(0, -50%);
      background: var(--white);
      z-index: 1000px;
    }
  }

  &__arrow-right {
    position: absolute;
    height: 1px;
    display: block;
    top: 50%;
    left: -8px;
    right: -8px;
    background: var(--text-light-grey);
    transform: translate(0, -50%);
    z-index: -10;

    &::before {
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 100%;
      border: 1px solid var(--text-light-grey);
      display: block;
      position: absolute;
      left: -6px;
      top: 50%;
      transform: translate(0, -50%);
      background: var(--white);
      z-index: 1000px;
    }

    &::after {
      content: '';
      display: inline-block;
      border: 5px solid transparent;
      border: 5px solid transparent;
      border-left: 5px solid var(--text-light-grey);
      top: 50%;
      right: -6px;
      position: absolute;
      transform: translate(0, -50%);
      z-index: 1000px;
    }
  }

  &__arrow-bottom {
    &::before {
      content: '';
      height: 25px;
      background-color: var(--text-light-grey);
      border-right: 1px solid var(--text-light-grey);
      display: block;
      left: 50%;
      margin-left: 0.5px;
      bottom: 0;
      position: absolute;
      transform: translateY(30px);
    }

    &::after {
      content: '';
      display: inline-block;
      border: 5px solid transparent;
      border-top: 5px solid var(--text-light-grey);
      bottom: -40px;
      left: 50%;
      margin-left: 1px;
      position: absolute;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(-50%, -50%);
    }
  }

  &__arrow-bottom-accent {
    &::before {
      background-color: var(--graphics-green);
      border-right: 1px solid var(--graphics-green);
    }

    &::after {
      border-top: 5px solid var(--graphics-green);
    }
  }

  &__btn-arrow {
    position: relative;
    width: 18px;
    color: var(--color-primary-600);

    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      border-left: 2px solid var(--color-primary-600);
      border-bottom: 2px solid var(--color-primary-600);
      transform: rotate(-45deg);
      right: 0px;
      top: -5px;
      transition: transform 0.3s ease-in-out;
    }

    &-active {
      &::before {
        top: -1px;
        transform: rotate(135deg);
        border-left: 2px solid var(--color-primary-700);
        border-bottom: 2px solid var(--color-primary-700);
      }
    }

    &-active-text {
      color: var(--color-primary-700);

      &:hover {
        color: var(--color-primary-500);
      }
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: var(--color-primary-500);
      }

      &:hover .scheme__btn-arrow::before {
        border-left: 2px solid var(--color-primary-500);
        border-bottom: 2px solid var(--color-primary-500);
      }
    }
  }

  &__popup-container {
    position: relative;
  }

  &__popup-dropdown {
    position: absolute;
    top: 33px;
    right: -160px;
    width: 280px;
    padding: 16px;
    background: white;
    box-shadow: 0px 1px 4px rgba(34, 43, 69, 0.15);
    border-radius: 8px;
    z-index: 1000;
  }

  &__popup-title {
    @include font-noto-sans($fw-bold);
    @include font-scale(x-small);

    color: var(--text-primary);
  }

  &__popup-text {
    @include font-noto-sans();
    @include font-scale(x-small);

    color: var(--text-grey);
  }
}

.scheme__header {
  margin: 0 auto 0;

  &-container-header {
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50px;
      left: 0;
      right: -1px;
      bottom: 0;
      border-right: 2px dotted var(--color-primary-300);
      z-index: -100;
      opacity: 1;
      transition: opacity 0s ease-in-out;
      transition-delay: 0s;
    }
  }
}

.collapse__btn {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 25px auto 50px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid var(--purple-grey);
    transform: translate(0,-50%);
    z-index: -10;
  }

  &-inner {
    @include font-poppins($fw-semi-bold);
    @include font-scale(x-small);

    display: flex;
    justify-content: center;
    border: 1px solid var(--purple-grey);
    border-radius: 16px;
    line-height: 0;
    padding: 0 10px;
    background-color: var(--white);
    color: var(--color-primary-600);
  }
}
