.feature-container.clearfix
  .description
    a.h3(href='/docs/Integration-with-bug' target='blank') Integrate with Bug tracking systems
    p.text Integrate ReportPortal with Jira and Rally:
    ul
      li - create issues with failures information in BTS
      li - link failures to the existing issues in BTS
      li - control the number of open issues via the widget.
  .animation(data-js-bts)
