.features-page_tester__bts{
  box-shadow: inset 0 -1px 0 0 rgba(189, 199, 204, 0.2);
  .description{
    padding: 140px 30px 140px 155px;
    @media (max-width: 1280px) {
      padding-left: 50px;
    }
    @media(max-width: $SCREEN_SM_MAX){
      display: block;
      padding: 70px 0 30px 0;
    }
    @media(max-width: $SCREEN_XS_MAX){
      padding: 20px 0 10px 0;
    }
    .text, ul li{
      color: $COLOR-CHARCOAL-GREY;
      font-size: 15px;
      line-height: 1.6;
    }
    ul li{
      line-height: 1.8;
    }
  }
  .animation{
    display: block;
    height: 400px;
    width: 640px;
    @media(max-width: $SCREEN_XS_MAX){
      width: 100%;
      margin-bottom: 20px;
      height: 180px;
      background-size: contain;
    }
    &.ie-animate-bts{
      animation: bts-ie 9s step-start infinite;
    }
    @keyframes bts-ie {
      0%, 7.5% {background-position: 0px 0px}
      7.6%,15.2% {background-position: -640px 0px}
      15.3%,22.9% {background-position: -1280px 0px}
      23%,29.9% {background-position: -1920px 0}
      30.7%,38.3% {background-position: -2560px 0 }
      38.4%,46% {background-position: -3200px 0}
      46.1%,53.7% {background-position: -3840px 0}
      53.8%,61.4% {background-position: -4480px 0}
      61.5%,69.1% {background-position: -5120px 0}
      69.2%,76.8% {background-position: -5760px 0}
      76.9%,84.5% {background-position: -6400px 0}
      84.6%,92.2% {background-position: -7040px 0}
      92.3%,100% {background-position: -7680px 0}
    }
    &.animate-bts {
      animation: bts 9s ease-in-out infinite;
    }
    @keyframes bts {
      0%, 5.5% {background-image: url('./img/1.png')}
      7.6%,13.2% {background-image: url('./img/2.png')}
      15.3%,20.9% {background-image: url('./img/3.png')}
      23%,27.9% {background-image: url('./img/4.png')}
      30.7%,36.3% {background-image: url('./img/5.png') }
      38.4%,44% {background-image: url('./img/6.png')}
      46.1%,51.7% {background-image: url('./img/7.png')}
      53.8%,59.4% {background-image: url('./img/8.png')}
      61.5%,67.1% {background-image: url('./img/9.png')}
      69.2%,74.8% {background-image: url('./img/10.png')}
      76.9%,82.5% {background-image: url('./img/11.png')}
      84.6%,90.2% {background-image: url('./img/12.png')}
      92.3%,100% {background-image: url('./img/13.png')}
    }
  }
  &.ie-animation{
    .animation{
      background-image: url('./img/bts.png');
      @media(max-width: $SCREEN_XS_MAX){
        background-image: url('./img/11.png');
      }
    }
  }
  &.default-animation{
    .animation{
      background-image: url('./img/1.png'),url('./img/2.png'),url('./img/3.png'),url('./img/4.png'),url('./img/5.png'),url('./img/6.png'),url('./img/7.png'),url('./img/8.png'),url('./img/9.png'),url('./img/10.png'),url('./img/11.png'),url('./img/12.png'),url('./img/13.png');
      @media(max-width: $SCREEN_XS_MAX){
        background-image: url('./img/11.png');
      }
    }
  }
}
