.section-container
  h1 Technical Specifications
  .spec-list
    .spec.spec-1
      .spec-icon.rest-icon
      h2 REST API
      p Easily integrate any testing framework or third-party tool with our open and self-documented API that features a flexible filtering engine.
    .spec.spec-2
      .spec-icon.mongo-icon
      h2 NoSQL MongoDB
      p Utilize lightning-fast distributed data storage for your test results including logs, screenshots and any other type of data you might want to report.
    .spec.spec-3
      .spec-icon.frameworks-icon
      h2 Major test frameworks
      p Run ReportPortal with frameworks like TestNG, jUnit, jBehave, Cucumber/-JVM, Spock, Scalatest, NUnit, xUnit, Specflow, Cucumber/Ruby and many others.
    .spec.spec-4
      .spec-icon.services-icon
      h2 Microservices architecture
      p Benefit from fault-tolerant production deployment readiness. Plug in new functionality, implement extensions, and make it servable through a built-in load balancer.
    .spec.spec-5
      .spec-icon.realtime-icon
      h2 Asynchronous real-time reporting
      p Track you results in real-time without increasing the execution time of your tests.
    .spec.spec-6
      .spec-icon.docker-icon
      h2 First-class Docker support
      p Pull images and deploy ReportPortal in one minute.
    .spec.spec-7
      .spec-icon.responsive-icon
      h2 Mobile-responsive UI
      p Access your test results anytime, anywhere.
    .spec.spec-8
      //.spec-icon.ai-icon
      //h2 Artificial Intelligence in Testing
      //p Leverage the power of Machine Learning in finding and prediction of fails.
