.section-container
  h1 Technical Specifications
  .spec-list
    .spec
      .spec-icon.rest-icon
      h2 REST API
      p Open self-documented API with flexible filtering engine to allow easy integration with any testing framework or third-party tool
    .spec
      .spec-icon.mongo-icon
      h2 NoSQL MongoDB
      p Lighting-fast distributed data storage for your test results including logs, screenshots and any other type of data you might want to report
    .spec
      .spec-icon.frameworks-icon
      h2 All Major Test Frameworks
      p TestNG, jUnit, jBehave, Cucumber/-JVM, Spock, Scalatest, NUnit, xUnit, Specflow, Cucumber/Ruby and many others
    .spec
      .spec-icon.services-icon
      h2 Microservices Architecture
      p Fault-tolerant production deployment readiness. Ability to easy plug-in new functionality: implement extension and make it servable through built-in load-balancer
    .spec
      .spec-icon.realtime-icon
      h2 Asynchronous Real-Time Reporting
      p Track you results in real-time without increasing execution time of your tests
    .spec
      .spec-icon.docker-icon
      h2 First-class Docker Support
      p Pull images and deploy ReportPortal in one minute
    .spec
      .spec-icon.responsive-icon
      h2 Mobile Responsive UI
      p Access your test results anytime and anywhere
    .spec
      .spec-icon.ai-icon
      h2 Artificial Intelligence in Testing
      p Leverage the power of Machine Learning in finding and prediction of fails
