@import '../index-page_mixin';

.index-page_specification {
  position: relative;
  height: 795px;
  border-top: 2px solid rgba(189, 199, 204, 0.2);
  .section-container {
    @include content-section;
  }
  h1 {
    font-family: $FONT-LIGHT;
    text-align: center;
    padding-top: 100px;
    font-size: 25px;
    color: $COLOR-STEEL-GREY;
  }
  .spec-list {
    position: relative;
    text-align: center;
    margin-top: 70px;
  }
  .spec {
    display: inline-block;
    width: 200px;
    height: 300px;
    vertical-align: top;
    text-align: left;
    margin: 0 20px;
    h2 {
      color: $COLOR-TOPAZ;
      margin-top: 17px;
      font-size: 16px;
      line-height: 1.63;
    }
    p {
      line-height: 1.6;
      margin-top: 10px;
    }
  }
  .spec-icon {
    width: 100%;
    height: 50px;
    background-position: left center;
    background-repeat: no-repeat;
    &.rest-icon {
      background-image: url(./img/rest-api.svg);
    }
    &.mongo-icon {
      background-image: url(./img/no-sql.svg);
    }
    &.frameworks-icon{
      background-image: url(./img/support.svg);
    }
    &.services-icon {
      background-image: url(./img/microservice.svg);
    }
    &.realtime-icon {
      background-image: url(./img/asynchronous.svg);
    }
    &.docker-icon {
      background-image: url(./img/docker.svg);
    }
    &.responsive-icon {
      background-image: url(./img/responsive-ui.svg);
    }
    &.ai-icon {
      background-image: url(./img/ai.svg);
    }
  }
}
