@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -244px 16px 0;
  gap: 40px 20px;
  flex-direction: column;
  align-content: center;

  @include m.breakpoint(v.$desktop-sm) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  >div {
    &:first-child {
      li {
        &:first-child {
          @include m.font-poppins(v.$fw-bold);

          color: var(--graphics-jade);
        }
      }
    }
  }
}
