@import '../variables/typography';

@font-face {
  font-family: 'Noto Sans';
  font-weight: $fw-regular;
  font-style: normal;
  font-display: swap;
  src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url('/fonts/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: $fw-medium;
  font-style: normal;
  font-display: swap;
  src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url('/fonts/Noto_Sans/NotoSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: $fw-semi-bold;
  font-style: normal;
  font-display: swap;
  src: local('Noto Sans SemiBold'), local('NotoSans-SemiBold'),
    url('/fonts/Noto_Sans/NotoSans-SemiBold.ttf') format('truetype');
}
