@import '../variables/typography';

@font-face {
  font-family: 'Poppins';
  font-weight: $fw-medium;
  font-display: swap;
  font-style: normal;
  src: local('Poppins Medium'), local('Poppins-Medium'), url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: $fw-semi-bold;
  font-display: swap;
  font-style: normal;
  src: local('Poppins-SemiBold'), local('Poppins-SemiBold'), url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}
