.pricing-solutions-list__item {
  &,
  &:hover {
    .pricing-solutions-list__item-icon {
      &--drill4j {
        background-image: url('../icons/drill4j-2.svg');
      }

      &--healenium {
        background-image: url('../icons/healenium-2.svg');
      }

      &--qa-space {
        background-image: url('../icons/qa-space-2.svg');
      }
    }
  }

  .is-desktop & {
    &-icon {
      &--drill4j {
        background-image: url('../icons/drill4j-1.svg');
      }

      &--healenium {
        background-image: url('../icons/healenium-1.svg');
      }

      &--qa-space {
        background-image: url('../icons/qa-space-1.svg');
      }
    }
  }
}
