.copy-to-clipboard-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid var(--purple-grey);
  border-radius: 4px;
  padding: 0;
  background-color: var(--bg-light-grey);
  cursor: pointer;

  &:hover svg {
    opacity: 0.5;
  }
}
