@import 'src/styles/mixins/breakpoint';
@import 'src/styles/variables';

.faq_contianer{
  margin-top: 80px;
  margin-bottom: 76px;

  @include breakpoint($tablet-sm-exact) {
    margin-top: 100px;
    margin-bottom: 168px;
  }

  @include breakpoint($desktop-sm) {
    margin-top: 99px;
    margin-bottom: 212px;
  }
}
