@import 'src/styles/mixins/breakpoint';
@import 'src/styles/variables';

.faq_contianer{
  margin-top: 120px;

  @include breakpoint($tablet-sm-exact) {
    margin-top: 144px;
  }

  @include breakpoint($desktop-sm) {
    margin-top: 171px;
  }
}

.still_have_question {
  margin-top: 73px;
  margin-bottom: 35px;

  @include breakpoint($tablet-sm-exact) {
    margin-top: 168px;
    margin-bottom: 62px;
  }

  @include breakpoint($desktop-sm) {
    margin-top: 212px;
    margin-bottom: 111px;
  }
}
