@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.animated-list-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 80px;

  @include m.breakpoint(v.$tablet-sm-exact) {
    gap: 48px;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @include m.breakpoint(v.$desktop-sm) {
    gap: 64px;
  }

  h2 {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(x4-medium);

    margin: 0;
    text-align: center;
    color: var(--text-primary);

    @include m.breakpoint(v.$tablet-sm-exact) {
      @include m.font-scale(large);
    }

    @include m.breakpoint(v.$desktop-sm) {
      @include m.font-scale(x3-large);
    }
  }

  h3 {
    @include m.font-noto-sans();
    @include m.font-scale(x2-medium);

    max-width: 792px;
    margin: 16px auto 0;
    text-align: center;
    color: var(--text-service);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      gap: 48px;
    }
  }

  &__leading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include m.breakpoint(v.$tablet-sm-exact) {
      margin: 0 auto;
    }

    &-button-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;
      width: 100%;
      margin-top: 24px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        flex-direction: row;
        margin-top: 0;

        button {
          flex-grow: 1;
        }
      }

      @include m.breakpoint(v.$desktop-sm) {
        flex-direction: row;
        width: auto;
      }
    }
  }

  &__trailing {
    align-items: center;
    min-width: 50%;

    img {
      max-width: 690px;
      margin: auto;
    }
  }
}

.animated-list {
  @include m.breakpoint(v.$desktop-sm) {
    display: flex;
    gap: 24px;
    height: 518px;

    &.animated-list--reversed {
      flex-direction: row-reverse;
    }
  }

  ul {
    padding: 0;
    list-style: none;

    & + img {
      display: none;
    }

    @include m.breakpoint(v.$desktop-sm) {
      flex-shrink: 0;
      width: 486px;

      img {
        display: none;
      }

      & + img {
        display: block;
      }
    }
  }

  &__item {
    border-top: 1px solid var(--purple-grey);
    padding: 24px;
    cursor: pointer;

    &:last-child {
      border-bottom: 1px solid var(--purple-grey);
    }

    .animated-list__item--active + & {
      border-top: none;
    }

    @include m.breakpoint(v.$desktop-sm) {
      & + .animated-list__item--active {
        border-top: none;
      }
    }
  }

  &__item--active {
    padding: 0;
    cursor: initial;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  strong {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(medium);

    color: var(--text-primary);
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    border-radius: 16px;
    padding: 24px 24px 16px;
    box-shadow: 0 8px 24px 0 rgb(0 0 0 / 0.07);
    background: var(--white);
    overflow: hidden;

    p {
      @include m.font-noto-sans();
      @include m.font-scale();

      margin: 0;
      line-height: 24px;
      color: var(--text-primary);
    }

    a {
      align-self: flex-start;
      margin-top: 0;
    }

    &-progress {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: linear-gradient(to right, var(--color-primary-500) 50%, rgb(255 255 255 / 0.3) 0);
      background-position: right;
      background-size: 200% 100%;
      animation: progressAnimation linear 10s forwards;
    }
  }
}
