$header-offset: 178px;

html {
  scroll-behavior: smooth;
}

#features_container{

}

.backgroundhero {
  position: relative;
  top: -$header-offset;
  z-index: -1;
  height: 1078px;
  background-image: url(../../svg/BackgroundHero.svg);
  background-size: 100% 100%;
  margin-bottom: -$header-offset;
}

.backgroundhero_heading {
  padding-top: 250px;
  width: 974px;
  margin: auto;

  h2 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* Text/Light topaz */
    color: #ccf0f7; //TODO: Move to global
  }

  h1 {
    /* Desktop/Headings/H1 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    /* or 112% */

    text-align: center;
    color: #ffffff;
  }
}

.imagedashboard {
  padding-top: 64px;
  width: 100%;

  img {
    width: 966px;
    margin: auto;
  }
}

.feature_list {

  margin-top:208px;
  :nth-child(even) {
    // flex-direction: column; For mobile
    flex-direction: row-reverse;
  }

  .feature_blockitem {
    display: flex;

    justify-content: center;
    margin-bottom: 200px;

    .features_image {
      width: 556px;
    }

    .features_description {
      width: 556px;
    }

    div {
      margin: 30px;
    }

    h1 {
      height: 128px;
      /* Desktop/Headings/H2 */
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      /* or 133% */
      display: flex;
      align-items: center;
      /* Text/Primary */
      color: #2f3c5f;
    }

    p {
      height: 192px;
      /* Desktop/Text/Body1 */
      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      /* or 160% */
      display: flex;
      align-items: center;
      /* Text/Primary */
      color: #2f3c5f;
    }

    a {
      /* Desktop/Buttons/Button M */
      display: flex;
      align-items: center;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height, or 125% */
      text-align: center;
      /* Primary/600 */
      color: #009dbb;

      img {
        margin-left: 10px;
        height: 12px;
        width: 15px;
      }
    }
  }
}

.features_explorer {
  margin-top:60px;

  .features_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 128px;
    width: 100%;

    h1 {
      width: 481px;
      height: 48px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      color: #2f3c5f;
    }
  }

  .features_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 86px;
    width:100%;
    padding:0 120px 0 120px;
    border-bottom: 1px solid #EDEFF7;
    background: white;
    border: 1px solid red;

    .navigation_item {
      display: flex;
      flex-direction: column;
      width: 116px;
      text-align: center;
      line-height: 18px;

      :hover{
        cursor:pointer;
        color: #009dbb;
      }

      span { 
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        color: #c3c8d5;
      }
    }
  }
}

.brdr {
  border: 1px solid red;
}
