.sponsors-hero {
  position: relative;
  z-index: 20;
  margin-top: calc(-1 * var(--header-height));
  padding: calc(72px + var(--header-height)) 16px 56px;
  background: var(--color-primary-600);
  background: url('../../../svg/community/hero.svg') no-repeat center 0 / cover;
  color: var(--white);

  .hero-switching__subtitle {
    max-width: 790px;
    margin: 16px auto 64px;
  }
}
