@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/variables';
@import 'src/styles/mixins/breakpoint';

.hero {
  position: relative;
  min-height: 500px;
  padding: var(--header-height) 16px 273px;
  margin-top: calc(-1 * var(--header-height));
  background: url('./assets/bg.svg') no-repeat bottom;
  background-size: cover;
  background-position: -50px -130px;

  @include breakpoint($tablet-sm-exact) {
    background-position: center;
  }

  @include breakpoint($desktop-sm) {
    background-position: center;
  }

  &__btn-box {
    display: flex;
    justify-content: center;
    margin: 54px 0 0;

    @include breakpoint($desktop-sm) {
      margin: 54px 0 0;
    }
  }

  &__title {
    @include font-poppins($fw-bold);
    @include font-scale(large);

    margin: 0 30px;
    padding-top: 64px;
    color: var(--white);
    text-align: center;

    @include breakpoint($tablet-sm-exact) {
      @include font-scale(x3-large);

      margin: 0 11px;
    }

    @include breakpoint($desktop-sm) {
      @include font-scale(x4-large);

      padding-top: 80px;
    }
  }

  &__subtitle {
    //@include font-poppins();
    @include font-scale(medium);

    margin-bottom: 0;
    color: var(--white);
    text-align: center;
    padding: 0 20px;
    margin-top: 8px;

    @include breakpoint($tablet-sm-exact) {
      margin-top: 8px;
    }

    @include breakpoint($desktop-sm) {
      @include font-scale(x2-medium);

      margin-top: 8px;
    }
  }

  &__wrapper {
    display: block;
    max-width: 660px;
    margin: 64px auto 0;
    padding: 0 30px;
    color: var(--white);

    @include breakpoint($tablet-sm-exact) {
      display: flex;
      flex-direction: column;
      margin-top: 80px;
    }

    @include breakpoint($desktop-sm) {
      display: flex;
      flex-direction: row;
      margin-top: 80px;
    }

    &-title {
      @include font-poppins($fw-semi-bold);
      @include font-scale(medium);

      line-height: 32px;
      margin-right: 16px;
    }

    &-subtitle {
      @include font-noto-sans();
      @include font-scale(base);

      line-height: 24px;
      padding-top: 8px;

      @include breakpoint($desktop-sm) {
        padding-top: 4px;
      }
    }
  }

  &__discount-switcher {
    margin: 80px auto 12px;

    @include breakpoint ($tablet-sm-exact) {
      margin: 80px auto 12px;
    }

    @include breakpoint($desktop-sm) {
      margin: 80px auto 26px;
    }
  }
}


