@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.pricing-card {
  display: flex;
  position: relative;
  flex-direction: column;
  transition: box-shadow 0.4s ease-out;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgb(16 46 52 / 0.1);
  background: var(--white);
  padding: 32px;
  width: 100%;
  max-width: 387px;

  @include m.breakpoint(v.$phone) {
    height: 630px;
  }

  &:hover {
    box-shadow: 0 8px 24px rgb(57 109 120 / 0.3);
  }

  &__popular {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(small);

    position: absolute;
    top: -15px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    border-radius: 15px;
    background: var(--graphics-amber);
    padding: 4px 30px;
    width: 198px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
  }

  &__title {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(x3-medium);

    text-align: center;
    color: var(--dark);

    @include m.breakpoint(v.$tablet-sm-exact) {
      @include m.font-poppins(v.$fw-bold);
      @include m.font-scale(large);
    }
  }

  &__description {
    @include m.font-noto-sans(base);

    margin-top: 8px;
    margin-bottom: 40px;
    height: 80px;
    text-align: center;
    white-space: pre-wrap;
    color: var(--text-primary);
  }

  &__price {
    @include m.font-noto-sans(base);

    margin-bottom: 18px;
    color: var(--text-primary);

    @include m.breakpoint(v.$tablet-sm-exact) {
      margin-bottom: 24px;
    }

    span {
      @include m.font-scale(large);
      @include m.font-poppins(v.$fw-bold);

      display: inline-block;
      margin-right: 5px;
    }
  }

  &__bottom-panel {
    text-align: center;
  }

  ul {
    position: relative;
    margin: 0 0 44px 10px;
    list-style: none;
    white-space: pre-wrap;

    @include m.breakpoint(v.$phone) {
      margin: 0 18px 35px;
    }

    @include m.breakpoint(v.$tablet-sm-exact) {
      margin: 0 0 49px 16px;
      padding-left: 12px;
    }

    li {
      @include m.font-poppins(v.$fw-medium);
      @include m.font-scale(base);

      position: relative;
      margin-bottom: 10px;
      padding-left: 26px;
      color: var(--text-primary);

      &::before {
        position: absolute;
        top: 8px;
        left: 0;
        border-radius: 50%;
        background: var(--gradient-primary);
        width: 8px;
        height: 8px;
        content: '';
      }
    }
  }

  .btn {
    margin: 0 auto;
    width: 100%;

    &--outline {
      padding: 14px 32px;
    }
  }
}
