@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.blog {
  position: relative;
  z-index: 20;
  margin-top: calc(-1 * var(--header-height));
  padding: calc(72px + var(--header-height)) 16px 180px;
  background-image: url('./icons/background_blog-page.svg');
  background-position: center 0;
  background-repeat: no-repeat;
  color: var(--white);

  @include m.breakpoint(v.$desktop-md) {
    background-size: cover;
  }

  &__main {
    display: block;
    grid-template-columns: 0 1fr;
    column-gap: 30px;
    margin: 0;

    @include m.breakpoint(v.$desktop-sm) {
      display: grid;
      grid-template-columns: 2.4fr 8fr;
      margin: 0 20px;
    }

    &-content {
      width: 100%;
      max-width: 690px;
      margin-right: auto;
      margin-left: auto;

      @include m.breakpoint(v.$desktop-sm) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  &__title {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(large);

    margin: 0;
    text-align: center;

    @include m.breakpoint(v.$tablet-sm-exact) {
      @include m.font-scale(x3-large);
    }

    @include m.breakpoint(v.$desktop-sm) {
      @include m.font-scale(x4-large);
    }
  }

  &__subtitle {
    @include m.font-noto-sans();
    @include m.font-scale(x2-medium);

    margin-top: 16px;
    margin-bottom: 120px;
    text-align: center;
  }

  .article-preview-list {
    justify-content: center;
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding: calc(6 * var(--base-spacing)) 0 0;
  }

  .subscription-banner {
    margin-top: 180px;
  }
}
