@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.input-field {
  display: inline-block;
  position: relative;
  width: 100%;

  label {
    @include m.font-poppins(v.$fw-medium);
    @include m.font-scale();

    line-height: 24px;
    color: var(--text-primary);
  }

  .input {
    @include m.font-poppins(v.$fw-medium);
    @include m.font-scale();

    display: flex;
    align-items: center;
    align-self: stretch;
    margin-top: 4px;
    outline: none;
    border: 1px solid var(--text-light-grey);
    border-radius: 4px;
    background: var(--white);
    padding: 10px 16px;
    width: 100%;
    height: 56px;
    color: var(--text-dark);

    &::placeholder {
      color: var(--text-light-grey);
    }

    &:hover {
      border-color: var(--text-service);
    }

    &:focus {
      border-color: var(--color-primary-600);
    }
  }

  textarea.input {
    height: 88px;
  }

  &.error .input {
    border-color: var(--graphics-coral);
  }

  .error-message {
    @include m.font-poppins();
    @include m.font-scale(small);

    position: absolute;
    margin-top: 4px;
    line-height: 20px;
    color: var(--graphics-coral);
  }
}
