.section-container
  p.h1 Not Sure Where to Start?
  .block-list
    .block-item.block-item-1
      .block-icon.doc-icon
      .block-text
        h2 Installation
        p Install ReportPortal in 4 easy steps.
        a(href="/installation") Learn more about it
    .separator
    .block-item.block-item-2
      .block-icon.video-icon
      .block-text
        h2 Video presentations
        p Get started with an in-depth video demo.
        a(href="http://youtube.com/c/ReportPortalCommunity" target="_blank") Visit the YouTube channel
  div(data-js-gallery-container)
