@import '../../pageSectionMixin';

.community-page_start-with {
  width: 100%;
  padding-bottom: 100px;
  .section-container {
    @include content-section;
  }
  .h1 {
    text-align: center;
    font-family: $FONT-LIGHT;
    color: $COLOR-STEEL-GREY;
    padding-top: 100px;
    font-size: 26px;
  }
  .block-list {
    position: relative;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 48px;
  }
  .block-item {
    display: inline-block;
    vertical-align: top;
    width:430px;
    height:200px;
    text-align: left;
  }
  .separator {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 150px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      right: 50%;
      background: rgba(189, 199, 204, 0.2);
    }
  }
  .block-icon {
    float: left;
    width: 160px;
    height: 100%;
    background-repeat: no-repeat;
    &.doc-icon {
      background-image: url(./img/ic-video.png);
      background-position: 10px top;
    }
    &.video-icon {
      background-image: url(./img/video.svg);
    }
  }
  .block-text {
    float: left;
    width: 270px;
    h2 {
      font-family: $FONT-LIGHT;
      color: $COLOR-TOPAZ;
      margin-top: 15px;
      font-size: 22px;
    }
    p {
      line-height: 1.6;
      margin-top: 25px;
    }
    a {
      color: $COLOR-TEALISH;
      text-decoration: none;
      display: inline-block;
      margin-top: 23px;
      &:hover{
        color: $COLOR-TOPAZ;
      }
      &:after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 10px;
        background: url(../../../../common/img/next.svg) no-repeat;
        margin-left: 7px;
      }
    }
  }
  @media (max-width: 1000px) {
    .separator {
      display: none;
    }
  }
  @media (max-width: $MOBILE-INTERFACE-WIDTH) {
    padding-bottom: 0;
    .h1 {
      font-size: 22px;
      padding-top: 43px;
    }
    .block-list {
      margin-top: 40px;
    }
    .block-item {
      position: relative;
      width: 300px;
      height: 190px;
    }
    .block-icon {
       position: absolute;
       width: 64px;
       background-size: contain;
       background-position: center top;
      height: 64px;
      &.doc-icon {
        background-position: center top;
      }
     }
    .block-text {
      h2 {
        padding-left: 80px;
        font-size: 20px;
        margin-top: 23px;
        margin-bottom: 29px;
      }
      a {
        margin-top: 12px;
      }
    }
  }
}
