.modal-backdrop(data-js-backdrop)
.content(id='ask-service-modal', data-js-content)
  button.close(data-js-cancel)
  h2.head Subscribe for the consultation
  .text-block
    p.text.
      Thank you for subscription!
  .text-block
    p.text We will contact you within a few days and provide all details regarding support packages or other necessary information.
  .btn-block
    button.send-btn(id='send-btn', data-js-send) Ok

