.header {
  position: fixed;
  width: 100%;
  height: 60px;
  background: $COLOR-WHITE_TWO;
  font-family: $FONT-REGULAR;
  box-shadow: 0 1px 2px 0 rgba(189, 199, 204, 0.41);
  z-index: 10;
  .header-content {
    position: relative;
    width: 1000px;
    padding-top: 15px;
    margin: 0 auto;

    @media (max-width: $SCREEN_SM_MAX) {
      width: 100%;
    }
  }
  .button-sidebar-open {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    width: 60px;
    height: 60px;
    padding: 20px 15px;


    .sidebar-icon-part {
      width: 100%;
      height: 3px;
      background: $COLOR-TEALISH;
      margin-bottom: 5px;
    }
  }
  .logo {
    float: left;
    width: 141px;
    height: 23px;
    margin: 5px 0 0 30px;
    background: url(img/logo.svg) center no-repeat;

    @media (max-width: $SCREEN_XS_MAX) {
      float: none;
      margin: 0 auto;
    }
  }
  .right-block {
    float: right;
    margin-right: 30px;

    @media (max-width: $SCREEN_XS_MAX) {
      display: none;
    }

    & > * {
      float: right;
    }

    .rp-button {
      @media (max-width: $SCREEN_SM_MAX) {
        display: none;
      }
    }
  }
  .menu-item {
    padding: 8px 0;
    font-size: 15px;
    color: $COLOR-STEEL-GREY;
    cursor: pointer;
    text-align: center;
    &.menu-item__index {
      width: 110px;
    }
    &.menu-item__documentation {
      width: 150px;
    }
    &.active {
      font-family: $FONT-HEADER;
    }
  }
}
