.header-content-wrapper
  .header-content
    .button-sideblock-icon-open(data-js-toggle-sideblock)
      .sideblock-icon-open-part
      .sideblock-icon-open-part
      .sideblock-icon-open-part
    .logo(data-js-logo)
      img(src=require("./img/logo.svg"))
    .right-block
      a.try-demo(href='http://web.demo.reportportal.io' target="_blank") Try demo
      .icons-block(data-js-social-container)
      .git.social(data-js-top-github-stars-container, data-js-href="https://github.com/reportportal/reportportal")
      a.menu-item.menu-item__community(data-js-link="community", href="/community") Community
      a.menu-item(data-js-link="releases", href="/releases") Releases
      a.menu-item(data-js-link="docs", href="/docs") Docs
      a.menu-item(data-js-link="installation", href="/installation") Install
      a.menu-item(data-js-link="features", href="/features") Features
.side-content
  .top-block
    .title MENU
    .menu-item.menu-item__features(data-js-link="features") Features
    .menu-item.menu-item__index(data-js-link="installation") Installation
    .menu-item.menu-item__documentation(data-js-link="docs") Documentation
    .menu-item.menu-item__releases(data-js-link="releases") Releases
    .menu-item.menu-item__community(data-js-link="community") Community
  .bottom-block
    .title SHARE
    .icons-block
      .row
        .git.social(data-js-github-stars-container, data-js-href="https://github.com/reportportal/reportportal")
        .slack.social(data-js-href="https://reportportal-slack-auto.herokuapp.com/")
        .facebook.social(data-js-href="https://www.facebook.com/ReportPortal.io")
      .row
        .twitter.social(data-js-href="http://twitter.com/ReportPortal_io")
        .youtube.social(data-js-href="http://youtube.com/c/ReportPortalCommunity")
        .vk.social(data-js-href="https://vk.com/reportportal_io")
        .mail.social(data-js-href="mailto:support@reportportal.io")
.side-content-close(data-js-side-content-close)
