.header-content-wrapper
  .header-content
    .button-sideblock-icon-open(data-js-toggle-sideblock)
      .sideblock-icon-open-part
      .sideblock-icon-open-part
      .sideblock-icon-open-part
    .logo
    .right-block
      button.rp-button(data-js-fork-button) <svg aria-hidden="true" height="28" version="1.1" viewBox="0 0 16 16" width="28"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg><span>Fork Me on GitHub</span>
      .social-block(data-js-social-container)
      span.menu-item.menu-item__documentation(data-js-link="documentation") Documentation
      span.menu-item.menu-item__index(data-js-link="") Overview
.side-content
  .top-block
    .title MENU
    .menu-item.menu-item__index(data-js-link="") Overview
    .menu-item.menu-item__documentation(data-js-link="documentation") Documentation
  .bottom-block
    .title SHARE
    .social-block
      .row
        .git.social(data-js-github-stars-container, data-js-href="https://github.com/reportportal/reportportal")
        .slack.social(data-js-href="https://reportportal.slack.com/")
        .facebook.social(data-js-href="https://www.facebook.com/ReportPortal.io")
      .row
        .twitter.social(data-js-href="http://twitter.com/ReportPortal_io")
        .youtube.social(data-js-href="https://www.youtube.com/channel/UCsZxrHqLHPJcrkcgIGRG-cQ")
        .vk.social(data-js-href="https://vk.com/reportportal_io")
    button.rp-button(data-js-fork-button) <svg aria-hidden="true" height="28" version="1.1" viewBox="0 0 16 16" width="28"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg><span>Fork on GitHub</span>
.side-content-close(data-js-side-content-close)
