@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.latest-from-our-blog {
  margin-bottom: 247px;

  &__title {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(x4-medium);

    margin: 0 0 calc(3 * var(--base-spacing));
    text-align: center;
    color: var(--text-primary);

    @include m.breakpoint(v.$tablet-sm-exact) {
      @include m.font-scale(large);

      margin-bottom: calc(4 * var(--base-spacing));
      text-align: left;
    }

    @include m.breakpoint(v.$desktop-sm) {
      @include m.font-scale(x3-large);

      margin-bottom: calc(6 * var(--base-spacing));
      text-align: center;
    }
  }

  .container {
    padding: calc(2 * var(--base-spacing));
    overflow: auto;
    scrollbar-width: none;

    @include m.breakpoint(v.$tablet-sm-exact) {
      padding: calc(3 * var(--base-spacing));
    }
  }

  .article-preview-list {
    @include m.hide-scroll();

    display: flex;
    overflow: scroll;

    .article-preview-item {
      flex-shrink: 0;
      width: 270px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        width: 384px;
      }
    }
  }
}
