@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/mixins/breakpoint';
@import 'src/styles/variables';


.faq_content_item {
  //border-bottom: 3px solid #e4e8f1;
  border-bottom: 1px solid #e4e8f1;
  line-height: 16px;
  //padding: 40px 0 22px 0;
  padding: 16px 0 1px 0;
  margin-left: 8px;

  @include breakpoint($tablet-sm-exact) {
    padding: 16px 0 1px 0;
  }


  .faq_content_item_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0 22px;

    @include breakpoint($tablet-sm-exact) {
      align-items: center;
    }

    h1 {
      @include font-poppins($fw-semi-bold);
      @include font-scale();

      padding-left: 16px;
      color: #222b45;
      line-height: 24px;
      margin: 0;
    }

    img {
      height: 24px;
      width: 24px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .faq_content_item_description {
    p {
      @include font-noto-sans();
      @include font-scale();

      padding-left: 16px;
      color: #222b45;

      @include breakpoint($tablet-sm-exact) {
        margin-top: -8px;
        margin-bottom: 28px;
        line-height: 24px;
      }

      @include breakpoint($desktop-sm) {
        margin-top: -8px;
      }
    }
  }

  .arrowshown {
    transform: rotate(-90deg);
  }

  .collapsed {
    display: none;
  }

  .shown {
    display: block;
    color: #8791AB;
  }
}
