@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.article-preview-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: calc(4 * var(--base-spacing)) calc(3 * var(--base-spacing));
}
