@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.article-preview-list {
  display: grid;
  grid-template-columns: fit-content(328px);
  grid-gap: calc(4 * var(--base-spacing)) calc(3 * var(--base-spacing));
  margin: -25px;
  padding: 25px;

  @include m.breakpoint(v.$tablet-sm-exact) {
    grid-template-columns: repeat(2, 348px);
  }

  @include m.breakpoint(v.$desktop-sm) {
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
