@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: calc(4 * var(--base-spacing)) calc(3 * var(--base-spacing));
}

.article-item {
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 45, 55, 0.12);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;

  &__featured-image {
    border-top-left-radius: calc(2 * var(--base-spacing));
    border-top-right-radius: calc(2 * var(--base-spacing));
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: calc(3 * var(--base-spacing));

    &__category {
      @include m.font-poppins(v.$fw-semi-bold);
      @include m.font-scale(small);

      color: var(--text-service);
      letter-spacing: 1px;
      margin: 0;
      text-transform: uppercase;
    }

    &__link {
      text-decoration: none;
    }

    &__link:hover {
      h2 {
        border-bottom-color: var(--color-primary-500);
      }
    }

    &__title {
      @include m.font-poppins(v.$fw-semi-bold);
      @include m.font-scale(medium);

      display: inline-block;
      margin: calc(2 * var(--base-spacing)) 0;
      border-bottom: 1.5px solid transparent;
    }

    &__meta {
      display: flex;
      justify-content: space-between;
    }

    &__excerpt {
      flex-grow: 1;
      margin: 0;
    }
  }
}
