@import '../../styles/mixins/font';

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: calc(4 * var(--base-spacing)) calc(3 * var(--base-spacing));
}

.article-item {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 45, 55, 0.12);
  color: #2f3c5f;
  display: flex;
  flex-direction: column;

  &-featured-image {
    border-top-left-radius: calc(2 * var(--base-spacing));
    border-top-right-radius: calc(2 * var(--base-spacing));
    overflow: hidden;
  }

  &-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: calc(2 * var(--base-spacing));

    &-category {
      @include font-poppins($fw-semi-bold);

      color: var(--text-service);
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &--excerpt {
      flex-grow: 1;
    }
  }
}

.article-author {
  @include font-poppins($fw-medium);

  color: var(--text-service);
  display: flex;
  margin-bottom: 0;
}

.article-item {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 45, 55, 0.12);
  color: #2f3c5f;

  &-featured-image {
    border-top-left-radius: calc(2 * var(--base-spacing));
    border-top-right-radius: calc(2 * var(--base-spacing));
    overflow: hidden;
  }

  &-content {
    padding: calc(2 * var(--base-spacing));
  }
}

.article-author {
  @include font-poppins($fw-medium);

  color: var(--text-service);
  display: flex;
  margin-bottom: 0;
}

.title {
  @include font-poppins($fw-semi-bold);
  display: inline-block;
  font-size: 20px;
  margin-bottom: var(--space-xs);
  margin-top: var(--space-lg);
  border-bottom: 1.5px solid transparent;
}

.link {
  text-decoration: none;
}

.link:hover .title {
  border-bottom-color: var(--color-primary-500);
}

.meta {
  display: flex;
  justify-content: space-between;
}
