@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.footer {
  @include m.font-poppins();
  @include m.font-scale(small);

  position: relative;
  z-index: var(--z-index);
  border-top: 1px solid var(--purple-grey);
  padding-top: 50px;
  padding-bottom: 48px;
  background: var(--bg-light-grey);
  color: var(--text-service);

  @include m.breakpoint(v.$tablet-sm-exact) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @include m.breakpoint(v.$desktop-sm) {
    padding-top: 120px;
    padding-bottom: 76px;
  }

  .new-year-mode & {
    background: url('./icons/new-year-background.inline.svg');
    background-size: cover;

    @include m.breakpoint(v.$desktop-sm) {
      background-position: center 0;
    }

    &::after {
      position: absolute;
      top: -15px;
      z-index: -1;
      width: 100%;
      height: 38px;
      background: url('./icons/new-year-background-snow.inline.svg');
      content: '';

      @include m.breakpoint(v.$desktop-md) {
        background-size: cover;
      }
    }
  }

  #footer-content:not(:empty) {
    margin-top: -50px;
    transform: translateY(-50%);

    @include m.breakpoint(v.$tablet-sm-exact) {
      margin-top: -64px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      margin-top: -120px;
    }
  }

  &__logo {
    display: flex;
  }

  &__legal,
  &__secondary {
    @include m.breakpoint(v.$desktop-sm) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__navigation {
    @include m.breakpoint(v.$desktop-sm) {
      display: flex;
      row-gap: 24px;
    }
  }

  &__purpose {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @include m.breakpoint(v.$desktop-sm) {
      flex-shrink: 0;
      row-gap: 32px;
      width: 384px;
      padding-right: 84px;
    }
  }

  &__purpose,
  &__list {
    line-height: 24px;
  }

  &__list {
    margin-top: 48px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      margin-top: 80px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      margin-top: 0;
    }

    h4 {
      margin: 0;
      text-transform: uppercase;
      color: var(--text-light-grey);
      font-weight: v.$fw-semi-bold;
    }

    svg {
      margin-left: 7px;
    }

    ul {
      margin-top: 24px;

      @include m.breakpoint(v.$desktop-sm) {
        margin-top: 48px;
      }
    }

    li {
      margin-top: 16px;
      font-weight: v.$fw-medium;

      @include m.breakpoint(v.$tablet-sm-exact) {
        margin-top: 32px;
      }
    }
  }

  &__navigation-links {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 1fr);

    @include m.breakpoint(v.$tablet-sm-exact) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 24px;
    }
  }

  .ant-divider {
    margin: 50px 0;
    border-color: var(--purple-grey);

    @include m.breakpoint(v.$tablet-sm-exact) {
      margin: 64px 0;
    }

    .new-year-mode & {
      border-color: var(--text-light-grey);
    }
  }

  &__license {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include m.breakpoint(v.$tablet-sm-exact) {
      flex-direction: row;
      gap: 4px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      justify-content: start;
      width: 384px;
    }

    a {
      font-weight: v.$fw-medium;
    }
  }

  &__terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    margin-top: 32px;
    font-weight: v.$fw-medium;

    @include m.breakpoint(v.$tablet-sm-exact) {
      flex-direction: row;
      column-gap: 32px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      column-gap: 36px;
      margin-top: 0;
    }
  }

  &__other-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @include m.breakpoint(v.$desktop-sm) {
      flex-direction: row;
      gap: 48px;
    }

    a {
      position: relative;
      display: flex;

      &:hover::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--hover-icon);
        content: '';
      }
    }
  }

  &__social-links {
    display: flex;
    justify-content: center;
    column-gap: 26px;
    margin-top: 32px;

    @include m.breakpoint(v.$desktop-sm) {
      margin-top: 0;
    }
  }
}
