.generate-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  .modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(70, 69, 71, 0.3);
    transition: opacity .15s linear;
    opacity: 0;
  }
  .content {
    position: relative;
    margin: 10px auto;
    background-color: #fff;
    width: 1000px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    transform: translate(0, -100px);
    opacity: 0;
    transition: transform .3s ease-out, opacity .15s ease-out;
    padding: 60px 200px;
    .hide{
      display: none;
    }
    .close{
      width: 20px;
      height: 20px;
      border: none;
      background: transparent;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      &::before,&::after{
        content: '';
        display: inline-block;
        width: 20px;
        height: 2px;
        background: $COLOR-GRAY-60;
      }
      &::before{
        transform: rotate(45deg);
        position: absolute;
        left: 0;
      }
      &::after{
        transform: rotate(-45deg);
        position: absolute;
        right: 0;
      }
    }
    .generate-head{
      font-family: $FONT-REGULAR;
      font-size: 32px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.19;
      letter-spacing: normal;
      text-align: center;
      color: $COLOR-STEEL-GREY;
      margin-bottom: 50px;
    }
    label{
      font-family: $FONT-REGULAR;
      font-size: 14px;
      color: $COLOR-CHARCOAL-GREY;
      display: inline-block;
      &.version{
        margin-bottom: 3px;
      }
      span{
        font-family: $FONT-REGULAR;
        font-size: 14px;
        font-weight: bold;
        font-weight: bold;
        margin-left: 20px;
      }
    }
    .section{
      margin: 30px 0 15px 0;
      position: relative;
      .field{
        margin-top: 10px;
      }
      &.other{
        margin-top: 28px;
        .field{
          margin-bottom: 30px;
          label{
            font-size: 13px;
            color: $COLOR-CHARCOAL-GREY;
          }
          &.session{
            input{
              width: 120px;
              padding-left: 60px;
              height: 19px;
              box-sizing: content-box;
            }
            &::before{
              content: 'sec';
              display: inline-block;
              position: absolute;
              margin-top: 24px;
              margin-left: 1px;
              padding: 0 13px;
              line-height: 39px;
              color: #777777;
              background: #f5f5f5;
            }
          }
          .switcher{
            .rp-switcher-big{
              position: relative;
              font-weight: normal;
              cursor: pointer;
              width: 100px;
              height: 40px;
              background-color: $COLOR-WHITE_TWO;
              border: solid 1px $COLOR-GRAY-80;
              span{
                margin: 0;
                display: block;
                float: left;
                height: 100%;
                width: 50%;
                text-align: center;
                line-height: 40px;
                color: #ffffff;
                font-family: $FONT-LIGHT;
                text-transform: uppercase;
                font-size: 12px;
              }
              .turn-on {
                background-color: #a2c749;
              }
              .turn-off {
                background-color: #999999;
              }
              input {
                display: none;
              }
              input:checked + .slider {
                transform: translate(100%, 0);
              }
              .slider {
                position: absolute;
                width: 50%;
                height: 100%;
                background: #ffffff;
                outline: 1px solid #cccccc;
                transition: transform 0.5s ease;
              }
            }
          }
        }
      }
      & > .field{
        margin-bottom: 0;
      }
      &::before{
        content: '';
        width: 100%;
        height: 1px;
        background: $COLOR-STEEL-GREY;
        position: absolute;
        opacity: 0.3;
        top: 16px;
      }
      .section-name{
        position: relative;
        font-family: $FONT-REGULAR;
        font-size: 14px;
        line-height: 2.29;
        text-transform: uppercase;
        color: $COLOR-STEEL-GREY;
        background: $COLOR-WHITE_TWO;
        padding-right: 20px;
        display: inline-block;
      }
      .db-settings{
        .field{
          margin-top: 11px;
        }
      }
      .block{
        width: 280px;
        display: inline-block;
        &.right{
          float: right;
        }
        .field:nth-child(3){
          margin-bottom: 0;
        }
      }
    }
    .integrate{
      .field{
        padding-left: 10px;
      }
    }
    .field{
      margin: 15px 0;
      label{
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        margin-bottom: 5px;
      }
      input::-webkit-input-placeholder {color:$COLOR-GRAY-60;}
      input::-moz-placeholder          {color:$COLOR-GRAY-60;}
      input:-moz-placeholder           {color:$COLOR-GRAY-60;}
      input:-ms-input-placeholder      {color:$COLOR-GRAY-60;}
      input{
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 10px;
        font-family: $FONT-REGULAR;
        font-size: 14px;
        color: $COLOR-CHARCOAL-GREY;
        border: solid 1px #cccccc;
      }
      .radio{
        margin-top: 10px;
        display: inline-block;
        &:first-child{
          margin-right: 23px;
        }
        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
          display: none;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
          position: relative;
          padding-left: 40px;
          cursor: pointer;
          line-height: 20px;
          display: inline-block;
          color: #666;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 22px;
          height: 22px;
          border: 1px solid $COLOR-GRAY-60;
          border-radius: 100%;
          background: #fff;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
          content: '';
          width: 16px;
          height: 16px;
          background: $COLOR-TOPAZ;
          position: absolute;
          top: 4px;
          left: 4px;
          border-radius: 100%;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        [type="radio"]:checked + label:after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      .integration{
        margin-top: 10px;
        display: inline-block;
        input{
          display: none;
        }
        &:first-child{
          margin-right: 38px;
        }
        label{
          position: relative;
          vertical-align: middle;
          display: inline-block;
          margin-bottom: 0;
          &[for]{
            cursor: pointer;
          }
        }
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
          cursor: pointer;
          content: '';
          width: 22px;
          height: 22px;
          margin-right: 15px;
          display: block;
          border-radius: 2px;
          background-color: $COLOR-WHITE_TWO;
          -webkit-transition: background-color 0.2s ease;
          transition: background-color 0.2s ease;
          border: solid 1px $COLOR-GRAY-60;
        }
        [type="checkbox"]:checked + label:before{
          background: $COLOR-TOPAZ;
          -webkit-transition: background 0.2s ease;
          transition: background 0.2s ease;
        }
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
          content: '';
          cursor: pointer;
          position: absolute;
          top: 5px; left: 2px;
          font-size: 1.4em;
          line-height: 0.8;
          color: #09ad7e;
          width: 20px;
          height: 20px;
        }
        [type="checkbox"]:checked + label:after{
          background: url('./img/ic_check.svg');
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .selectize-control{
        .selectize-input{
          padding: 10px;
          border-radius: 0;
          box-shadow: none;
          border: solid 1px $COLOR-GRAY-80;
          &::before{
            content: '';
            position: absolute;
            background-color: #f5f5f5;
            right: 0;
            width: 40px;
            height:38px;
            top: 0;
            cursor: pointer;
          }
          &::after{
            cursor: pointer;
          }
          &.dropdown-active{
            &::before{
              right: 0;
            }
          }
        }
      }
    }
    .button-section{
      width: 360px;
      margin: 5px auto 0 auto;
      button{
        cursor: pointer;
        font-family: $FONT-REGULAR;
        font-size: 16px;
        color: $COLOR-WHITE_TWO;
        width: 160px;
        text-align: center;
        padding: 7px 0 11px 0;
        border: none;
        border-radius: 3px;
        &.cancel{
          background-color: #a8a8a8;
          margin-right: 40px;
          &:hover{
            background-color: lighten(#a8a8a8, 5%);
          }
        }
        &.generate{
          background-color: #fb7848;
          &:hover{
            background-color: lighten(#fb7848, 5%);
          }
        }
      }
    }
  }
  &.show {
    .modal-backdrop {
      opacity: .8;
    }
    .content {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}

