.generate-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  .modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(70, 69, 71, 0.3);
    transition: opacity .15s linear;
    opacity: 0;
  }
  .content {
    position: relative;
    margin: 10px auto;
    background-color: #fff;
    width: 1000px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    transform: translate(0, -100px);
    opacity: 0;
    transition: transform .3s ease-out, opacity .15s ease-out;
    padding: 60px 200px;
    .hide{
      display: none;
    }
    .close{
      width: 20px;
      height: 20px;
      border: none;
      background: transparent;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      &::before,&::after{
        content: '';
        display: inline-block;
        width: 20px;
        height: 2px;
        background: $COLOR-GRAY-60;
      }
      &::before{
        transform: rotate(45deg);
        position: absolute;
        left: 0;
      }
      &::after{
        transform: rotate(-45deg);
        position: absolute;
        right: 0;
      }
    }
    .generate-head{
      font-family: $FONT-REGULAR;
      font-size: 32px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.19;
      letter-spacing: normal;
      text-align: center;
      color: $COLOR-STEEL-GREY;
      margin-bottom: 50px;
    }
    label{
      font-family: $FONT-REGULAR;
      font-size: 14px;
      color: $COLOR-CHARCOAL-GREY;
      display: inline-block;
      span{
        font-family: $FONT-REGULAR;
        font-size: 14px;
        font-weight: bold;
        margin-left: 20px;
      }
    }
    .section{
      margin: 30px 0 15px 0;
      position: relative;
      &.other{
        margin-top: 30px;
        .field{
          margin-bottom: 30px;
          label{
            font-size: 13px;
            color: $COLOR-CHARCOAL-GREY;
          }
          &.session{
            input{
              width: 180px;
              padding-left: 60px;
            }
            &::before{
              content: 'sec';
              display: inline-block;
              position: absolute;
              margin-top: 36px;
              margin-left: 15px;
              color: $COLOR-GRAY-47;
            }
          }
          .slider{
            width: 100px;
            height: 40px;
            background-color: $COLOR-WHITE_TWO;
            border: solid 1px $COLOR-GRAY-80;
            input{
              display: none;
            }
            label{
              width: 49px;
              height: 40px;
              background-color: #a2c749;
              font-family: $FONT-LIGHT;
              font-size: 12px;
              cursor: pointer;
              font-weight: 600;
              text-align: center;
              text-transform: uppercase;
              color: $COLOR-WHITE_TWO;
              line-height: 40px;
              &:hover{
                background-color: darken(#a2c749, 5%);
              }
            }
            [checked] + label{
              transform: translate(0, 0);
              transition-property: transform;
              transition-duration: 0.5s;
            }
            input:not(:checked) + label{
              transform: translate(52px, 0);
              transition-property: transform;
              transition-duration: 0.5s;
              background: $COLOR-GRAY-60;
              &:hover{
                background-color: darken($COLOR-GRAY-60, 5%);
              }
            }
          }
        }
      }
      & > .field{
        margin-bottom: 0;
      }
      &::before{
        content: '';
        width: 100%;
        height: 1px;
        background: $COLOR-STEEL-GREY;
        position: absolute;
        opacity: 0.3;
        top: 16px;
      }
      .section-name{
        position: relative;
        font-family: $FONT-REGULAR;
        font-size: 14px;
        line-height: 2.29;
        text-transform: uppercase;
        color: $COLOR-STEEL-GREY;
        background: $COLOR-WHITE_TWO;
        padding-right: 20px;
        display: inline-block;
      }
      .block{
        width: 280px;
        display: inline-block;
        &.right{
          float: right;
        }
        .field:nth-child(3){
          margin-bottom: 0;
        }
      }
    }
    .field{
      margin: 15px 0;
      label{
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        margin-bottom: 5px;
      }
      input::-webkit-input-placeholder {color:$COLOR-GRAY-60;}
      input::-moz-placeholder          {color:$COLOR-GRAY-60;}
      input:-moz-placeholder           {color:$COLOR-GRAY-60;}
      input:-ms-input-placeholder      {color:$COLOR-GRAY-60;}
      input{
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 10px;
        font-family: $FONT-REGULAR;
        font-size: 14px;
        color: $COLOR-CHARCOAL-GREY;
        border: solid 1px #cccccc;
      }
      .radio{
        margin-top: 10px;
        display: inline-block;
        &:first-child{
          margin-right: 30px;
        }
        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
          display: none;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
          position: relative;
          padding-left: 40px;
          cursor: pointer;
          line-height: 20px;
          display: inline-block;
          color: #666;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 22px;
          height: 22px;
          border: 1px solid $COLOR-GRAY-60;
          border-radius: 100%;
          background: #fff;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
          content: '';
          width: 16px;
          height: 16px;
          background: $COLOR-TOPAZ;
          position: absolute;
          top: 4px;
          left: 4px;
          border-radius: 100%;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        [type="radio"]:checked + label:after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      .integration{
        margin-top: 10px;
        display: inline-block;
        input{
          display: none;
        }
        &:first-child{
          margin-right: 30px;
        }
        label{
          position: relative;
          vertical-align: middle;
          display: inline-block;
          margin-bottom: 0;
          &[for]{
            cursor: pointer;
          }
        }
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
          cursor: pointer;
          content: '';
          width: 24px;
          height: 24px;
          margin-right: 15px;
          display: block;
          border-radius: 2px;
          background-color: $COLOR-WHITE_TWO;
          border: solid 1px $COLOR-GRAY-60;
        }
        [type="checkbox"]:checked + label:before{
          background: $COLOR-TOPAZ;
        }
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
          content: '';
          cursor: pointer;
          position: absolute;
          top: 5px; left: 4px;
          font-size: 1.4em;
          line-height: 0.8;
          color: #09ad7e;
          transition: all .2s;
          width: 16px;
          height: 8px;
          border-left: 3px solid $COLOR-WHITE_TWO;
          border-bottom: 3px solid $COLOR-WHITE_TWO;
          transform: rotate(-45deg);
        }
      }
      select{
        display: none;
      }
      .select-hidden {
        display: none;
        visibility: hidden;
        padding-right: 10px;
      }
      .select {
        cursor: pointer;
        display: inline-block;
        position: relative;
        font-size: 16px;
        width: 100%;
      }
      .select-styled {
        border: solid 1px #cccccc;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        font-family: $FONT-REGULAR;
        font-size: 14px;
        color: $COLOR-CHARCOAL-GREY;
        line-height: 18px;
        &:after {
          content:"";
          width: 0;
          height: 0;
          border: 7px solid transparent;
          border-color: #999999 transparent transparent transparent;
          position: absolute;
          top: 16px;
          right: 10px;
        }
        &:active, &.active {
          &:after {
            top: 9px;
            border-color: transparent transparent #999999 transparent;
          }
        }
      }
      .select-options {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $COLOR-WHITE_TWO;
        border-bottom: solid 1px #cccccc;
        li {
          margin: 0;
          text-indent: 15px;
          padding: 10px 0;
          font-size: 14px;
          border-right:solid 1px #cccccc;
          border-left: solid 1px #cccccc;
          &:hover {
            background: lighten($COLOR-TEALISH,40%);;
          }
          &[rel="hide"] {
            display: none;
          }
        }
      }
    }
    .button-section{
      width: 360px;
      margin: 5px auto 0 auto;
      button{
        cursor: pointer;
        font-family: $FONT-REGULAR;
        font-size: 16px;
        color: $COLOR-WHITE_TWO;
        width: 160px;
        text-align: center;
        padding: 7px 0 11px 0;
        border: none;
        border-radius: 3px;
        &.cancel{
          background-color: #a8a8a8;
          margin-right: 40px;
          &:hover{
            background-color: lighten(#a8a8a8, 5%);
          }
        }
        &.generate{
          background-color: #fb7848;
          &:hover{
            background-color: lighten(#fb7848, 5%);
          }
        }
      }
    }
  }
  &.show {
    .modal-backdrop {
      opacity: .8;
    }
    .content {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}
