@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/variables';
@import 'src/styles/mixins/breakpoint';

.card {
  position: relative;
  width: 100%;
  max-width: 387px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 16px rgba(16, 46, 52, 0.1);
  background: var(--white);
  
  @include breakpoint($desktop-sm) {
    padding-bottom: 160px;
  }

  &:hover {
    box-shadow: 0px 8px 24px rgba(57, 109, 120, 0.12);
  }

  &__popular {
    @include font-poppins($fw-semi-bold);
    @include font-scale(small);

    position: absolute;
    top: -15px;
    left: 50%;
    border-radius: 15px;
    padding: 4px 30px;
    transform: translateX(-50%);
    background: var(--graphics-amber);
    text-transform: uppercase;
    text-align: center;
    color: var(--white);    
    z-index: 2;
  }

  &__title {
    @include font-poppins($fw-semi-bold);
    @include font-scale(x3-medium);

    color: var(--dark);
    text-align: center;

    @include breakpoint($tablet-sm) {
      @include font-scale(large);
      @include font-poppins($fw-bold);
    }
  }

  &__description {
    @include font-noto-sans(base);

    margin-bottom: 40px;
    text-align: center;
    color: vat(--text-primary);
  }

  &__price {
    @include font-noto-sans(base);

    margin-bottom: 25px;
    color: vat(--text-primary);

    span {
      @include font-scale(large);
      @include font-poppins($fw-bold);

      display: inline-block;
      margin-right: 5px;
    }
  }

  &__bottom-panel {
    position: static;
    text-align: center;

    @include breakpoint($desktop-sm) {
      position: absolute;
      left: 30px;
      bottom: 30px;
      right: 30px;
    }
  }

  ul {
    position: relative;
    margin-bottom: 50px;
    padding: 0 15px;
    list-style: none;

    li {
      @include font-poppins($fw-medium);
      @include font-scale(base);

      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
      color: var(--text-primary);

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 5px;        
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: var(--gradient-primary);
      }
    }
  }

  .btn {
    width: 100%;
    margin: 0 auto;
  }
}
