@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/variables';
@import 'src/styles/mixins/breakpoint';

.pricing-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
  width: 100%;
  max-width: 387px;
  padding: 30px;
  border-radius: 15px;
  background: var(--white);
  box-shadow: 0px 4px 16px rgba(16, 46, 52, 0.1);
  transition: box-shadow 0.4s ease-out;

  @include breakpoint($phone) {
    height: 630px;
  }

  &:hover {
    box-shadow: 0px 8px 24px rgba(57, 109, 120, 0.3);
  }

  &__popular {
    @include font-poppins($fw-semi-bold);
    @include font-scale(small);

    position: absolute;
    top: -15px;
    left: 50%;
    border-radius: 15px;
    padding: 4px 30px;
    transform: translateX(-50%);
    background: var(--graphics-amber);
    text-transform: uppercase;
    text-align: center;
    color: var(--white);    
    z-index: 2;
  }

  &__title {
    @include font-poppins($fw-semi-bold);
    @include font-scale(x3-medium);

    text-align: center;
    color: var(--dark);

    @include breakpoint($tablet-sm) {
      @include font-scale(large);
      @include font-poppins($fw-bold);
    }
  }

  &__description {
    @include font-noto-sans(base);

    height: 80px;
    margin-top: 8px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.5;
    color: var(--text-primary);
    white-space: pre-wrap;
  }

  &__price {
    @include font-noto-sans(base);

    margin-bottom: 18px;
    color: vat(--text-primary);

    span {
      @include font-scale(large);
      @include font-poppins($fw-bold);

      display: inline-block;
      margin-right: 5px;
    }
  }

  &__bottom-panel {
    text-align: center;
  }

  ul {
    position: relative;
    margin: 0;
    margin-bottom: 50px;
    padding: 0 15px;
    list-style: none;

    @include breakpoint ($phone) {
      margin: 0 18px;
      margin-bottom: 35px;
    }

    li {
      @include font-poppins($fw-medium);
      @include font-scale(base);

      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
      color: var(--text-primary);
      line-height: 24px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 5px;        
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: var(--gradient-primary);
      }
    }
  }

  .btn {
    width: 100%;
    margin: 0 auto;
  }
}
