@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/variables';
@import 'src/styles/mixins/breakpoint';

.organizations {

  &-title {
    @include font-poppins($fw-bold);
    @include font-scale(large);

    margin-top: 160px;
    margin-bottom: 40px;
    text-align: center;
    color: var(--text-primary);

      @include breakpoint($desktop-sm) {
        margin-top: 240px;
      }
  }



}
