.footer-content
  .right-block
    span You can <a href="mailto:support@reportportal.io">contacts us</a> or get in touch with us on social:
    .icon-block
      .item-icon.icon-fb(data-js-href="https://www.facebook.com/ReportPortal.io")
      .item-icon.icon-tw(data-js-href="http://twitter.com/ReportPortal_io")
      .item-icon.icon-yt(data-js-href="https://www.youtube.com/channel/UCsZxrHqLHPJcrkcgIGRG-cQ")
      .item-icon.icon-vk(data-js-href="https://vk.com/reportportal_io")
      .item-icon.icon-sl(data-js-href="https://reportportal.slack.com/")
      .item-icon.icon-gh(data-js-href="https://github.com/reportportal/reportportal")
  span.copy
    | © 2017
    div.epam-logo(data-js-epam-logo)
    | Report Portal. All Rights Reserved.
