.footer {
  width: 100%;
  background: #f2f5f5;
  padding-top: 26px;
  padding-bottom: 10px;
  .footer-content {
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .copyright-block{
    overflow: hidden;
    margin-top: 25px;
    font-size: 11px;
    color: $COLOR-CHARCOAL-GREY;
    .copy {
      display: inline-block;
      float: left;
      .epam-logo {
        display: inline-block;
        width: 40px;
        height: 15px;
        vertical-align: middle;
        margin: 0 5px;
        background: url(./img/epamLogo.svg) center no-repeat;
        cursor: pointer;
      }
    }
    .friends{
      float: right;
      .jfrog{
        background: url(./img/jfrog.svg);
        background-size: contain;
        width: 75px;
        height: 20px;
        display: inline-block;
        background-repeat: no-repeat;
        vertical-align: text-top;
        margin-left: 2px;
      }
    }
  }
  .socials-block {
    span {
      font-size: 14px;
      a {
        text-decoration: none;
        color: $COLOR-TEALISH;
      }
    }
  }
  .icon-block {
    display: inline-block;
    .item-icon {
      display: inline-block;
      margin-left: 17px;
    }
  }
  @media (max-width: 900px) {
    height: 100px;
    .right-block {
      float: none;
      margin: 0 auto;
      display: block;
      text-align: center;
      padding-top: 25px;
    }
    .copy {
      float: none;
      margin: 0 auto;
      display: block;
      text-align: center;
      padding-top: 18px;
    }
  }
  @media (max-width: 600px) {
    height: 150px;
    .icon-block {
      display: block;
      margin-top: 25px;
      .item-icon {
        margin: 0 15px;
      }
    }
    .copy {
      width: 290px;
      text-align: left;
      padding-top: 30px;
    }
  }
}
