.footer-content
  .right-block
    span You can <a href="mailto:SupportEPMC-TSTReportPortal@epam.com?subject=Report%20Portal%20Support">Contacts us</a> or keep in touch with us:
    .social-block
      .social-icon.icon-fb(data-js-href="https://www.facebook.com/ReportPortal.io")
      .social-icon.icon-tw(data-js-href="http://twitter.com/ReportPortal_io")
      .social-icon.icon-yt(data-js-href="https://www.youtube.com/channel/UCsZxrHqLHPJcrkcgIGRG-cQ")
      .social-icon.icon-vk(data-js-href="https://vk.com/reportportal_io")
      .social-icon.icon-sl(data-js-href="https://reportportal.slack.com/")
      .social-icon.icon-gh(data-js-href="https://github.com/reportportal/reportportal")
  span.copy © 2017 Report Portal. All Rights Reserved.
