.footer {
  width: 100%;
  background: $COLOR--pale-grey;
  padding: 26px 10px 10px 10px;
  box-sizing: border-box;
  .footer-content {
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .copyright-block{
    overflow: hidden;
    margin-top: 25px;
    font-size: 12px;
    color: $COLOR-CHARCOAL-GREY;
    .copy {
      display: inline-block;
      float: left;
      .epam-logo {
        display: inline-block;
        width: 40px;
        height: 15px;
        vertical-align: middle;
        margin: 0 5px;
        background: url(./img/epamLogo.svg) center no-repeat;
        cursor: pointer;
      }
    }
    .friends{
      float: right;
      .jfrog{
        background: url(./img/jfrog.svg);
        background-size: contain;
        width: 75px;
        height: 20px;
        display: inline-block;
        background-repeat: no-repeat;
        vertical-align: text-top;
        margin-left: 5px;
      }
    }
  }
  .socials-block {
    span {
      font-size: 13px;
      line-height: 24px;
      a {
        text-decoration: none;
        color: $COLOR-TEALISH;
        margin: 0;
      }
    }
  }
  .icon-block {
    display: inline-block;
    vertical-align: sub;
    .item-icon {
      display: inline-block;
      margin-left: 17px;

      &.git {
        margin-right: 9px;
        cursor: pointer;
        overflow: hidden;
        width: auto;

        .count-block {
          margin-left: 5px;
          background-color: $COLOR-WHITE_TWO;
        }

        &:hover {
          .github-icon {
            background: url(../../../common/img/social/icon-gh-hover.svg) center no-repeat;
          }
        }
      }
    }
  }
  @media (max-width: 900px) {
    height: 100px;
    .right-block {
      float: none;
      margin: 0 auto;
      display: block;
      text-align: center;
      padding-top: 25px;
    }
    .copy {
      margin: 0 auto;
      text-align: center;
    }
  }
  @media (max-width: 600px) {
    height:auto;
    .icon-block {
      display: block;
      margin-top: 11px;
      .item-icon {
        margin: 0 14px;
      }
    }
    .copy {
      width: 290px;
      text-align: left;
      padding-top: 30px;
    }
    .socials-block{
      text-align: center;
    }
    .copyright-block{
      margin: 0;
      text-align: center;
      .copy{
        text-align: center;
        float: unset;
        margin-top: 15px;
        padding: 0;
        display: block;
      }
      .friends{
        float: unset;
        text-align: center;
        margin-top: 15px;
        display: block;
      }
    }
  }
}
