.footer {
  width: 100%;
  background: $COLOR--pale-grey;
  padding: 26px 10px 10px 10px;
  box-sizing: border-box;
  .footer-content {
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .copyright-block {
    overflow: hidden;
    margin-top: 25px;
    font-size: 12px;
    color: $COLOR-CHARCOAL-GREY;
    display: flex;
    justify-content: space-between;;

    .copy .epam-logo {
      display: inline-block;
      width: 40px;
      height: 15px;
      vertical-align: middle;
      margin: 0 5px;
      background: url(./img/epamLogo.svg) center no-repeat;
      cursor: pointer;
      text-align: center;
    }
    .friends .jfrog {
      background: url(./img/jfrog.svg);
      background-size: contain;
      width: 75px;
      height: 20px;
      display: inline-block;
      background-repeat: no-repeat;
      vertical-align: text-top;
      margin-left: 5px;
    }
    .policy {
      a {
        display: inline-block;
        height: 16px;
        font-size: 12px;
        font-family: $FONT-REGULAR;
        text-decoration: none;
        color: $COLOR-CHARCOAL-GREY;

        &:visited {
          color: $COLOR-CHARCOAL-GREY;
        }
      }

      .separator {
        height: 17px;
        width: 1px;
        background-color: $COLOR-CHARCOAL-GREY;
        margin: 0 8px -3px 8px;
        display: inline-block;
      }
    }
  }
  .socials-block {
    span {
      font-size: 13px;
      line-height: 24px;
      a {
        text-decoration: none;
        color: $COLOR-TEALISH;
        margin: 0;
      }
    }
  }
  .icon-block {
    display: inline-block;
    vertical-align: sub;
    .item-icon {
      display: inline-block;
      margin-left: 17px;

      &.git {
        margin-right: 9px;
        cursor: pointer;
        overflow: hidden;
        width: auto;

        .count-block {
          margin-left: 5px;
          background-color: $COLOR-WHITE_TWO;
        }

        &:hover {
          .github-icon {
            background: url(../../../common/img/social/icon-gh-hover.svg) center no-repeat;
          }
        }
      }
    }
  }
  @media (max-width: 900px) {
    height: 100px;
    .right-block {
      float: none;
      margin: 0 auto;
      display: block;
      text-align: center;
      padding-top: 25px;
    }
  }
  @media (max-width: 600px) {
    height:auto;
    .icon-block {
      display: block;
      margin-top: 11px;
      .item-icon {
        margin: 0 14px;
      }
    }
    .copy {
      text-align: left;
      padding-top: 30px;
    }
    .socials-block {
      text-align: center;
    }
    .copyright-block {
      margin: 0;
      text-align: center;
      display: block;
      .copy, .friends, .policy {
        text-align: center;
        margin-top: 15px;
        display: block;
      }
      .copy {
        padding: 0;
      }
    }
  }
}
