.footer-content
  .right-block
    span You can <a href="#">Contacts us</a> or keep in touch with us:
    .social-block
      .social-icon.icon-fb
      .social-icon.icon-tw
      .social-icon.icon-yt
      .social-icon.icon-vk
      .social-icon.icon-sl
      .social-icon.icon-gh
  span.copy © 2017 Report Portal. All Rights Reserved.
