.footer-content
  .socials-block
    span You can <a href="mailto:support@reportportal.io">contacts us</a> or get in touch with us:
    .icon-block
      .item-icon.icon-f(data-js-href="https://www.facebook.com/ReportPortal.io")
      .item-icon.icon-t(data-js-href="http://twitter.com/ReportPortal_io")
      .item-icon.icon-yt(data-js-href="https://www.youtube.com/c/ReportPortal")
      .item-icon.icon-in(data-js-href="https://www.linkedin.com/company/reportportal")
      .item-icon.icon-sl(data-js-href="https://slack.epmrpp.reportportal.io/")
      .item-icon.git.social(data-js-top-github-stars-container, data-js-href="https://github.com/reportportal/reportportal")
  .copyright-block
    .copy
      | Sponsored by
      div.epam-logo(data-js-epam-logo)
      | Licensed under Apache v2.0
    .friends
      a.lambda-test(href='https://www.lambdatest.com/' target='_blank')
    .policy
      a.privacy(href='https://privacy.epam.com/core/interaction/showpolicy?type=PrivacyPolicy' target='_blank') Privacy Policy
      .separator
      a.terms(href='/legal/terms' target='_blank') Terms & Conditions
