.footer {
  width: 100%;
  height: 80px;
  background: #f2f5f5;
  .footer-content {
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .copy {
    display: inline-block;
    float: left;
    margin-left: 30px;
    font-size: 11px;
    margin-top: 34px;
    color: $COLOR-CHARCOAL-GREY;

    .epam-logo {
      display: inline-block;
      width: 40px;
      height: 15px;
      vertical-align: middle;
      margin: 0 0 0 5px;
      background: url(./img/epamLogo.svg) center no-repeat;
      cursor: pointer;
    }
  }
  .right-block {
    float: right;
    display: inline-block;
    margin-right: 30px;
    margin-top: 26px;
    span {
      font-size: 14px;
      a {
        text-decoration: none;
        color: $COLOR-TEALISH;
      }
    }
  }
  .icon-block {
    display: inline-block;
    .item-icon {
      display: inline-block;
      margin-left: 17px;
    }
  }
  @media (max-width: 900px) {
    height: 100px;
    .right-block {
      float: none;
      margin: 0 auto;
      display: block;
      text-align: center;
      padding-top: 25px;
    }
    .copy {
      float: none;
      margin: 0 auto;
      display: block;
      text-align: center;
      padding-top: 18px;
    }
  }
  @media (max-width: 600px) {
    height: 150px;
    .icon-block {
      display: block;
      margin-top: 25px;
      .item-icon {
        margin: 0 15px;
      }
    }
    .copy {
      width: 290px;
      text-align: left;
      padding-top: 30px;
    }
  }
}
