.footer-content
  .socials-block
    span You can <a href="mailto:support@reportportal.io">contacts us</a> or get in touch with us:
    .icon-block
      .item-icon.icon-f(data-js-href="https://www.facebook.com/ReportPortal.io")
      .item-icon.icon-t(data-js-href="http://twitter.com/ReportPortal_io")
      .item-icon.icon-yt(data-js-href="http://youtube.com/c/ReportPortalCommunity")
      .item-icon.icon-vk(data-js-href="https://vk.com/reportportal_io")
      .item-icon.icon-sl(data-js-href="https://reportportal-slack-auto.herokuapp.com/")
      .item-icon.icon-gh(data-js-href="https://github.com/reportportal/reportportal")
  .copyright-block
    span.copy
      | Sponsored by
      div.epam-logo(data-js-epam-logo)
      | Licensed under Apache v2.0
    span.friends
      | Friends with <i class='jfrog'/>
