@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

@mixin title {
  @include m.font-poppins(v.$fw-semi-bold);
  @include m.font-scale(x3-medium);

  position: relative;
  margin-bottom: 48px;
  text-align: center;
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  align-items: center;

  @include m.breakpoint(v.$tablet-sm-exact) {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(large);
  }

  @include m.breakpoint(v.$tablet-lg) {
    @include m.font-scale(x3-large);

    margin-bottom: 54px;
  }
}

.compare {
  margin-top: 176px;

  @include m.breakpoint(v.$tablet-sm-exact) {
    margin-top: 160px;
  }

  @include m.breakpoint(v.$desktop-sm) {
    margin-top: 240px;
  }

  .ant-tablet-ghost {
    .ant-tablet-content-box,
    .ant-tablet-header {
      padding: 0 !important;
      align-items: center !important;
    }

    .ant-tablet-expand-icon {
      padding: 0 !important;
      margin: 0 !important;
    }

    .ant-tablet-header {
      @include title();

      .ant-tablet-header-text {
        margin: 0 !important;
        flex-grow: 0 !important;
        flex-shrink: 1 !important;
        flex-basis: auto !important;
      }
    }

  }

  &__container {
    box-shadow: none;

    @include m.breakpoint(v.$tablet-lg) {
      padding-top: 24px;
      box-shadow: 0 8px 16px rgba(0, 45, 55, 0.12);
      border-radius: 16px;
    }

    .ant-collapse-no-arrow {
      .ant-collapse-header {
        padding-top: 24px;
        padding-left: 0;
        padding-right: 0;
      }
    }

    .ant-collapse-item:not(:has(.rowSection)) {
      margin-bottom: 20px;
      box-shadow: 0 8px 16px rgba(0, 45, 55, 0.12);
      border-radius: 8px;

      @include m.breakpoint(v.$tablet-lg) {
        box-shadow: none;
      }

      >.ant-collapse-header {
        padding-left: 24px;
        padding-right: 24px;

        @include m.breakpoint(v.$tablet-sm-exact) {
          align-items:center;
          padding-top: 6px;
          padding-bottom: 6px;
        }

        @include m.breakpoint(v.$tablet-lg) {
          padding-left: 0;
          padding-right: 0;
          padding-top: 6px;
        }

        .compare__row-title-col {
          @include m.breakpoint(v.$tablet-lg) {
            @include m.font-noto-sans();
          }
        }
      }

      @include m.breakpoint(v.$tablet-lg) {
        margin-bottom: 0;

        .compare__row-title-col {
          @include m.font-scale(base);

          font-weight: v.$fw-regular;
          white-space: normal;
        }
      }
    }

    .ant-collapse-item:nth-child(even) {
      @include m.breakpoint(v.$tablet-lg) {
        background: #F8FAFD
      }
    }

    .ant-collapse-item-active {
      @include m.breakpoint(v.$tablet-lg) {
        .compare__row,
        .ant-collapse-header {
          padding-bottom: 0 !important;
        }

        .ant-collapse-content-box {
          padding-top: 7px !important;
        }
      }
    }
  }

  .ant-collapse-item {
    padding: 4px 0;

    @include m.breakpoint(v.$tablet-sm-exact) {
      padding: 11px 0;
    }

    @include m.breakpoint(v.$tablet-lg) {
      padding: 0 54px;
    }
  }

  .ant-collapse-header:has(.rowSection) {
    @include m.font-noto-sans(v.$fw-semi-bold);
    @include m.font-scale(base);

    align-items: center;
    cursor: auto;
  }

  &__title {
    @include title();
  }

  &__titleArrow {
    height: 24px;
    width: 24px;
    margin-left: 24px;
    transition: transform 0.3s;

    &-active {
      transform: rotate(180deg);
    }
  }

  &__tab {
    &-data {
      margin-top: 19px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        padding: 0 70px 0;
      }

      &-last-item {
        margin: 16px 0;

        .compare__row-title-cols {
          @include m.font-scale(small);
        }

        .compare__row-title-col {
          font-weight: v.$fw-regular;
        }

        @include m.breakpoint(v.$tablet-sm-exact) {
          margin: 7px 0 12px;
        }
      }
    }

    &-title {
      @include m.font-noto-sans(v.$fw-semi-bold);
      @include m.font-scale(base);

      margin-bottom: 43px;
      text-align: center;
      text-transform: uppercase;
      color: var(--text-primary);
      letter-spacing: 1px;
    }

    &-header {
      @include m.breakpoint(v.$tablet-lg) {
        padding: 0 54px 32px 86px;
        color: var(--text-primary);

        .compare__row-title {
          @include m.font-poppins(v.$fw-semi-bold);
          @include m.font-scale(medium);
        }
      }
    }

    &__arrow_bottom,
    &__arrow_right {
      transition: transform 0.3s;
      height: 24px;
      width: 24px;
    }

    &__arrow_right {
      transform: rotate(180deg);

      @include m.breakpoint(v.$tablet-lg) {
        transform: rotate(90deg);
      }
    }

    &__arrow_bottom {
      @include m.breakpoint(v.$tablet-lg) {
        margin-top: 16px;
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    margin-top: -5px;
    margin-bottom: -20px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      margin-top: 0;
    }
  }

  &__row {
    @include m.font-noto-sans();
    @include m.font-scale(medium);

    &-title {
      @include m.font-poppins(v.$fw-regular);
      @include m.font-scale(small);

      flex: 2;
      align-self: flex-start;
      color: var(--text-primary);

      @include m.breakpoint(v.$tablet-lg) {
        @include m.font-noto-sans();
        @include m.font-scale(medium);

        width: 36%;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
      }

      &-footer {
        @include m.font-poppins(v.$fw-medium);
        @include m.font-scale(small);

        align-self: center;
        color: var(--text-service);
        text-align: center;
        margin-top: -28px;

        > a {
          margin-left: 0;
        }

        @include m.breakpoint(v.$tablet-lg) {
          margin-top: auto;
          margin-bottom: auto;
          text-align: left;

          > a {
            margin-left: -36px;
          }
        }
      }

      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-cols {
        @include m.font-scale(base);

        flex: 3;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include m.breakpoint(v.$tablet-lg) {
          display: flex;
          width: 65%;
          flex-grow: 0;
          flex-shrink: 1;
          flex-basis: auto;
        }

        &-visible {
          display: none;

          @include m.breakpoint(v.$tablet-lg) {
            display: flex;
          }
        }
      }

      &-col {
        @include m.font-poppins(v.$fw-medium);

        display: inline-block;
        width: 30%;
        text-align: center;
        color: var(--text-primary);

        @include m.breakpoint(v.$tablet-sm-exact) {
          white-space: nowrap;
        }

        @include m.breakpoint(v.$tablet-lg) {
          @include m.font-poppins(v.$fw-semi-bold);
          @include m.font-scale(medium);
        }
      }
    }

    @include m.breakpoint(v.$tablet-lg) {
      padding: 19px 0;
    }
  }

  &__description {
    @include m.font-poppins();
    @include m.font-scale(small);

    margin-left: 8px;
    margin-right: 8px;
    color: var(--text-service);
    white-space: pre-wrap;

    &-anchor {
      position: relative;
      display: inline-block;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 6px;
        width: 100%;
        height: 1px;
        background-color: var(--text-service);
        transition: background-color 0.3s ease;
      }

      &:hover::after {
        background-color: var(--text-grey);
      }
    }

    &-full-width {
      width: 33%;
    }

    @include m.breakpoint(v.$tablet-lg) {
      margin-left: 15px;
    }
  }

  .ant-collapse-expand-icon {
    margin-left: -5px !important;

    .compare__collapse-icon.anticon {
      font-size: 24px;
      color: var(--text-primary);

      @include m.breakpoint(v.$tablet-lg) {
        padding-right: 16px;
      }

      svg {
        @include m.breakpoint(v.$tablet-lg) {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  &__mark-icon {
    margin-left: 4px;
  }

  &__cross-icon {
    margin-bottom: -2px;
  }
}
