.documentation-page {
  position: absolute;
  width: 100%;
  padding-top: 90px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media (max-width: $SCREEN_SM_MAX) {
    padding-top: 115px;
  }

  @media (max-width: $SCREEN_XS_MAX) {
    padding-top: 130px;
  }
  &.loading {
    .documentation-menu {
      display: none;
    }
    .documentation-page-wrapper {
      height: calc(100% - 170px);

      @media (max-width: 900px) {
        height: calc(100% - 190px);
      }
      @media (max-width: $SCREEN_XS_MAX) {
        height: calc(100% - 230px);
      }
      @media (max-width: 600px) {
        height: calc(100% - 280px);
      }
      .documentation-preloader {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        .logo {
          position: relative;
          background: url(./img/doc-preloader.svg) center no-repeat;
          background-size: 100% 100% ;
          display: block;
          margin: 0 auto;
          width: 106px;
          height: 17px;
          opacity: 0.8;
          top: calc(50% - 47px);
          -webkit-animation: hearthbeat 1.25s infinite ease;
        }
      }
      .documentation-content {
        display: none;
      }
      .documentation-error {
        display: none;
      }
    }

  }
  &.unavailable {
    padding-top: 60px;
    .documentation-menu {
      display: none;
    }
    .documentation-page-wrapper {
      .documentation-preloader {
        display: none;
      }
      .documentation-content {
        display: none;
      }
      .documentation-error {
        display: block;
        width: 400px;
        margin: 50px auto 0 auto;
        text-align: center;
        position: relative;
        height: calc(100% - 20px);
        padding-bottom: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        @media (max-width: $SCREEN_XS_MAX) {
          height: calc(100% + 20px);
        }
        @media (max-width: 600px) {
          width: 100%;
        }

        .documentation-error-img {
          width: 300px;
          height: 210px;
          background-image: url(./img/doc-unavailable.png);
          margin: 0 auto 35px auto;
        }
        .documentation-error-title {
          font-family: $FONT-HEADER;
          color: $COLOR-GRAY-47;
          font-size: 20px;
        }
        .documentation-error-message {
          display: inline-block;
          margin-top: 15px;
          width: 275px;
          font-family: $FONT-REGULAR;
          font-size: 15px;
          color: $COLOR-GRAY-47;
          line-height: 1.5;
          .documentation-error-message-link {
            color: $COLOR-TEALISH;
            text-decoration: none;
          }
        }
      }
    }
  }
  .documentation-preloader {
    display: none;
  }
  .documentation-menu {
    position: absolute;
    top: 90px;
    bottom: 100px;
    width: 260px;
    left: calc(50% - 480px);
    z-index: 1;
    @media (max-width: $SCREEN_SM_MAX) {
      top: 115px;
      left: 0;
    }
    @media (max-width: $SCREEN_XS_MAX) {
      background-color: $COLOR--white;
      width: 100%;
      height: 50px;
      top: 60px;
    }
    .controls {
      height: calc(100% - 60px);
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      @media (max-width: $SCREEN_XS_MAX) {
        position: relative;
        height: 50px;
        color: $COLOR-TEALISH;
        &.open {
          height: initial;
          top: 60px;
          bottom: 130px;
          position: fixed;
          background-color: transparent;
          .menu-title {
            i {
              transform: rotate(180deg);
              margin-bottom: -4px;
            }
          }
          .sidenav {
            display: block;
            position: relative;
            width: 100%;
            li {
              background-color: $COLOR-WHITE_TWO;
              border-bottom: solid 1px $COLOR--white;
            }
          }
        }
      }
      .docs-controls {
        position: relative;
        @media (max-width: $SCREEN_XS_MAX) {
          display: none;
          padding: 0 10px;
        }
        .rp-icons-search {
          position: absolute;
          color: $COLOR-GRAY-60;
          right: 55px;
          top: 9px;
          font-size: 13px;
          @media (max-width: $SCREEN_XS_MAX) {
            display: inline-block;
            position: absolute;
            left: 16px;
            top: 14px;
            font-size: 20px;
            width: 20px;
          }
        }
        .rp-input {
          float: left;
          height: 30px;
          width: calc(100% - 40px);
          font-size: 13px;
          line-height: 13px;
          padding: 6px 35px 6px 10px;
          margin-bottom: 23px;
          border: 1px solid $COLOR-GRAY-80;
          color: $COLOR-GRAY-60;
          font-family: $FONT-REGULAR ,sans-serif;
          outline: 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          @media (max-width: $SCREEN_SM_MAX) {
            width: calc(100% - 50px);
            margin-left: 10px;
          }
          @media (max-width: $SCREEN_XS_MAX) {
            width: calc(100% - 60px);
            background: 0 0;
            border: none;
            border-bottom: 1px solid $COLOR-GRAY-60;
            font-size: 16px;
            padding: 0 20px 0 30px;
            margin-top: 10px;
          }
        }
        .all {
          display: block;
          width: 20px;
          float: left;
          margin-left: 10px;
          cursor: pointer;
          .material-icons {
            display: none;
          }
          span {
            line-height: 30px;
            display: block;
          }
          @media (max-width: $SCREEN_XS_MAX) {
            .material-icons{
              display: block;
              margin-left: -30px;
              line-height: 50px;
              font-size: 23px;
              color: $COLOR-GRAY-60;
            }
            span {
              display: none;
            }
          }
        }
        .search-cancel {
          display: none;
          @media (max-width: $SCREEN_XS_MAX) {
            display: block;
            position: absolute;
            right: 10px;
            line-height: 50px;
          }
        }
      }
      .content-search-btn {
        display: none;
        @media (max-width: $SCREEN_XS_MAX) {
          display: block;
          position: absolute;
          width: 50px;
          height: 50px;
          right: 0;
          top: 0;
          font-size: 24px;
          text-align: center;
          cursor: pointer;
          i {
            margin-top: 13px;
          }
        }
      }
      .menu-title {
        display: none;
        @media (max-width: $SCREEN_XS_MAX) {
          font-family: $FONT-REGULAR;
          font-size: 16px;
          color: inherit;
          text-decoration: none;
          cursor: pointer;
          display: inline-block;
          margin: 0 20px;
          vertical-align: middle;
          line-height: 50px;
          i {
            font-size: 24px;
            display: inline-block;
            width: 24px;
            height: 19px;
            text-align: center;
            overflow: hidden;
          }
        }
      }
      .sidenav {
        clear: both;
        @media (max-width: $SCREEN_XS_MAX) {
          display: none;
          -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
          -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
          box-shadow: 0 6px 12px rgba(0,0,0,.175);
        }
        li {
          width: 100%;
          min-height: 40px;
          cursor: pointer;
          a {
            display: block;
            min-height: 40px;
            padding: 8px 15px;
            font-family: $FONT-REGULAR;
            font-size: 16px;
            line-height: 24px;
            color: $COLOR-TEALISH;
            text-decoration: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            &:hover {
              background-color: $COLOR--tealish-hover;
            }
          }
          .nav {
            display: none;
          }
          &.g-nav--open {
            .nav {
              display: block;
              li {
                a{
                  padding-left: 30px;
                  font-size: 15px;
                }
              }
            }
            &>a:after {
              content: "\E316";
            }
          }
          &.not-nested {
            &>a:after {
              content: '';
            }
          }
          &.active {
            & > a {
              font-family: $FONT-HEADER;
              background-color: $COLOR-GRAY-91;
              cursor: default;
            }
          }
        }

        &>li>a:after  {
          cursor: pointer;
          position: absolute;
          right: 10px;
          font-family: $MaterialIcons;
          content: "\E313";
          font-size: 25px;
          line-height: 27px;
        }
      }
      .doc-menu-not-found {
        display: none;
      }
    }

    &.empty {
      .controls {
        .doc-menu-not-found {
          display: block;
          text-align: center;
          position: absolute;
          top: 50px;
          width: 100%;
          font-family: $FONT-HEADER;
          font-size: 16px;
          color: $COLOR-STEEL-GREY;
        }
      }
    }
  }
  .documentation-page-wrapper {
    position: absolute;
    height: calc(100% - 80px);
    width: 100%;
    margin: 0 auto;

    @media (max-width: $SCREEN_XS_MAX) {
      height: calc(100% - 100px);
    }

    .documentation-content {
      padding-left: 260px;
      position: relative;
      min-height: 100%;
      padding-bottom: 70px;
      width: 1000px;
      margin: 0 auto;

      font-family: $FONT-REGULAR;
      font-size: 15px;
      line-height: 24px;
      color: $COLOR-CHARCOAL-GREY;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      @media (max-width: $SCREEN_SM_MAX) {
        width: 100%;
      }
      @media (max-width: $SCREEN_XS_MAX) {
        padding-left: 0;
      }
      .b-docs__wrapper {
        padding-left: 60px;
        padding-right: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        @media (max-width: $SCREEN_SM_MAX) {
          padding-left: 30px;
        }

        @media (max-width: $SCREEN_XS_MAX) {
          padding-left: 15px;
        }
        h1 {
          width: 100%;
          font-family: $FONT-LIGHT;
          font-size: 26px;
          color: $COLOR-STEEL-GREY;
          margin-bottom: 30px;
        }

        h3, h4 {
          position: relative;
          display: block;
          width: 100%;
          margin-bottom: 15px;
          font-family: $FONT-REGULAR;
          font-size: 22px;
          line-height: 32px;
          color: $COLOR-TOPAZ;

          a.anchor {
            display: block;
            width: 100%;
            height: 32px;
            left: -25px;
            top: 5px;
            text-decoration: none;
            position: absolute;

            .material-icons {
              display: none;
              color: $COLOR-TOPAZ;
              font-size: 22px;
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }

            &:hover {
              .material-icons {
                display: block;
                @media (max-width: $SCREEN_XS_MAX) {
                  display: none;
                }
              }
            }
          }
        }

        h3 {
          margin-top: 30px;
          font-family: $FONT-LIGHT;
        }

        h4 {
          margin-top: 20px;
          font-size: 16px;
          a.anchor {
            top: 4px;
          }
        }
        code {
          background-color: $COLOR--pale-grey;
          display: inline;
          font-family: monospace;
          padding: 2px 5px;
        }
        pre {
          margin: 15px 0;
          background-color: $COLOR--pale-grey;
          padding: 15px;
          white-space: pre-wrap;
          word-break: break-all;
          line-height: 24px;
          font-size: 13px;
          color: $COLOR--brownish-grey;
          code {
            display: block;
          }
        }

        a {
          text-decoration: none;
          color: $COLOR-TEALISH;
          &.video-preview {
            position: relative;
            display: inline-block;
            &:after {
              content: ' ';
              position: absolute;
              display: block;
              width: 60px;
              height: 60px;
              top: 50%;
              left: 50%;
              margin-top: -30px;
              margin-left: -30px;
              cursor: pointer;
              background: url(./img/play_circle.svg) center no-repeat;
            }
            &:hover {
              &:after {
                background: url(./img/play_circle_hover.svg) center no-repeat;
              }
            }
          }
        }
        .image-wrap-table {
          display: table;
          width: 440px;
          height: 316px;
          @media (max-width: 500px) {
            width: 300px;
            height: 216px;
          }
        }
        .image-wrap-table-cell {
          display: table-cell;
          width: 100%;
          height: 100%;
          vertical-align: middle;
        }
        img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          margin: 0 auto;
          cursor: pointer;
          box-sizing: border-box;
          border: 1px solid $COLOR-GRAY-91;
        }

        p {
          font-size: 15px;
          line-height: 24px;
          margin-bottom: 10px;
        }

        ol {
          padding-left: 18px;
          margin-bottom: 10px;
          counter-reset: item;
          li {
            line-height: 20px;
            margin-bottom: 5px;
            &:before {
              content: counter(item) ".";
              counter-increment: item;
              margin-right: 15px;
              display: inline-block;
              line-height: 20px;
              color: $COLOR-TEALISH;
            }
            p {
              display: inline;
            }
          }
        }

        ul {
          padding-left: 18px;
          margin-bottom: 10px;
          li {
            line-height: 20px;
            margin-bottom: 5px;
            &:before {
              content: "";
              margin-right: 20px;
              display: inline-block;
              line-height: 20px;
              vertical-align: middle;
              width: 5px;
              height: 5px;
              background-color: $COLOR-TEALISH;
              border-radius: 2.5px;
            }
            p {
              display: inline;
            }
          }
        }
        ol, ul {
          li {
            ol, ul {
              padding-left: 30px;
              margin-top: 5px;
            }
          }
        }

        strong {
          font-family: $FONT-HEADER;
        }
        em {
          font-style: italic;
        }

        blockquote {
          padding: 10px 20px;
          margin: 0 0 20px;
          //font-size: 17.5px;
          border-left: 5px solid $COLOR--pale-grey;
        }

        table {
          display: block;
          width: 100%;
          border-collapse: collapse;
          border-spacing: 0;
          thead {
            background-color: $COLOR--pale-grey;
            th {
              padding: 10px;
              color: $COLOR--brownish-grey;
              font-size: 13.5px;
              border: 1px solid $COLOR-GRAY-80;
              text-align: left;
            }
          }
          tbody {
            td {
              vertical-align: top;
              padding: 10px;
              color: $COLOR--brownish-grey;
              line-height: 1.5;
              font-size: 13.5px;
              border: 1px solid $COLOR-GRAY-80;
            }
          }

          &.permissions-map-table {
            thead {
              tr {
                th {
                  font-size: 12px;
                  line-height: 1.2;
                  text-align: center;
                  vertical-align: middle;
                }
              }
            }
            tbody {
              tr {
                td {
                  font-size: 12px;
                  line-height: 1.2;
                  text-align: center;
                  vertical-align: middle;
                  &:first-child {
                    text-align: left;
                  }
                }
              }

            }
          }
        }

        .toc {
          width: 100%;
          .toc-level {
            color: $COLOR-TEALISH;
            &:before {
              display: none;
            }
            a {
              font-family: $FONT-REGULAR;
              color: inherit;
              text-decoration: none;
            }
            &.toc-level-0 {
              margin: 20px 0;
              a {
                font-size: 16px;
              }
            }
            &.toc-level-1 {
              margin: 10px 0 10px 30px;
              list-style-type: disc;
              a {
                font-size: 15px;
              }
            }
            &.toc-level-2 {
              margin: 10px 0 10px 55px;
              list-style-type: disc;
              a {
                font-size: 14px;
              }
            }
            &.toc-level-3 {
              margin: 10px 0 10px 80px;
              list-style-type: disc;
              a {
                font-size: 14px;
              }
            }
          }
        }

      }
    }
    .footer-container {
      position: relative;
      width: 100%;
    }
    .documentation-error {
      display: none;
    }
  }
  .edit-on-github {
    position: fixed;
    bottom: 20px;
    right: 50%;
    margin-right: -480px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: $COLOR-WHITE_TWO;
    box-shadow: 0 0 9px 2px rgba(189, 199, 204, 0.35);
    transition: width 0.2s ease 0.1s;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      background: url(./img/edit.svg) center no-repeat;
    }
    span {
      font-size: 10px;
      line-height: 1.4;
      color: $COLOR-CHARCOAL-GREY;
      display: block;
      padding-left: 51px;
      width: 190px;
      padding-top: 5px;
      opacity: 0;
      transition: opacity 0.1s ease;
      &.color-blue{
        color: $COLOR-TOPAZ;
        padding-top: 0;
      }
    }
    &:hover {
      width: 260px;
      transition: width 0.2s ease;
      span {
        opacity: 1;
        transition: opacity 0.2s ease 0.2s;
      }
    }
    @media(max-width: 1000px) {
      margin-right: 0;
      right: 20px;
    }
  }
}

#Manage-launches {
   .documentation-page-wrapper {
     .documentation-content{
       .b-docs__wrapper blockquote{
         font-size: unset;
       }
     }
   }
}

@-webkit-keyframes hearthbeat {
  0%	{  transform: scale(1); }
  15%	{ transform: scale(1.5); }
  30%	{ transform: scale(1.25); }
  45%	{ transform: scale(1.5); }
  60%	{ transform: scale(1); }
  100%	{ transform: scale(1); }
}
