.documentation-page-wrapper
  .documentation-menu(data-js-doc-menu)
  .documentation-content(data-js-doc-content)
  .documentation-error(data-js-doc-error)
    .documentation-error-img
    span.documentation-error-title Documentation is currently unavailable
    p.documentation-error-message There is no connection at the moment. You can check our
      a.documentation-error-message-link(href='#')  Landing Page
.footer-container(data-js-footer-container)
