.welcome-banner(data-js-welcome-banner)
  .welcome-message
    strong ReportPortal Documentation
    br
    span everything you want to know about ReportPortal

.documentation-page-wrapper
  .documentation-menu(data-js-doc-menu)
  .documentation-content(data-js-doc-content)
.footer-container(data-js-footer-container)
