doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        title Report Portal | Full-featured result management tool
        meta(name="description",content="We provide real-time analytics, automated test results visualization and an integration with your existing test automation process. Fork Us on GitHub.")
        meta(name="keywords",content="Report Portal management automation analytics automated test statistics")
        meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
    body
        script.
            (function(){
            var redirect = sessionStorage.redirect;
            delete sessionStorage.redirect;
            if (redirect && redirect != location.href) {
              history.replaceState(null, null, redirect);
            }
            })();
        .main-wrapper
          div(data-js-header-container)
          div(data-js-main-page-container)
          div(data-js-modal-container)
