doctype html
html(lang='en')
    head
        <!-- Google Tag Manager -->
        script.
          - (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl = l !='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MK7ZHTL');
        <!-- End Google Tag Manager -->
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        title ReportPortal test automation analytics platform and real-time reporting, powered by Machine Learning
        meta(name="description", content="Provides real-time analytics in reporting, automated test results visualization and an integration with your existing test automation process. Powered by Machine Learning to categorize test automation fails, leveraging historical data. Free and Open Sourced. Fork Us on GitHub.")
        meta(name="keywords", content="Reporting automated testing analytics machine learning ")
        meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        //script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-109349700-1')
    body
        <!-- Google Tag Manager (noscript) -->
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-MK7ZHTL', height='0', width='0', style='display:none;visibility:hidden')
        <!-- End Google Tag Manager (noscript) -->
        script.
            (function(){
            var redirect = sessionStorage.redirect;
            delete sessionStorage.redirect;
            var currentHash = location.hash;
            if (!redirect && currentHash ) {
              window.location.href = '/' + currentHash.replace('#documentation', 'docs').replace('#', '');
            }
            if (redirect && redirect != location.href) {
              history.replaceState(null, null, redirect);
            }
            })();
        .main-wrapper
            div(data-js-header-container)
            div(data-js-main-page-container)
            div(data-js-modal-container)
