@import '../../pageSectionMixin';

@mixin banner-item-animate($delay) {
  transition: transform $ANIMATION-DURATION $ANIMATION-EASING $delay, opacity $ANIMATION-DURATION $ANIMATION-EASING $delay;
}

@media (min-width: $MIN-ANIMATION-WIDTH) {
  html.csstransforms {
    .index-page_new-release {
      .content-wrapper, .release-banner {
        opacity: 0;
        transform: translate(0, $ANIMATION-WIDTH);
      }
      .release-banner {
        @include banner-item-animate(0s);
      }
      .content-wrapper {
        @include banner-item-animate(0.5s);
      }

      &.animate {
        .content-wrapper, .release-banner {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  }
}
