.tooltip
  p.h3 #{locals.type}
  p.url #{locals.url}
  .code
    .scheme
      span {
      p(data-js-copy-text) #{locals.scheme}
      span }
      if locals.type != 'HTTP response'
        span.copy(data-js-copy) Copy
