.http-info{
  .tooltip{
    border-radius: 3px;
    background-color: $COLOR-WHITE_TWO;
    box-shadow: 0 1px 3px 0 rgba(111, 137, 141, 0.24);
    border: solid 1px $COLOR-GRAY-91;
    width: 250px;
    padding: 10px;
    position: absolute;
    z-index: 100;
    text-align: left;
    color: $COLOR-CHARCOAL-GREY;
    .h3{
      font-size: 12px;
      font-family: $FONT-REGULAR;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
    }
    .url{
      font-size: 12px;
      font-family: $FONT-REGULAR;
      word-break: break-all;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      position: relative;
      border-bottom: solid 1px $COLOR-GRAY-91;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .code{
      position: relative;
      background: $COLOR--pale-grey;
      padding: 5px;
      font-family: $FONT-REGULAR;
      font-size: 10px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: left;
      white-space: pre-line;
    }
    .scheme{
      position: relative;
      p{
        margin-left: 10px;
      }
    }
    .copy{
      color: $COLOR-TEALISH;
      font-size: 11px;
      position: absolute !important;
      right: 5px;
      top: 0;
      cursor: pointer;
    }
  }
}

