@use '../variables/typography';

@mixin font-info($weight: typography.$fw-regular, $font-style: false) {
  @if $weight {
    font-weight: $weight;
  }

  @if $font-style {
    font-style: $font-style;
  }
}

@mixin font-poppins($weight: typography.$fw-regular, $font-style: false) {
  @include font-info($weight, $font-style);

  font-family: Poppins, Arial, sans-serif;
}

@mixin font-noto-sans($weight: typography.$fw-regular, $font-style: false) {
  @include font-info($weight, $font-style);

  font-family: 'Noto Sans', Arial, sans-serif;
}

@mixin roboto-mono($weight: typography.$fw-regular, $font-style: false) {
  @include font-info($weight, $font-style);

  font-family: 'Roboto Mono', Monaco, 'Courier New', monospace;
}
