@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.challenges {
  background-image: url('../../../svg/testing/GrayVector.svg');
  background-repeat: no-repeat;
  background-size: 100% 90%;

  &__wrapper {
    padding: 120px 16px;
    max-width: 1175px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      padding: 120px 24px;
    }
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;

    &-item {
      @include m.font-poppins(v.$fw-semi-bold);
      @include m.font-scale(medium);

      display: flex;
      flex-basis: 352px;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      box-shadow: 0 8px 16px 0 rgb(0 45 55 / 0.12);
      background: var(--white) url('../../../svg/testing/CheckedCorner.svg') no-repeat;
      padding: 32px;
      height: 160px;
      text-align: center;
      color: var(--text-primary);
    }
  }
}
