@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';

.subscription-form-card {
  @include font-scale(base);

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 80px;

  &__title {
    @include font-poppins($fw-semi-bold);
  }

  &__subtitle {
    @include font-noto-sans();

    margin-top: 8px;
  }
}
