@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';

.subscription-form__form {
  @include font-poppins();
  @include font-scale(base);

  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 16px;
}

.subscription-form__form-group {
  display: flex;
  flex-direction: column;
}

.subscription-form__form-input {
  @include font-scale(base);

  padding: 10px 16px;
}

.subscription-form__form-input {
  @include font-poppins($fw-medium);

  border: 1px solid #c3c8d5;
  border-radius: 4px;

  .subscription-form__form--error & {
    border-color: #ff7272;
  }
}

.subscription-form__form-error,
.subscription-form__form-info {
  @include font-scale(small);

  grid-column-start: 1;
}

.subscription-form__form-error {
  margin-top: 4px;
  color: #ff7272;
}

.subscription-form__form-info {
  @include font-noto-sans();
  @include font-scale(x-small);

  margin-top: 8px;
  color: #8791ab;

  a {
    text-decoration: underline;
  }
}

.subscription-form__card {
  @include font-poppins();
  @include font-scale(base);

  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 80px;
}

.subscription-form__card-title {
  font-weight: $fw-semi-bold;
}

.subscription-form__card-subtitle {
  margin-top: 8px;
}
