@import 'src/styles/mixins/font';
@import 'src/styles/mixins/font-scale';
@import 'src/styles/mixins/breakpoint';
@import 'src/styles/variables';

.list-dropdown {
  @include font-poppins($fw-semi-bold);
  @include font-scale();

  width: 100%;

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;

    @include breakpoint($tablet-sm-exact) {

    }

    @include breakpoint($desktop-sm) {
      justify-content: center;
    }
  }

  &__icon {
    display: inline-block;
    width: 24px;
    height: 24px;

    &.open {
      transform: rotate(90deg);
    }
  }

  .unordered-list {
    padding: 24px 8px;
    background: linear-gradient(180deg, rgba(0, 180, 213, 0.24) 0%, rgba(102, 210, 230, 0.00) 100%);

    &__list-item {
      color: var(--white);
    }
  }
}
