@import '../../pageSectionMixin';

@mixin feature-animate($duration, $delay) {
  .feature-image {
    transition: transform $duration $ANIMATION-EASING $delay, opacity $duration $ANIMATION-EASING $delay;
  }
  h2 {
    transition: transform $duration $ANIMATION-EASING ($delay + 0.1), opacity $duration $ANIMATION-EASING ($delay + 0.1);
  }
  p {
    transition: transform $duration $ANIMATION-EASING ($delay + 0.2), opacity $duration $ANIMATION-EASING ($delay + 0.2);
  }
}

@media (min-width: $MIN-ANIMATION-WIDTH) {
  html.csstransforms {
    .index-page_features {
      h1 {
        opacity: 0;
        transform: translate(0, $ANIMATION-WIDTH);
        transition: transform $ANIMATION-DURATION $ANIMATION-EASING, opacity $ANIMATION-DURATION $ANIMATION-EASING;
      }
      .feature {
        .feature-image, h2 {
          opacity: 0;
          transform: translate(0, $ANIMATION-WIDTH);
        }
        p {
          opacity: 0;
          transform: translate(0, $ANIMATION-WIDTH);
        }
      }
      &.animate {
        h1 {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
      &.animate1-3 {
        .feature-1 {
          @include feature-animate($ANIMATION-DURATION, 0s);
        }
        .feature-2 {
          @include feature-animate($ANIMATION-DURATION, 0s);
        }
        .feature-3 {
          @include feature-animate($ANIMATION-DURATION, 0s);
        }
        .feature-1, .feature-2, .feature-3 {
          .feature-image, h2, p {
            opacity: 1;
            transform: translate(0, 0);
          }
        }
      }
      &.animate4-6 {
        .feature-4 {
          @include feature-animate($ANIMATION-DURATION, 0s);
        }
        .feature-5 {
          @include feature-animate($ANIMATION-DURATION, 0s);
        }
        .feature-6 {
          @include feature-animate($ANIMATION-DURATION, 0s);
        }
        .feature-4, .feature-5, .feature-6 {
          .feature-image, h2, p {
            opacity: 1;
            transform: translate(0, 0);
          }
        }
      }
    }
  }
}
