@import '../../pageSectionMixin';

.index-page_features {
  position: relative;
  width: 100%;
  padding-bottom: 100px;
  background-color: #fcfeff;
  .section-container {
    @include content-section;
  }
  .more-btn{
    font-size: 15px;
    color: $COLOR-TEALISH;
    display: block;
    margin: 0 auto;
    width: 240px;
    text-align: center;
    padding: 14px 0;
    border: solid 1px $COLOR-TEALISH;
    text-decoration: none;
    &:hover{
      color: $COLOR-TOPAZ;
      border-color: $COLOR-TOPAZ;
    }
    @media (max-width: $SCREEN_XS_MAX) {
      margin-top: 40px;
    }
  }
  .h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 25px;
    color: $COLOR-STEEL-GREY;
    font-family: $FONT-LIGHT;
  }
  .feature-list {
    position: relative;
    text-align: center;
    margin-top: 5px;
    .feature {
      display: inline-block;
      width: 290px;
      height: 335px;
      text-align: left;
      margin: 60px 15px 0;
      vertical-align: top;
    }
    h2 {
      color: $COLOR-TOPAZ;
      margin-top: 27px;
      font-size: 16px;
      line-height: 25px;
    }
    p {
      margin-top: 14px;
      line-height: 24px;
    }
  }
  @media (max-width: $MIDDLE-INTERFACE-WIDTH) {
    padding-bottom: 20px;
    .h1 {
      padding-top: 80px;
    }
    .feature-list {
      .feature {
        width: 260px;
        height: 320px;
        margin: 50px 15px 0;
      }
    }
  }
  @media (max-width: $MOBILE-INTERFACE-WIDTH) {
    padding-bottom: 50px;
    .h1 {
      font-size: 22px;
      padding-top: 43px;
    }
    .feature-list {
      .feature {
        width: 300px;
        height: auto;
        margin: 50px 0 0 0;
        text-align: center;
      }
    }
  }
}
