.section-container
  h1 Features you can benefit with
  .feature-list
    .feature.feature-1
      .feature-image.manage-all
      h2 Manage all your automation results and reports  in one place
      p Achieve full automation visibility in real time. Centralize and aggregate all logs, reports and media data for 100% evidence.
    .feature.feature-2
      .feature-image.make-automation
      h2 Make automation results analysis actionable & collaborative
      p Associate failed test with a product bug, or automation issue, system issue or other custom defect type collaboratively with your team members.
    .feature.feature-3
      .feature-image.establish
      h2 Establish fast traceability with defect management
      p Submit and track defects with full evidence (logs, screenshots, comments) directly from failed test case into bug tracking system.
    .feature.feature-4
      .feature-image.accelerate
      h2 Accelerate routine results analysis
      p Use collected history of executions and fail patterns to achieve hands-free analysis of latest results.
    .feature.feature-5
      .feature-image.visualize
      h2 Visualize metrics and analytics
      p Build custom dashboards and metrics to learn from the past and predict the trends.
    .feature.feature-6
      .feature-image.make-smarter
      h2 Make smarter decisions together
      p Use collaborative test automation environment with your team to improve your delivery quality.
