@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.quality-assessment {
  .dashboard-header {
    .container {
      @include m.breakpoint(v.$tablet-sm-exact) {
        padding: 0 64px;
      }

      @include m.breakpoint(v.$desktop-sm) {
        padding: 0 24px;
      }
    }

    &__dashboard {
      padding-bottom: 50px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        padding-bottom: 100px;
      }

      @include m.breakpoint(v.$desktop-sm) {
        padding-bottom: 175px;
      }
    }
  }

  .testing-bottom-block__description {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(medium);

    margin: 24px 0 64px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      margin: 48px 0 92px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      margin: 56px 0 64px;
    }
  }
}
