@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.banner {
  position: relative;

  &__bg {
    position: absolute;
    inset: 50% 0 -35px;
    border-top: 1px solid var(--purple-grey);
    color: var(--text-service);
    background: var(--bg-light-grey);

    @include m.breakpoint(v.$desktop-sm) {
      bottom: -100px;
    }
  }

  &__wrapper {
    position: relative;
    background: linear-gradient(85.23deg, #f4f6fa 1.92%, #eef0f7 53.85%);
    border-radius: 16px;
    overflow: hidden;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    background-image: url('./assets/bg-up-mobile.svg');
    background-position: 0 20px;
    background-repeat: no-repeat;

    @include m.breakpoint(v.$tablet-sm-exact) {
      padding: 40px;
      background-image: url('./assets/bg-up.svg'), url('./assets/bg-down.svg');
      background-position: bottom left, top right;
      background-repeat: no-repeat, no-repeat;
    }

    @include m.breakpoint(v.$desktop-sm) {
      flex-direction: row;
      padding: 40px 56px;
    }
  }

  &__titles {
    flex-grow: 1;
    text-align: center;

    @include m.breakpoint(v.$desktop-sm) {
      text-align: start;
    }
  }

  &__title {
    @include m.font-poppins(v.$fw-bold);
    @include m.font-scale(x4-medium);

    color: var(--text-primary);

    @include m.breakpoint(v.$tablet-sm-exact) {
      @include m.font-scale(large);
    }
  }

  &__subtitle {
    @include m.font-noto-sans();
    @include m.font-scale();

    margin-top: 8px;
    line-height: 24px;
    color: var(--text-primary);

    @include m.breakpoint(v.$tablet-sm-exact) {
      @include m.font-scale(medium);

      margin-top: 0;
    }
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 23px;

    .btn {
      width: 100%;
    }

    @include m.breakpoint(v.$phone) {
      width: auto;
      margin-top: 35px;

      .btn {
        width: auto;
      }
    }

    @include m.breakpoint(v.$desktop-sm) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
