@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.offer-page-wrapper {
  &__plans-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    opacity: 1;
    transform: none;

    @include m.breakpoint(v.$tablet-sm-exact) {
      padding-bottom: 120px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      padding-right: 0;
      padding-left: 0;
    }

    h2 {
      @include m.font-poppins(v.$fw-bold);
      @include m.font-scale(x4-medium);

      margin-top: 88px;
      margin-bottom: 0;
      text-align: center;
      color: var(--white);

      @include m.breakpoint(v.$tablet-sm-exact) {
        @include m.font-scale(large);

        margin: 72px 80px 0;
      }
    }

    .info-card {
      margin: 40px 16px 0;
    }
  }

  &__plans {
    display: flex;
    flex-flow: column wrap;
    place-content: center center;
    gap: 40px 24px;
    margin-top: 64px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      margin-top: 40px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      flex-flow: row nowrap;
      width: 995px;
      margin-top: 40px;
    }

    button:last-child {
      margin-bottom: 40px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        margin-bottom: 0;
      }
    }

    .pricing-card {
      max-width: 348px;
      height: 504px;

      ul {
        margin: 0;
      }
    }

    .pricing-card__description {
      height: 48px;
      margin-bottom: 24px;
    }

    .pricing-card__price-description {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      color: var(--text-service);
    }

    .pricing-card__popular {
      border: 1px solid var(--white);
      background: var(--graphics-jade);
    }
  }

  &__plans-topology {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 348px;
    margin-top: 40px;

    @include m.breakpoint(v.$desktop-sm) {
      width: 995px;
      max-width: unset;
      margin-top: 24px;
    }

    > div {
      justify-content: start;
    }
  }

  &__utilization {
    padding: 80px 16px 48px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      padding-right: 24px;
      padding-bottom: 80px;
      padding-left: 24px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    h2 {
      @include m.font-poppins(v.$fw-bold);
      @include m.font-scale(x3-medium);

      margin: 0;
      padding-bottom: 24px;
      color: var(--text-primary);

      @include m.breakpoint(v.$tablet-sm-exact) {
        padding-bottom: 16px;
        text-align: center;
      }
    }

    &-subtitle {
      @include m.font-noto-sans();
      @include m.font-scale(small);

      margin: auto;
      color: var(--text-service);

      @include m.breakpoint(v.$tablet-sm-exact) {
        width: 643px;
        text-align: center;
      }
    }
  }

  &__subscription-info {
    display: flex;
    justify-content: center;
    color: var(--text-primary);

    @include m.breakpoint(v.$desktop-sm) {
      padding: 0;
      text-align: center;
    }

    svg {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      margin-top: -2px;
      margin-right: 14px;
    }

    a {
      @include m.font-poppins(v.$fw-medium);

      margin-left: 4px;
      color: var(--color-primary-600);

      &:hover {
        color: var(--color-primary-500);
      }
    }
  }

  &__faq-container {
    margin-bottom: 153px;
    padding-top: 80px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      margin-bottom: 168px;
    }

    @include m.breakpoint(v.$desktop-sm) {
      margin-top: 240px;
      margin-bottom: 212px;
    }
  }

  &__gradient-container {
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(180deg, #f4f5fa 0%, #fff 100%);

    @include m.breakpoint(v.$desktop-sm) {
      padding-top: 120px;
    }

    .container {
      display: flex;
      flex-flow: column;
      row-gap: 80px;
    }
  }
}
