# Copyright 2024 EPAM Systems
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI Build
env:
  GTM_ID: GTM-MK7ZHTL
  DOCUMENTATION_URL: http://rpp-docs.s3-website.eu-central-1.amazonaws.com
  CONTENTFUL_ENV_ID: master
  CONTENTFUL_HOST: cdn.contentful.com
  CLARITY_PROJECT_ID: nr74d9qrwk

on:
  pull_request:
    branches:
      - develop
      - master
    paths-ignore:
      - README.md

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install of node dependencies
        run: npm install

      - name: create env file
        run: |
          touch .env.production
          echo CONTENTFUL_ACCESS_TOKEN=${{ secrets.CONTENTFUL_ACCESS_TOKEN_DEV }} >> .env.production
          echo CONTENTFUL_SPACE_ID=${{ secrets.CONTENTFUL_SPACE_ID_DEV }} >> .env.production
          echo CONTENTFUL_ENV_ID=${{ env.CONTENTFUL_ENV_ID }} >> .env.production
          echo CONTENTFUL_HOST=${{ env.CONTENTFUL_HOST }} >> .env.production
          echo GTM_ID=${{ env.GTM_ID }} >> .env.production
          echo DOCUMENTATION_URL=${{ env.DOCUMENTATION_URL }} >> .env.production
          echo CLARITY_PROJECT_ID=${{ env.CLARITY_PROJECT_ID }} >> .env.production  

      - name: Run tsc
        run: npm run tsc

      - name: Run eslint
        run: npm run lint

      - name: Run stylelint
        run: npm run stylelint

      - name: Build the source code
        run: npm run build
