@import '../../pageSectionMixin';

.index-page_twitter {
  background: url(./img/bg-tweet-block.png) center no-repeat;
  padding: 35px 0;
  background-size: cover;
  .twitter-container{
    width: 730px;
    margin: 0 auto;
    h2{
      font-family: OpenSans;
      font-size: 25px;
      font-weight: 600;
      line-height: 1.44;
      text-align: center;
      color: #6f898d;
      margin: 15px 0;
      &:before{
        content: '';
        width: 26px;
        height: 21px;
        display: inline-block;
        background: url(./img/twitter-gray.png) center no-repeat;
        background-size: contain;
        margin-right: 15px;
      }
    }
    ul{
      margin: 30px 0;
      li{
        opacity: 0.85;
        border-radius: 2px;
        background-color: #ffffff;
        margin: 10px 0;
        p{
          padding: 7px 15px;
          font-family: OpenSansCyrilicLatin;
          font-size: 15px;
          line-height: 20px;
          color: #464547;
          a{
            color: #39c2d7;
            text-decoration: none;
          }
        }
      }
    }
    button.rp-button__color-revert{
      margin: 30px auto 15px auto;
      display: block;
    }
  }
}

@media (max-width: 820px){
  .index-page_twitter{
    .twitter-container{
      width: 90%;
    }
  }
}
