@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.pricing-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 387px;
  border-radius: 15px;
  padding: 32px;
  box-shadow: 0 4px 16px rgb(16 46 52 / 0.1);
  background: var(--white);
  transition: box-shadow 0.4s ease-out;

  &:hover {
    box-shadow: 0 8px 24px rgb(57 109 120 / 0.3);
  }

  &--full-width {
    flex: 1 0 auto;
    max-width: none !important;

    .btn {
      max-width: 320px;
    }
  }

  &__popular,
  &__diamond {
    position: absolute;
    top: -15px;
    left: 50%;
    z-index: 2;
    width: 198px;
    transform: translateX(-50%);
  }

  &__popular {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(small);

    border-radius: 15px;
    padding: 4px 30px;
    background: var(--graphics-amber);
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
  }

  &__diamond {
    top: -22px;
    width: 64px;
    height: 64px;
    background: url('./icons/diamond.svg');
  }

  &__title {
    @include m.font-poppins(v.$fw-semi-bold);
    @include m.font-scale(large);

    text-align: center;
    color: var(--dark);

    @include m.breakpoint(v.$tablet-sm-exact) {
      @include m.font-poppins(v.$fw-bold);
      @include m.font-scale(large);
    }
  }

  &__description {
    @include m.font-noto-sans();

    height: 80px;
    margin-top: 8px;
    margin-bottom: 40px;
    text-align: center;
    white-space: pre-wrap;
    color: var(--text-primary);
  }

  &__price {
    @include m.font-noto-sans();

    margin-bottom: 18px;
    color: var(--text-primary);

    @include m.breakpoint(v.$tablet-sm-exact) {
      margin-bottom: 24px;
    }
  }

  &__price-value {
    @include m.font-scale(large);
    @include m.font-poppins(v.$fw-bold);

    display: inline-block;
    margin-right: 5px;
  }

  &__price-description {
    display: none;

    @include m.breakpoint(v.$desktop-sm) {
      min-height: 1rem;
    }
  }

  &__bottom-panel {
    text-align: center;
  }

  &__features {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    b {
      color: var(--text-primary);
    }

    > p:empty {
      display: none;
    }

    > p {
      margin: 0;
    }
  }

  ul {
    position: relative;
    margin: 40px 0 44px 10px;
    list-style: none;
    white-space: pre-wrap;

    @include m.breakpoint(v.$phone) {
      margin: 0 18px 35px;
    }

    @include m.breakpoint(v.$tablet-sm-exact) {
      margin: 40px 0 49px 16px;
      padding-left: 12px;
    }

    &:has(.with-icon) {
      margin-left: 0;
      padding-left: 0;
    }

    li {
      @include m.font-poppins(v.$fw-medium);
      @include m.font-scale(base);

      position: relative;
      margin-bottom: 8px;
      padding-left: 26px;
      color: var(--text-primary);

      &::before {
        position: absolute;
        top: 6px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--gradient-primary);
        content: '';
      }

      p {
        display: contents;
      }
    }

    li.with-icon {
      margin-bottom: 10px;
      padding-left: 36px;

      &::before {
        content: none;
      }

      svg {
        position: absolute;
        top: -2px;
        left: 0;
        width: 24px;
        height: 24px;
      }
    }
  }

  .btn {
    width: 100%;
    margin: 0 auto;

    &--outline {
      padding: 16.4px 32px;
    }

    svg {
      margin-left: 8px;
    }
  }
}

.price-description-tooltip .ant-tooltip-inner {
  border-radius: 8px;
  padding: 16px;
}
